* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

span.liner {
    margin: 0 auto;
    width: 65px;
    background-color: #FFD166;
}

$mobile : 480px;
$table: 768px;
$desktop :1024px;

.contact {
    color: white;
    font-weight: 400;
    background: rgb(177, 128, 45);
    background: linear-gradient(90deg, rgba(177, 128, 45, 1) 0%, rgba(203, 163, 67, 1) 39%, rgba(200, 159, 65, 1) 78%);
    height: 40px;
    line-height: 40px;
    font-size: 13px;

    @media screen and (max-width : $mobile) {
        .tdmk {}

        .list-inline {
            li {
                display: none;

                &:last-child {
                    display: inline !important;

                }
            }
        }
    }

    .phone {
        i {
            color: white;
        }
    }
}

.menu {
    .navbar-toggler {
        margin-right: -45px;

        .navbar-toggler-icon {
            background-image: url(../images/list-menu.svg) !important;
        }
    }

    .diemban {
        position: absolute;
        right: 0;
        color: white;
        margin-top: 30px;
        margin-right: 10px;

        i {
            padding-left: 30px;
        }
    }

    button.bth-show-menu {}

    background: rgb(0, 104, 1);
    background: linear-gradient(90deg, rgba(0, 104, 1, 1) 0%, rgba(35, 131, 76, 1) 50%, rgba(0, 104, 1, 1) 100%);

    ._megamenu {
        @media screen and (min-width:$table) {
            width: 50rem;
            padding: 2rem;
            border: 5px solid #FFD166;
        }

        @media screen and (max-width : $mobile) {
            background-color: unset;
            border: unset;

        }

        .row .col-lg-6:last-child {
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        .item {
            border-bottom: 1px solid #ccc;
            padding: 15px;
            margin: 0 auto;
            width: 70%;
            font-weight: 600;
            font-size: 13px;

            @media screen and (max-width : $mobile) {
                width: unset;
                border: none;
                color: #414141;
                font-size: 11px;
                padding: 10px;
            }

            i {
                color: #f0be43;
                font-size: 12px;
                margin-right: 1rem;

                @media screen and (max-width: $mobile) {
                    font-size: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.buy {
    border: 1px solid #FFD166;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;

    i {
        margin-right: 8px;
    }

    @media screen and (max-width : $mobile) {
        display: none;
    }
}

.__title {

    font-size: 14px;
    font-weight: 600;

    @media screen and (min-width : $desktop) {
        font-size: 11px;
        color: white !important;
    }

    @media screen and (max-width :$mobile) {
        color: #414141 !important;
        font-size: 10px;

        &::after {
            content: none;
        }

        padding-top : 15px;
        padding-bottom: 15px;
    }

}





// Footer
footer {
    background-image: url(../images/footer-backround.png);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .logo-column {
        .list-ico {
            padding-top: 10px;

            img {
                width: 70%;
            }
        }
    }

    .address {
        margin-top: 2rem;

        h3 {
            font-weight: 500;
            font-size: 20px;
        }

        p {
            font-size: 12px;

            i {
                color: #f9d066;
                margin-right: 5px;

            }
        }
    }

    .list {
        color: white;
        font-size: 12px;

        @media screen and (max-width :$mobile) {
            display: none;
        }

        .col-6:first-child {
            @media screen and (max-width: $mobile) {
                padding-left: 2rem;
            }
        }

        a {
            color: white;
        }

        li {
            margin-top: 5px;
        }

    }

    button {
        background-color: #75a75e;
        color: white;
        border: none;
        padding: 10px 0 10px 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;

        // margin-top : 10px;
        @media screen and (max-width: $mobile) {
            font-size: 13px;
        }
    }

    .col-md-4 {
        .list-ico {
            span {
                margin: 0 15px 0 15px;
            }

            @media screen and(max-width : $mobile) {
                margin-top: 2rem;
                display: none !important;
            }
        }
    }

    .subcribe {
        padding-top: 2rem;

        p {
            margin-bottom: 1rem;
        }

        img {
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

        .input-group {
            button {
                background-color: #d0a437;
                color: white;
                font-weight: 500;
                border: unset;
                border-color: unset;
                font-size: 15px;
                margin-top: unset;
            }

            input {
                border-radius: 5px;
                border: none;
                border-color: unset;
                font-size: 15px;
            }
        }
    }

    .after {
        margin-top: 18px;
        position: absolute;
        width: 100%;
        background-color: #29472b;
        height: 30px;
        line-height: 30px;
        font-size: 12px;

        @media screen and (max-width : $mobile) {
            display: none;
        }

        .sdk {
            text-align: left;
        }

        .note {
            text-align: right;
        }
    }
}


// End menu footer

$mobile : 480px;
$table: 768px;
$desktop :1024px;
$green : #519746;
$orange : #CE9506;
$green-text : #4D8444;

.banner {
    p.breadcumb {
        font-size: 12px;
        margin-bottom: unset;
        height: 40px;
        line-height: 40px;

        a {
            color: black;
        }

        i {
            font-size: 11px;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
        width: 10px;
        height: 10px;
    }

    .swiper-button-prev {
        left: 30px;
    }

    .swiper-button-next {
        right: 30px;
    }
}

.liner {
    margin: 0 auto;
    height: 2px;
    background-color: #D3A638;
    margin-top: 1rem;
    display: block;
}

.main {
    margin-top: 2rem;

    .left-column {
        border: 1px solid #ccc;
        padding: 20px;

        .header {
            .liner {
                margin: unset !important;
                height: 2px;
                background-color: #DAA401;
                margin-top: 1rem;
                display: block;
                width: 100px;
            }

            h3 {
                color: $green;
            }

            hr {
                margin-top: -1px;
            }

            p.description {
                font-weight: 600;
                font-size: 13px;
            }
        }

        .body {
            .content {
                .title {
                    a {
                        color: $green;
                        font-weight: 600;
                    }
                }

                .time {
                    font-size: 12px;

                    i {
                        color: #EFA300;
                        margin-right: 5px;
                    }
                }

                .description {
                    font-weight: 600;
                    font-size: 13px;
                }

                p.read-more {
                    color: #EFA300;
                    font-size: 13px;
                    font-weight: 600;
                    margin-bottom: unset;
                    position: absolute;
                    bottom: 0;

                    i {
                        margin-left: 5px;
                        font-size: 11px;
                    }
                }
            }
        }
    }

    .img-product {
        h3 {
            font-size: 15px;
            font-weight: 600;
            color: $green;
            margin-top: 10px;
        }

        .info {
            .sale {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: unset;

                strong {
                    color: red;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .price-origin {
                font-size: 13px;
            }
        }
    }
}

.btn-area {
    i {
        color: white;
        line-height: 50px;
        margin-right: 5px;
    }

    .buy-area {
        background: rgb(0, 135, 83);
        background: linear-gradient(0deg, rgba(0, 135, 83, 1) 0%, rgba(43, 153, 71, 1) 100%);
        height: 52px;
        border-radius: 5px;
        display: block;
        width: 100%;

        // margin-right: 20px;
        a {
            color: white;
        }

        @media screen and (max-width : $mobile) {
            font-size: 15px;
        }
    }


    .buy-now {
        background: rgb(179, 129, 46);
        background: linear-gradient(0deg, rgba(179, 129, 46, 1) 0%, rgba(207, 157, 58, 1) 81%);
        border-radius: 5px;
        height: 52px;

        // margin-left: 20px;
        @media screen and (max-width : $mobile) {
            font-size: 15px;
        }

        a {
            color: white;
        }
    }
}

.customer {
    .header {
        background-color: $green;
        height: 50px;

        h3 {
            line-height: 50px;
            color: white;
            font-size: 12px;
            font-weight: 600;
        }
    }

    .body {
        background-color: #f2f2f2;
        padding: 5px 0 0 10px;

        .text {
            font-size: 12px;
            font-weight: 600;
            padding: 12px;
        }
    }
}

.newsest {
    .header {
        h3 {
            color: #408544;
            padding: 10px 0 0 10px;
            font-weight: 700;
            display: inline;
            font-size: 18px;
        }
    }

    .body {
        img {
            width: 100%;
        }

        .list-news {
            li {
                list-style: none;
                padding: 10px 15px 10px 15px;
                border: 1px solid #ccc;

                a {
                    color: black;
                    // display: inline-block;
                    font-size: 12px;
                    font-weight: 600;
                }

                i {
                    color: #feba01;
                    font-size: 11px;
                    margin-right: 5px;
                }
            }
        }
    }
}

.rv-star {
    .body {
        background-color: unset;

        .customer-rv {
            img {
                border-radius: 50% !important;
                width: 60%;
                height: 9rem;
            }

            .name {
                color: black;
                font-size: 13px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 5px;
            }

            .function {
                font-size: 12px;

            }

            .talk {
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                margin-top: 10px;
            }
        }
    }
}

.contact {
    height: auto !important;

    h3 {
        line-height: 50px;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }

    .header {
        height: 52px !important;
    }

    .body {
        background-color: #f2f2f2;
        height: 100%;

        form {
            width: 90%;
            margin: 0 auto;
            padding-top: 15px;

            input {
                height: 60px;
            }

            input,
            textarea {
                display: block;
                width: 100%;
                border: 1px solid #D3A638;
                border-radius: 5px;
                padding: 10px;
            }

            button {
                background-color: $green;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                color: white;
                font-weight: 500;
                margin-top: 1rem;

                @media screen and(max-width : $mobile) {
                    margin-bottom: 1rem;
                }

                i {
                    margin-left: 1rem;
                }
            }
        }
    }
}


// detail
.new-detail {
    .left-column {
        .header {
            h3 {
                color: $orange;
                font-size: 25px;
            }

            .time {
                font-size: 15px;
                margin-top: 15px;
                font-weight: 600;

                i {
                    color: $orange;
                    margin-right: 15px;
                }
            }

            .description {
                border: 1px dotted $orange;
                padding: 20px;
                color: $green-text;
            }
        }

        .body {
            ._list {
                .item {
                    font-size: 13px;

                    i {
                        color: $orange;
                        font-size: 10px;
                        margin-right: 5px;
                    }
                }
            }

            .content {
                .high-light {
                    color: $green-text;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}

.news {
    margin-bottom: 3rem;

    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }

    .body {
        .w-100 {
            margin-top: -10px;
        }

        .right-column {
            .title {
                a {
                    color: #639650;
                    font-weight: 600;
                }
            }
        }
    }
}

.banner-sale {
    @media screen and (max-width: $mobile) {
        display: none;
    }

    background-image: url(../images/banner-sale.png);
    width: 100%;
    height: 100%;

    .content {
        margin-top: 5rem;
        margin-right: 1rem;

        .title {
            color: #d8a204;
            font-weight: 600;
        }

        .des {
            font-weight: 600;
            font-size: 15px;
        }

        .border-cus {
            width: 80%;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid $orange;
            color: $green-text;
            font-weight: 600;
            font-size: 19px;
        }

        .action {
            font-size: 18px;
            text-align: center;
            color: white;
            font-weight: 400;
            line-height: 52px;
            margin-bottom: 3rem;

            i {
                padding-right: 10px;
            }

            .buy-area {
                background: rgb(0, 135, 83);
                background: linear-gradient(0deg, rgba(0, 135, 83, 1) 0%, rgba(43, 153, 71, 1) 100%);
                height: 52px;
                border-radius: 5px;

                a {
                    color: white;
                }

                @media screen and (max-width : $mobile) {
                    font-size: 15px;
                }
            }

            .buy-now {
                background: rgb(179, 129, 46);
                background: linear-gradient(0deg, rgba(179, 129, 46, 1) 0%, rgba(207, 157, 58, 1) 81%);
                border-radius: 5px;
                height: 52px;

                @media screen and (max-width : $mobile) {
                    font-size: 15px;
                }

                a {
                    color: white;
                }
            }
        }
    }
}

.page {
    margin-bottom: 2rem;

    .number {
        border: 1px solid #ccc;
        padding: 10px 10px 10px 10px;
        margin-right: 1rem;

        a {
            color: black;
        }
    }

    .active {
        border: none;
        color: white !important;
        background-color: $orange;
    }
}

// Hethong diem ban 

$mobile : 480px;
$table: 768px;
$desktop :1024px;
$green : #519746;

.banner {
    p.breadcumb {
        font-size: 12px;
        margin-bottom: unset;
        height: 40px;
        line-height: 40px;

        a {
            color: black;
        }

        i {
            font-size: 11px;
        }
    }

    h3 {
        color: #DAA401;
    }
}

.area {
    .header {
        h3 {
            color: $green;
        }
    }

    .body {
        ul {
            li {
                font-weight: 600;
                font-size: 15px;
                text-align: left;
                list-style-type: none;
                margin-top: 1rem;
                margin-bottom: 1rem;

                i {
                    color: $green;
                    font-size: 12px;
                }
            }
        }
    }
}

// End

// Home 

$mobile : 480px;
$table: 768px;
$desktop :1024px;

span.liner {
    background-color: #D39735;
    height: 2px;
    width: 65px;
    display: block;
}

.banner-2 {
    background-image: url(../images/banner-2.png);
    width: 100%;
    height: 100%;

    .left-column {
        .iso {
            position: absolute;
            top: -2rem;
            right: -2rem;
            width: 32%;

            @media screen and (max-width : $mobile) {
                right: 0;
            }

            @media screen and (min-width: $mobile +1) and (max-width : $table) {
                right: 0rem;
            }
        }
    }

    .right-column {
        @media screen and (min-width: $table) {
            padding-left: 2rem;
        }

        .b-white-mb {
            @media screen and (max-width : $mobile) {
                background-color: white;
            }
        }

        p.title {
            color: #D3A23E;
            font-size: 19pt;
            margin-bottom: unset;
            font-weight: 600;

            @media screen and (max-width : $mobile) {
                text-align: center;
                font-size: 15pt;
                font-weight: 700;
            }
        }

        p.bf-title {
            color: #428545;
            font-size: 11pt;
            font-weight: 500;

            @media screen and (max-width : $mobile) {
                font-size: 9pt;
                font-weight: 600;
                text-align: center;
            }
        }

        p.detail {
            font-size: 15px;
            font-weight: 500;
            margin-top: 10px;

            @media screen and (max-width : $mobile) {
                font-size: 11px;
                font-weight: 600;
                text-align: center;
            }
        }

        p.read-more {
            color: #D3A638;
            font-weight: 500;

            @media screen and (max-width : $mobile) {
                text-align: center;
            }
        }

        .list-function {
            p {
                margin-bottom: unset;
                height: 3rem;
                line-height: 3rem;
            }

            p:not(:first-child) {
                margin-top: 1rem;

                img {
                    width: 30px;
                    margin: 9px;
                }
            }

            .icon {
                width: 50px;
                height: 50px;
                border: 1px solid #B6863E;
                border-radius: 50%;
                position: absolute;
                background-color: white;

                img {
                    width: 40px;
                    margin: 5px;
                }
            }

            .text {
                padding-left: 5rem;
                color: #428545;
                font-weight: 600;
                font-size: 10pt;
                padding-top: 1rem;

                @media screen and (max-width : $mobile) {
                    padding-left: 4rem;
                    font-size: 8px;
                }

                @media screen and (min-width : $mobile) and (max-width : $table) {

                    font-size: 10px;
                }
            }

            .action {
                font-size: 18px;
                text-align: center;
                color: white;
                font-weight: 400;
                line-height: 52px;
                margin-bottom: 3rem;

                i {
                    padding-right: 10px;
                }

                .buy-area {
                    background: rgb(0, 135, 83);
                    background: linear-gradient(0deg, rgba(0, 135, 83, 1) 0%, rgba(43, 153, 71, 1) 100%);
                    height: 52px;
                    border-radius: 5px;
                    margin-right: 20px;
                    display: block;
                    width: 100%;
                    color: white;

                    &:hover {
                        text-decoration: none;
                    }

                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                    }
                }

                .buy-now {
                    background: rgb(179, 129, 46);
                    background: linear-gradient(0deg, rgba(179, 129, 46, 1) 0%, rgba(207, 157, 58, 1) 81%);
                    border-radius: 5px;
                    height: 52px;

                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                    }

                    display: block;
                    width: 100%;
                    color : white;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.banner-3 {
    .header {
        .liner {
            margin: 0 auto;
            width: 65px;
        }

        .title-mb {
            margin-top: -2rem;

            @media screen and (min-width: $table) {
                display: none;
            }

            .liner-text {
                position: absolute;
                background-color: black;
                width: 30px;
                height: 1px;
                margin-top: -30px;

            }

            .left {
                left: 50px;
            }

            .right {
                right: 50px;
            }

            p {
                color: $orange;
                font-weight: 700;
                font-size: 22px;

                &:last-child {
                    color: $green;
                    font-size: 11px;
                    margin-top: -10px
                }
            }
        }

        h3 {
            color: #428545;

            @media screen and (max-width : $mobile) {
                display: none;
            }
        }
    }

    div.body {
        margin-top: 2rem;

        ._header {}

        .img-border {
            border: 1px solid #FFD166;
            padding: 5px;
            height: 150px;
            -webkit-border-top-right-radius: 25px;
            -webkit-border-bottom-left-radius: 25px;
            -moz-border-radius-topright: 25px;
            -moz-border-radius-bottomleft: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;

            img {
                width: 84%;
                position: absolute;
                z-index: -99;
                margin-top: -10px;
                max-height: 150px;
            }
        }

        .content {
            font-weight: 500;
            font-size: 14px;
        }
    }


    .liner-gradient {
        height: 2px;
        margin-top: 2rem;
        background: rgb(238, 237, 215);
        background: linear-gradient(90deg, rgba(238, 237, 215, 1) 0%, rgba(211, 166, 56, 1) 52%, rgba(238, 237, 215, 1) 98%);
    }

    ._child-banner {
        ._header {
            @media screen and (min-width: $table) {
                display: none;
            }

            h3 {
                color: $green;
                font-size: 15px;

                &:last-child {
                    color: $orange;
                    font-size: 25px;
                }
            }

        }

        .header {
            h3.first {
                font-size: 25px;
                font-weight: 400;
            }

            h3.second {
                font-size: 25px;
                color: #D3A638;
                font-weight: 600;
                margin-bottom: 2rem;
            }

        }

        .blocks {
            .noo {
                width: 13rem !important;
            }

            span.liner {
                margin: 0 auto;
                background-color: white;
                width: 50px;
            }

            .block {
                padding-top: 25px !important;
                border-radius: 5px;
                border: none;
                color: white;
                padding: 10px;

                @media screen and(min-width : $desktop) {
                    min-height: 225px;
                }

                .title-block {
                    margin-top: 0rem;
                    font-size: 14px;
                }

                .content-block {
                    font-size: 13px;
                    padding-top: 20px;
                }
            }

            .green-block {
                //    @media screen and (min-width : $table) {
                //     background-color: #639650;
                //     border-radius: 5px;
                //    }

                &:first-child {
                    @media screen and (min-width: $mobile) and (max-width : $table) {
                        margin-top: unset;
                    }
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                    background-color: white !important;
                    border: 1px dotted black !important;
                    color: black !important;
                    font-weight: 700;

                    .content-block {
                        text-align: left;
                        padding-top: unset !important;
                    }

                    p:first-child {
                        // text-align: left;
                        background-color: $green;
                        width: 9rem;
                        color: white;
                        padding: 5px 10px 5px 10px;
                        margin-top: -50px;
                        margin-left: -11px;
                        border-top-right-radius: 10px;
                    }

                    .liner {
                        display: none;
                    }
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    margin-top: 2rem;
                }

            }

            .yeallow-block {
                @media screen and (min-width : $table) {
                    background-color: #D3A638;
                    border-radius: 5px;
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                    background-color: white !important;
                    border: 1px dotted black !important;
                    color: black !important;
                    font-weight: 700;

                    p:first-child {
                        // text-align: left;
                        background-color: $orange;
                        width: 9rem;
                        color: white;
                        padding: 5px 10px 5px 10px;
                        margin-top: -50px;
                        margin-left: -11px;
                        border-top-right-radius: 10px;
                    }

                    .liner {
                        display: none;
                    }

                    .content-block {
                        text-align: left;
                    }
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    // margin-top : unset;
                    margin-top: 2rem;
                }
            }
        }

        div.read-more {
            border: 1px solid #B6863E;
            border-radius: 5px;
            width: 200px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            // margin-bottom: 2rem;
            margin: 0 auto;

            a {
                color: #B6863E;
            }

        }
    }
}


.banner-4 {
    background-image: url(../images/banner-4.png);
    width: 100%;
    height: 100%;
    margin-top: 2rem;

    div.header {
        h3 {
            color: white;
            font-weight: 500;
            padding-top: 3rem;
        }

        span.liner {
            margin: 0 auto;
            width: 65px;
            background-color: #FFD166;
        }
    }

    .body {
        margin-top: 2rem;

        .start-review {
            .img-zone {
                border-radius: 50%;

                img {
                    width: 60%;
                }
            }

            .text-zone {
                position: relative;
                margin-top: 2rem;
                border: 1px dotted #FFD166;

                .container {
                    padding-left: 2.5rem;
                }

                img {
                    position: absolute;
                    margin-top: 15px;
                    left: 10px;
                    width: 20px;
                }

                p.name {
                    color: white;
                    padding-top: 1.5rem;
                    margin-bottom: 10px;
                }

                p.content {
                    color: white;
                    font-size: 14px;
                }

                &:after {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border: 1px dotted #FFD166;
                    border-bottom: none;
                    border-right: none;
                    border-radius: 5px;
                    left: 44%;
                    top: 0;
                    margin-top: -14px;
                    z-index: 99;
                    transform: rotate(45deg);
                    content: '';
                    // background: #33784C;
                }
            }
        }
    }
}

.banner-5 {
    .header {
        margin-top: 3rem;
        height: 3px;

        h3 {
            color: #428545;
            font-weight: 500;
            // font-size: 30px;
        }

        span.liner {
            margin: 0 auto;
        }
    }

    .body {
        padding-top: 4rem;

        .list-news {
            img {
                min-height: 355px;

                @media screen and(max-width : $mobile) {
                    min-height: unset;
                }
            }

            .content {
                padding: 10px;
                font-weight: 500;

                i {
                    color: #D3A638;
                    font-size: 12px;
                    margin-right: 5px;
                }

                a {
                    color: black;
                    font-size: 16px;
                }
            }
        }

    }
}

.banner-6 {
    background-image: url(../images/banner-2.png);
    width: 100%;
    height: 100%;

    .form-contact {
        background-color: white;
        height: 100%;

        .header {
            background-color: #639650;
            color: white;
            padding: 25px;

            h3 {
                font-weight: 600;

                @media screen and (max-width: $mobile) {
                    font-size: 15px;
                }
            }
        }

        .body {
            form {
                width: 90%;
                margin: 0 auto;

                input {
                    height: 60px;
                }

                input,
                textarea {
                    display: block;
                    width: 100%;
                    border: 1px solid #D3A638;
                    border-radius: 5px;
                    padding: 15px;
                    margin-top: 1.75rem;
                }

                button {
                    background: rgb(170, 130, 61);
                    background: linear-gradient(90deg, rgba(170, 130, 61, 1) 0%, rgba(210, 195, 104, 1) 51%, rgba(170, 130, 61, 1) 100%);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    width: 100%;
                    color: white;
                    font-weight: 500;
                    margin-top: 1rem;

                    @media screen and(max-width : $mobile) {
                        margin-bottom: 1rem;
                    }

                    i {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

.banner-7 {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }

    .body {
        img {
            max-height: 255px;
        }

        .content {
            padding: 10px;
            font-weight: 500;

            i {
                color: #D3A638;
                font-size: 12px;
                margin-right: 5px;
            }

            a {
                color: black;
                font-size: 13px;
            }
        }
    }

    .blocks {
        margin-bottom: 1rem;

        .header {
            img {
                margin-top: -23px;
            }

            h3 {
                display: inline;
            }
        }

        .body {
            img {
                width: 100%;
            }

            .list-news {
                li {
                    list-style: none;
                    padding: 10px 15px 10px 15px;
                    border: 1px solid #ccc;

                    a {
                        color: black;
                        // display: inline-block;
                        font-size: 12px;
                        font-weight: 600;
                    }

                    i {
                        color: #feba01;
                        font-size: 11px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.popup {
    .row {
        .popup-left {
            padding: unset;

            @media screen and(max-width : $mobile) {
                display: none;
            }
        }

        .popup-right {
            padding: unset;

            .header {
                background: rgb(69, 126, 85);
                background: linear-gradient(0deg, rgba(69, 126, 85, 1) 0%, rgba(52, 93, 59, 1) 100%);

                // height: 100%;
                img {
                    width: 40%;
                    padding-top: 15px;
                }

                h3 {
                    color: white;
                    font-size: 17px;
                    font-weight: 600;
                    padding: 20px;
                }
            }

            .body {
                form {
                    margin: 0 auto;
                    width: 80%;

                    input,
                    textarea {
                        margin-top: 7px;
                        width: 100%;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        padding: 9px;
                        // height: 100px;

                    }

                    button {
                        width: 100%;

                        @media screen and (min-width : $table) {
                            background: #b3812e;
                            background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
                            background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
                        }

                        @media screen and (max-width : $mobile) {
                            background-color: #d4a637;
                        }

                        color: white;
                        font-weight: 600;

                        i {
                            margin-left: 5px;
                        }
                    }
                }

                .doctor {
                    color: black;
                    font-weight: 600;
                    font-size: 13px;
                    padding-top: 10px;

                    strong {
                        color: red;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.btn-close-modal {
    @media screen and (max-width : $mobile) {
        // display: none;
        right: 0;
    }

    position: absolute;
    right: -54px;
    color : white;
    z-index: 99;
    top : 10px;

    span {
        padding: 20px;
        padding-top: 7px !important;
        background-color: black;

        @media screen and (max-width : $mobile) {
            background-color: unset;
        }
    }
}

// End home

// Product
$mobile : 480px;
$table: 768px;
$desktop :1024px;

.banner {
    p.breadcumb {
        font-size: 12px;
        margin-bottom: unset;
        height: 40px;
        line-height: 40px;

        a {
            color: black;
        }

        i {
            font-size: 11px;
        }
    }
}

.product {
    margin-top: 2rem;
    margin-bottom: 3rem;

    .left-column {
        .list-image {
            .active {
                border: 1px solid #FF911E;
            }

            .image {

                margin-top: 2rem;

                &:first-child {
                    margin-top: unset;
                }

                img {
                    width: 100%;
                }
            }

            @media screen and (max-width: $mobile) {
                display: none;
            }
        }

    }

    .right-column {
        h3 {
            color: #639650;
            font-weight: 600;
            font-size: 25px;

            @media screen and (max-width: $mobile) {
                font-size: 19px;
                margin-top: 1rem;
            }
        }

        p._price {
            .price-sale {
                font-weight: 600;

                strong {
                    color: red;
                    font-size: 25px;
                }
            }

            .price {
                font-weight: 500;
                margin-left: 2rem;
            }

            @media screen and (max-width: $mobile) {
                font-size: 12px;
            }
        }

        .quantity {
            .text {
                font-weight: 700;
                font-size: 15px;
            }
        }

        .payment {
            .action {
                font-size: 18px;
                text-align: center;
                color: white;
                font-weight: 400;
                line-height: 52px;
                margin-bottom: 3rem;

                i {
                    padding-right: 10px;
                }

                .buy-area {
                    background: rgb(0, 135, 83);
                    background: linear-gradient(0deg, rgba(0, 135, 83, 1) 0%, rgba(43, 153, 71, 1) 100%);
                    height: 52px;
                    border-radius: 5px;

                    // margin-right: 20px;
                    a {
                        color: white;
                    }

                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                    }
                }

                .buy-now {
                    background: rgb(179, 129, 46);
                    background: linear-gradient(0deg, rgba(179, 129, 46, 1) 0%, rgba(207, 157, 58, 1) 81%);
                    border-radius: 5px;
                    height: 52px;

                    // margin-left: 20px;
                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                        margin-top: 1rem;
                    }

                    a {
                        color: white;
                    }
                }

                p.info {
                    color: black;
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: none;

                    @media screen and (max-width: $mobile) {
                        font-size: 10px;
                        font-weight: 600;
                    }

                    i {
                        color: #d39735;
                        padding-right: 5px;

                    }
                }
            }
        }

        .list-function {
            border: 1px dotted #D3A638;
            padding: 10px 20px 5px 20px;

            border-radius: 10px;
            margin-top: -4rem;

            p._text {
                margin-bottom: unset;
                height: 3rem;
                line-height: 3rem;
                font-size: 15px;
                display: flex;
            }

            p:not(:first-child) {
                margin-top: 1rem;

                img {
                    width: 30px;
                    margin: 9px;
                }
            }

            .icon {
                width: 50px;
                height: 50px;
                border: 1px solid #B6863E;
                border-radius: 50%;
                position: absolute;
                background-color: white;

                img {
                    width: 40px;
                    margin: 5px;
                }
            }

            .text {
                padding-left: 4rem;
                color: #428545;
                font-weight: 600;
                font-size: 11px;

                @media screen and (max-width : $mobile) {
                    padding-left: 4rem;
                    font-size: 8px;
                }

                @media screen and (min-width : $mobile) and (max-width : $table) {

                    font-size: 10px;
                }
            }
        }
    }
}

.info-product {
    .header {
        .liner {
            margin: 0 auto;
            height: 2px;
            background-color: #D3A638;
            margin-top: 1rem;
        }

        h3 {
            @media screen and (max-width: $mobile) {
                text-align: left !important;
                font-size: 19px;
            }
        }

        .liner {
            @media screen and (max-width: $mobile) {
                margin: unset !important;
            }
        }

        .description {
            padding: 20px 20px 0 20px;
            background-color: #fffdf8;
            border: 1px dotted #d3a638;

            .text {
                font-weight: 600;
            }
        }
    }

    .body {
        ._header {
            .liner {
                background-color: #D3A638;
                margin: 0 auto;
                height: 2px;
            }

            h3 {
                @media screen and (max-width: $mobile) {
                    text-align: left !important;
                    font-size: 19px;
                }
            }

            .liner {
                @media screen and (max-width: $mobile) {
                    margin: unset !important;
                }
            }
        }

        .content {
            margin-top: 1.5rem;

            .text {
                font-weight: 500;
            }

            .image {
                width: 60%;
                margin: 0 auto;

            }

            .element {
                border: 1px dotted #639650;
                margin-top: 3rem;
                background-color: #fffdf8;

                .title {
                    background-image: url(../images/product/1x/element.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60%;
                    margin-top: -1px;
                    margin: 0 auto;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        padding-top: 9px;
                    }
                }

                .text {
                    .high-light {
                        color: #639650;
                        font-weight: 600;
                    }

                    padding : 20px;

                    p.line {
                        color: black;
                        font-weight: 600;
                    }
                }
            }

            .element-2 {
                border: 1px dotted #639650;
                margin-top: 3rem;
                background-color: #fffdf8;

                .title {
                    background-image: url(../images/product/ele2.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60%;
                    margin-top: -1px;
                    margin: 0 auto;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        padding-top: 9px;

                        @media screen and (max-width : $mobile) {
                            font-size: 16px;
                        }
                    }
                }

                .text {
                    .high-light {
                        color: #639650;
                        font-weight: 600;
                    }

                    padding : 20px;

                    p.line {
                        color: black;
                        font-weight: 600;
                    }
                }
            }

            .master {
                .header {
                    h3 {
                        color: #639650;
                        font-weight: 600;
                        margin-top: 2rem;

                    }

                    .liner {
                        background-color: #D3A638;
                        margin: 0 auto;
                        height: 2px;
                        display: block;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.banner-3 {
    .header {
        .liner {
            margin: 0 auto;
            width: 65px;
        }

        h3 {
            color: #428545;
        }
    }


    div.body {
        margin-top: 2rem;

        .img-border {
            border: 1px solid #FFD166;
            padding: 5px;
            height: 150px;
            -webkit-border-top-right-radius: 25px;
            -webkit-border-bottom-left-radius: 25px;
            -moz-border-radius-topright: 25px;
            -moz-border-radius-bottomleft: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;

            @media screen and (max-width : $mobile) {
                max-height: 100px;
            }

            img {
                width: 84%;
                position: absolute;
                z-index: -99;
                margin-top: -10px;
                max-height: 150px;
            }
        }

        .content {
            font-weight: 500;
            font-size: 14px;
        }
    }

    .liner-gradient {
        height: 2px;
        margin-top: 2rem;
        background: rgb(238, 237, 215);
        background: linear-gradient(90deg, rgba(238, 237, 215, 1) 0%, rgba(211, 166, 56, 1) 52%, rgba(238, 237, 215, 1) 98%);
    }

    ._child-banner {
        .header {
            h3.first {
                font-size: 25px;
                font-weight: 400;
            }

            h3.second {
                font-size: 25px;
                color: #D3A638;
                font-weight: 600;
                margin-bottom: 2rem;
            }

        }

        .blocks {
            span.liner {
                margin: 0 auto;
                background-color: white;
                width: 50px;
            }

            .block {
                padding-top: 25px !important;
                border-radius: 5px;
                border: none;
                color: white;
                padding: 10px;

                @media screen and(min-width : $desktop) {
                    min-height: 225px;
                }

                .title-block {
                    margin-top: 0rem;
                    font-size: 14px;
                }

                .content-block {
                    font-size: 13px;
                    padding-top: 20px;
                }
            }

            .green-block {
                background-color: #639650;
                // border: 1px solid red;
                border-radius: 5px;

                &:first-child {

                    // @media screen and (max-width: $mobile) {
                    //     margin-top : unset;
                    //   }
                    @media screen and (min-width: $mobile) and (max-width : $table) {
                        margin-top: unset;
                    }
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    // margin-top : unset;
                    margin-top: 2rem;
                }

            }

            .yeallow-block {
                background-color: #D3A638;
                border-radius: 5px;

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    // margin-top : unset;
                    margin-top: 2rem;
                }
            }
        }

        div.read-more {
            border: 1px solid #B6863E;
            border-radius: 5px;
            width: 200px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            // margin-bottom: 2rem;
            margin: 0 auto;

            a {
                color: #B6863E;
            }

        }
    }

}

.banner-4 {
    background-image: url(../images/banner-4.png);
    width: 100%;
    height: 100%;
    margin-top: 2rem;

    div.header {
        h3 {
            color: white;
            font-weight: 500;
            padding-top: 3rem;
        }

        span.liner {
            margin: 0 auto;
            width: 65px;
            background-color: #FFD166;
        }
    }

    .body {
        margin-top: 2rem;

        .start-review {
            .img-zone {
                border-radius: 50%;

                img {
                    width: 60%;
                }
            }

            .text-zone {
                position: relative;
                margin-top: 2rem;
                border: 1px dotted #FFD166;

                .container {
                    padding-left: 2.5rem;
                }

                img {
                    position: absolute;
                    margin-top: 15px;
                    left: 10px;
                    width: 20px;
                }

                p.name {
                    color: white;
                    padding-top: 1.5rem;
                    margin-bottom: 10px;
                }

                p.content {
                    color: white;
                    font-size: 14px;
                }

                &:after {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border: 1px dotted #FFD166;
                    border-bottom: none;
                    border-right: none;
                    border-radius: 5px;
                    left: 44%;
                    top: 0;
                    margin-top: -14px;
                    z-index: 99;
                    transform: rotate(45deg);
                    content: '';
                    // background: #33784C;
                }
            }
        }
    }
}

.banner-7 {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }

    .body {

        img {
            max-height: 255px;
        }

        .content {
            padding: 10px;
            font-weight: 500;

            i {
                color: #D3A638;
                font-size: 12px;
                margin-right: 5px;
            }

            a {
                color: black;
                font-size: 13px;
            }
        }
    }

}

.news {
    margin-bottom: 3rem;

    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }

    .body2 {
        img {
            width: 100%;
        }

        .list-news {
            li {
                list-style: none;
                padding: 10px 15px 10px 15px;
                border: 1px solid #ccc;

                a {
                    color: black;
                    // display: inline-block;
                    font-size: 12px;
                    font-weight: 600;
                }

                i {
                    color: #feba01;
                    font-size: 11px;
                    margin-right: 5px;
                }
            }
        }
    }

    .body {
        .w-100 {
            margin-top: -10px;
        }

        .right-column {
            .title {
                a {
                    color: #639650;
                    font-weight: 600;
                }
            }
        }
    }
}

h3 {
    color: #408544;
    font-weight: 600;
}

// ENd

.f-white {
    color: white !important;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}


.quantity {
    input.ip-quantity {
        width: 60px;
        height: 40px;
    }

    .change {
        // border-left: 1px solid #ccc;
        height: 10px;
        // margin-top: 10px;
        cursor: pointer;
        position: absolute;
        margin-left: -15px;

        i {
            font-size: 13px;
        }
    }

    .up {
        margin-top: -5px;

        &:hover {
            color: $green;
        }
    }

    .down {
        &:hover {
            color: $green;
        }

        margin-top :17px;
    }

}

.navbar-brand {
    @media screen and (max-width: $mobile) {
        margin-left: 73px;
    }

    img {
        @media screen and (max-width : $mobile) {
            width: 70%;
        }
    }
}

.navbar-toggler {
    border-color: none !important;
    position: absolute;
    float: left;
}

#navbar {
    @media screen and (max-width : $mobile) {
        position: fixed;
        top: 64px;
        background-color: #fff;
        z-index: 999;
        padding: 20px;
        left: 0;
        width: 13rem;
        height: 100%;
        transition: 0.5s;
        left: -20rem;

        .nav-item {
            border-bottom: 1px solid #ebebeb;

            .icon-menu {
                position: absolute;
                top: 17px;
                right: 0;
                font-size: 10px;
            }

        }

        .icon-close {
            position: absolute;
            padding: 10px 15px 10px 15px;
            background-color: #e5e5e5;
            color: black;
            top: 0;
            right: -40px;
            border-bottom-right-radius: 10px;
        }

    }
}

.iconn-menu {
    border-bottom: unset !important;

    img {
        width: 30px;
        margin: 5px;
    }
}

.btn-show-menu {
    border-color: rgba(0, 0, 0, 0) !important;
    padding: unset;
}

.menu-fixed {
    position: fixed;
    width: 100%;
    z-index: 999;

    @media screen and (min-width : $table) {
        top: 0;
    }
}

.fixed-bottom {
    @media screen and (min-width : $table) {
        display: none;
    }

    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    line-height: 60px;
    font-size: 15px;

    .sub {
        background-color: #27aae2;
        padding: 10px;

        opacity: unset;
    }

    .call-red {
        background-color: #ef4136;

        padding: 10px;

    }

    i {
        margin-right: 5px;
    }
}

.banner {
    .owl-stage-outer {
        width: 100%;
    }
}

.regft {
    @media screen and (min-width : $mobile) {
        display: none;
    }

    display: -webkit-flex;
    width: 100%;
    height: 60px;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    bottom: 0;
    z-index: 10;
}

.regft a {
    flex: 1;
    margin: 10px 0 10px 10px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 20px;
    background: #f2ede3;
    cursor: pointer;
    font-weight: 600;
}

.regft a:nth-child(2) {
    margin-right: 10px;
    background-color: #ef4136;
}

.regft a:nth-child(1) {
    margin-right: 10px;
    background-color: #27aae2;
}

.min-height-custom {
    @media screen and (max-width: $mobile) {
        min-height: 150px !important;
    }
}

.d-none-mb {
    @media screen and (max-width: $mobile) {
        display: none !important;
    }
}

.swiper-pagination-bullet-active {
    background: $orange !important;
}

.dot-cus {
    margin: 5px;

}

.swiper-pagination-bullet {
    background-color: white;
}

.banner-4 {
    .swiper-pagination {
        position: unset !important;
        display: block;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
}

.banner-in {
    .header-1 {
        background: linear-gradient(90deg, #006801 0%, #23834c 50%, #006801 100%);
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 10px 0;

        .high {
            color: #fed523;
            font-size: 19px;
            margin-bottom: 5px;
        }
    }

    .f2 {
        .header-2 {
            color: white;
            font-weight: 500;
            font-size: 10px;
            padding: 10px 0;
            background-color: #529746 !important;

            p {
                margin-bottom: unset;
            }

            .high {
                color: #fed523;
                font-size: 19px;
                margin-bottom: 5px;
            }
        }

        .body {
            background-color: #fbf5e9;
            padding-top: 15px;
            padding-bottom: 1px;
            .fj-3 {
                color: red;
                background-color: white;
                font-weight: 600;
                border: 1px solid red;
                padding: 10px;
                border-radius: 5px;
                font-size: 15px;
            }

            form {

                input,
                textarea {
                    width: 100%;
                    border-radius: 5px;
                    border: 1px solid #fbd17f;
                    padding: 10px;
                    margin: 10px 0;
                    color: black;
                }

                .row {
                    a {
                        height: 100%;
                        line-height: 38px;
                        color: white;
                        border-radius: 5px;
                        background-color: #529746;
                    }
                    button{
                        background-color: #daa501;
                        width: 100%;
                        color :white;

                    }
                }
                .sm-t{
                    color : black;
                    font-weight: 600;
                    font-size: 11px;
                }
            }
        }
    }
}