* {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

span.liner {
  margin: 0 auto;
  width: 65px;
  background-color: #FFD166;
}

.contact {
  color: white;
  font-weight: 400;
  background: #b1802d;
  background: -webkit-gradient(linear, left top, right top, from(#b1802d), color-stop(39%, #cba343), color-stop(78%, #c89f41));
  background: linear-gradient(90deg, #b1802d 0%, #cba343 39%, #c89f41 78%);
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .contact .list-inline li {
    display: none;
  }
  .contact .list-inline li:last-child {
    display: inline !important;
  }
}

.contact .phone i {
  color: white;
}

.menu {
  background: #006801;
  background: -webkit-gradient(linear, left top, right top, from(#006801), color-stop(50%, #23834c), to(#006801));
  background: linear-gradient(90deg, #006801 0%, #23834c 50%, #006801 100%);
}

.menu .navbar-toggler {
  margin-right: -45px;
}

.menu .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/list-menu.svg) !important;
}

.menu .diemban {
  position: absolute;
  right: 0;
  color: white;
  margin-top: 30px;
  margin-right: 10px;
}

.menu .diemban i {
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .menu ._megamenu {
    width: 50rem;
    padding: 2rem;
    border: 5px solid #FFD166;
  }
}

@media screen and (max-width: 480px) {
  .menu ._megamenu {
    background-color: unset;
    border: unset;
  }
}

@media screen and (max-width: 480px) {
  .menu ._megamenu .row .col-lg-6:last-child {
    display: none;
  }
}

.menu ._megamenu .item {
  border-bottom: 1px solid #ccc;
  padding: 15px;
  margin: 0 auto;
  width: 70%;
  font-weight: 600;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .menu ._megamenu .item {
    width: unset;
    border: none;
    color: #414141;
    font-size: 11px;
    padding: 10px;
  }
}

.menu ._megamenu .item i {
  color: #f0be43;
  font-size: 12px;
  margin-right: 1rem;
}

@media screen and (max-width: 480px) {
  .menu ._megamenu .item i {
    font-size: 5px;
    margin-right: 5px;
  }
}

.buy {
  border: 1px solid #FFD166;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.buy i {
  margin-right: 8px;
}

@media screen and (max-width: 480px) {
  .buy {
    display: none;
  }
}

.__title {
  font-size: 14px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .__title {
    font-size: 11px;
    color: white !important;
  }
}

@media screen and (max-width: 480px) {
  .__title {
    color: #414141 !important;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .__title::after {
    content: none;
  }
}

footer {
  background-image: url(../images/footer-backround.png);
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .logo-column .list-ico {
  padding-top: 10px;
}

footer .logo-column .list-ico img {
  width: 70%;
}

footer .address {
  margin-top: 2rem;
}

footer .address h3 {
  font-weight: 500;
  font-size: 20px;
}

footer .address p {
  font-size: 12px;
}

footer .address p i {
  color: #f9d066;
  margin-right: 5px;
}

footer .list {
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  footer .list {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  footer .list .col-6:first-child {
    padding-left: 2rem;
  }
}

footer .list a {
  color: white;
}

footer .list li {
  margin-top: 5px;
}

footer button {
  background-color: #75a75e;
  color: white;
  border: none;
  padding: 10px 0 10px 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  footer button {
    font-size: 13px;
  }
}

footer .col-md-4 .list-ico span {
  margin: 0 15px 0 15px;
}

@media screen and (max-width: 480px) {
  footer .col-md-4 .list-ico {
    margin-top: 2rem;
    display: none !important;
  }
}

footer .subcribe {
  padding-top: 2rem;
}

footer .subcribe p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  footer .subcribe img {
    display: none;
  }
}

footer .subcribe .input-group button {
  background-color: #d0a437;
  color: white;
  font-weight: 500;
  border: unset;
  border-color: unset;
  font-size: 15px;
  margin-top: unset;
}

footer .subcribe .input-group input {
  border-radius: 5px;
  border: none;
  border-color: unset;
  font-size: 15px;
}

footer .after {
  margin-top: 18px;
  position: absolute;
  width: 100%;
  background-color: #29472b;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  footer .after {
    display: none;
  }
}

footer .after .sdk {
  text-align: left;
}

footer .after .note {
  text-align: right;
}

.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
  color: white;
  width: 10px;
  height: 10px;
}

.banner .swiper-button-prev {
  left: 30px;
}

.banner .swiper-button-next {
  right: 30px;
}

.liner {
  margin: 0 auto;
  height: 2px;
  background-color: #D3A638;
  margin-top: 1rem;
  display: block;
}

.main {
  margin-top: 2rem;
}

.main .left-column {
  border: 1px solid #ccc;
  padding: 20px;
}

.main .left-column .header .liner {
  margin: unset !important;
  height: 2px;
  background-color: #DAA401;
  margin-top: 1rem;
  display: block;
  width: 100px;
}

.main .left-column .header h3 {
  color: #519746;
}

.main .left-column .header hr {
  margin-top: -1px;
}

.main .left-column .header p.description {
  font-weight: 600;
  font-size: 13px;
}

.main .left-column .body .content .title a {
  color: #519746;
  font-weight: 600;
}

.main .left-column .body .content .time {
  font-size: 12px;
}

.main .left-column .body .content .time i {
  color: #EFA300;
  margin-right: 5px;
}

.main .left-column .body .content .description {
  font-weight: 600;
  font-size: 13px;
}

.main .left-column .body .content p.read-more {
  color: #EFA300;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: unset;
  position: absolute;
  bottom: 0;
}

.main .left-column .body .content p.read-more i {
  margin-left: 5px;
  font-size: 11px;
}

.main .img-product h3 {
  font-size: 15px;
  font-weight: 600;
  color: #519746;
  margin-top: 10px;
}

.main .img-product .info .sale {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: unset;
}

.main .img-product .info .sale strong {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.main .img-product .info .price-origin {
  font-size: 13px;
}

.btn-area i {
  color: white;
  line-height: 50px;
  margin-right: 5px;
}

.btn-area .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.btn-area .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .btn-area .buy-area {
    font-size: 15px;
  }
}

.btn-area .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
}

@media screen and (max-width: 480px) {
  .btn-area .buy-now {
    font-size: 15px;
  }
}

.btn-area .buy-now a {
  color: white;
}

.customer .header {
  background-color: #519746;
  height: 50px;
}

.customer .header h3 {
  line-height: 50px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.customer .body {
  background-color: #f2f2f2;
  padding: 5px 0 0 10px;
}

.customer .body .text {
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
}

.newsest .header h3 {
  color: #408544;
  padding: 10px 0 0 10px;
  font-weight: 700;
  display: inline;
  font-size: 18px;
}

.newsest .body img {
  width: 100%;
}

.newsest .body .list-news li {
  list-style: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ccc;
}

.newsest .body .list-news li a {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.newsest .body .list-news li i {
  color: #feba01;
  font-size: 11px;
  margin-right: 5px;
}

.rv-star .body {
  background-color: unset;
}

.rv-star .body .customer-rv img {
  border-radius: 50% !important;
  width: 60%;
  height: 9rem;
}

.rv-star .body .customer-rv .name {
  color: black;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.rv-star .body .customer-rv .function {
  font-size: 12px;
}

.rv-star .body .customer-rv .talk {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.contact {
  height: auto !important;
}

.contact h3 {
  line-height: 50px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.contact .header {
  height: 52px !important;
}

.contact .body {
  background-color: #f2f2f2;
  height: 100%;
}

.contact .body form {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

.contact .body form input {
  height: 60px;
}

.contact .body form input,
.contact .body form textarea {
  display: block;
  width: 100%;
  border: 1px solid #D3A638;
  border-radius: 5px;
  padding: 10px;
}

.contact .body form button {
  background-color: #519746;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .contact .body form button {
    margin-bottom: 1rem;
  }
}

.contact .body form button i {
  margin-left: 1rem;
}

.new-detail .left-column .header h3 {
  color: #CE9506;
  font-size: 25px;
}

.new-detail .left-column .header .time {
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.new-detail .left-column .header .time i {
  color: #CE9506;
  margin-right: 15px;
}

.new-detail .left-column .header .description {
  border: 1px dotted #CE9506;
  padding: 20px;
  color: #4D8444;
}

.new-detail .left-column .body ._list .item {
  font-size: 13px;
}

.new-detail .left-column .body ._list .item i {
  color: #CE9506;
  font-size: 10px;
  margin-right: 5px;
}

.new-detail .left-column .body .content .high-light {
  color: #4D8444;
  font-size: 14px;
  font-weight: 600;
}

.news {
  margin-bottom: 3rem;
}

.news .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.news .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .news .header h3 {
    font-size: 15px;
  }
}

.news .read-all {
  margin-top: -2rem;
  color: #408544;
}

.news .read-all a {
  color: #408544;
}

.news .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.news .body .w-100 {
  margin-top: -10px;
}

.news .body .right-column .title a {
  color: #639650;
  font-weight: 600;
}

.banner-sale {
  background-image: url(../images/banner-sale.png);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .banner-sale {
    display: none;
  }
}

.banner-sale .content {
  margin-top: 5rem;
  margin-right: 1rem;
}

.banner-sale .content .title {
  color: #d8a204;
  font-weight: 600;
}

.banner-sale .content .des {
  font-weight: 600;
  font-size: 15px;
}

.banner-sale .content .border-cus {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #CE9506;
  color: #4D8444;
  font-weight: 600;
  font-size: 19px;
}

.banner-sale .content .action {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 3rem;
}

.banner-sale .content .action i {
  padding-right: 10px;
}

.banner-sale .content .action .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
}

.banner-sale .content .action .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .banner-sale .content .action .buy-area {
    font-size: 15px;
  }
}

.banner-sale .content .action .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
}

@media screen and (max-width: 480px) {
  .banner-sale .content .action .buy-now {
    font-size: 15px;
  }
}

.banner-sale .content .action .buy-now a {
  color: white;
}

.page {
  margin-bottom: 2rem;
}

.page .number {
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
  margin-right: 1rem;
}

.page .number a {
  color: black;
}

.page .active {
  border: none;
  color: white !important;
  background-color: #CE9506;
}

.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.banner h3 {
  color: #DAA401;
}

.area .header h3 {
  color: #519746;
}

.area .body ul li {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.area .body ul li i {
  color: #519746;
  font-size: 12px;
}

span.liner {
  background-color: #D39735;
  height: 2px;
  width: 65px;
  display: block;
}

.banner-2 {
  background-image: url(../images/banner-2.png);
  width: 100%;
  height: 100%;
}

.banner-2 .left-column .iso {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 32%;
}

@media screen and (max-width: 480px) {
  .banner-2 .left-column .iso {
    right: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .banner-2 .left-column .iso {
    right: 0rem;
  }
}

@media screen and (min-width: 768px) {
  .banner-2 .right-column {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .b-white-mb {
    background-color: white;
  }
}

.banner-2 .right-column p.title {
  color: #D3A23E;
  font-size: 19pt;
  margin-bottom: unset;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column p.title {
    text-align: center;
    font-size: 15pt;
    font-weight: 700;
  }
}

.banner-2 .right-column p.bf-title {
  color: #428545;
  font-size: 11pt;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column p.bf-title {
    font-size: 9pt;
    font-weight: 600;
    text-align: center;
  }
}

.banner-2 .right-column p.detail {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column p.detail {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
  }
}

.banner-2 .right-column p.read-more {
  color: #D3A638;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column p.read-more {
    text-align: center;
  }
}

.banner-2 .right-column .list-function p {
  margin-bottom: unset;
  height: 3rem;
  line-height: 3rem;
}

.banner-2 .right-column .list-function p:not(:first-child) {
  margin-top: 1rem;
}

.banner-2 .right-column .list-function p:not(:first-child) img {
  width: 30px;
  margin: 9px;
}

.banner-2 .right-column .list-function .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #B6863E;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

.banner-2 .right-column .list-function .icon img {
  width: 40px;
  margin: 5px;
}

.banner-2 .right-column .list-function .text {
  padding-left: 5rem;
  color: #428545;
  font-weight: 600;
  font-size: 10pt;
  padding-top: 1rem;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .text {
    padding-left: 4rem;
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-2 .right-column .list-function .text {
    font-size: 10px;
  }
}

.banner-2 .right-column .list-function .action {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 3rem;
}

.banner-2 .right-column .list-function .action i {
  padding-right: 10px;
}

.banner-2 .right-column .list-function .action .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
  margin-right: 20px;
  display: block;
  width: 100%;
  color: white;
}

.banner-2 .right-column .list-function .action .buy-area:hover {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .action .buy-area {
    font-size: 15px;
  }
}

.banner-2 .right-column .list-function .action .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
  display: block;
  width: 100%;
  color: white;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .action .buy-now {
    font-size: 15px;
  }
}

.banner-2 .right-column .list-function .action .buy-now:hover {
  text-decoration: none;
}

.banner-3 .header .liner {
  margin: 0 auto;
  width: 65px;
}

.banner-3 .header .title-mb {
  margin-top: -2rem;
}

@media screen and (min-width: 768px) {
  .banner-3 .header .title-mb {
    display: none;
  }
}

.banner-3 .header .title-mb .liner-text {
  position: absolute;
  background-color: black;
  width: 30px;
  height: 1px;
  margin-top: -30px;
}

.banner-3 .header .title-mb .left {
  left: 50px;
}

.banner-3 .header .title-mb .right {
  right: 50px;
}

.banner-3 .header .title-mb p {
  color: #CE9506;
  font-weight: 700;
  font-size: 22px;
}

.banner-3 .header .title-mb p:last-child {
  color: #519746;
  font-size: 11px;
  margin-top: -10px;
}

.banner-3 .header h3 {
  color: #428545;
}

@media screen and (max-width: 480px) {
  .banner-3 .header h3 {
    display: none;
  }
}

.banner-3 div.body {
  margin-top: 2rem;
}

.banner-3 div.body .img-border {
  border: 1px solid #FFD166;
  padding: 5px;
  height: 150px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.banner-3 div.body .img-border img {
  width: 84%;
  position: absolute;
  z-index: -99;
  margin-top: -10px;
  max-height: 150px;
}

.banner-3 div.body .content {
  font-weight: 500;
  font-size: 14px;
}

.banner-3 .liner-gradient {
  height: 2px;
  margin-top: 2rem;
  background: #eeedd7;
  background: -webkit-gradient(linear, left top, right top, from(#eeedd7), color-stop(52%, #d3a638), color-stop(98%, #eeedd7));
  background: linear-gradient(90deg, #eeedd7 0%, #d3a638 52%, #eeedd7 98%);
}

@media screen and (min-width: 768px) {
  .banner-3 ._child-banner ._header {
    display: none;
  }
}

.banner-3 ._child-banner ._header h3 {
  color: #519746;
  font-size: 15px;
}

.banner-3 ._child-banner ._header h3:last-child {
  color: #CE9506;
  font-size: 25px;
}

.banner-3 ._child-banner .header h3.first {
  font-size: 25px;
  font-weight: 400;
}

.banner-3 ._child-banner .header h3.second {
  font-size: 25px;
  color: #D3A638;
  font-weight: 600;
  margin-bottom: 2rem;
}

.banner-3 ._child-banner .blocks .noo {
  width: 13rem !important;
}

.banner-3 ._child-banner .blocks span.liner {
  margin: 0 auto;
  background-color: white;
  width: 50px;
}

.banner-3 ._child-banner .blocks .block {
  padding-top: 25px !important;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .banner-3 ._child-banner .blocks .block {
    min-height: 225px;
  }
}

.banner-3 ._child-banner .blocks .block .title-block {
  margin-top: 0rem;
  font-size: 14px;
}

.banner-3 ._child-banner .blocks .block .content-block {
  font-size: 13px;
  padding-top: 20px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block:first-child {
    margin-top: unset;
  }
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
    background-color: white !important;
    border: 1px dotted black !important;
    color: black !important;
    font-weight: 700;
  }
  .banner-3 ._child-banner .blocks .green-block .content-block {
    text-align: left;
    padding-top: unset !important;
  }
  .banner-3 ._child-banner .blocks .green-block p:first-child {
    background-color: #519746;
    width: 9rem;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: -50px;
    margin-left: -11px;
    border-top-right-radius: 10px;
  }
  .banner-3 ._child-banner .blocks .green-block .liner {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    background-color: #D3A638;
    border-radius: 5px;
  }
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
    background-color: white !important;
    border: 1px dotted black !important;
    color: black !important;
    font-weight: 700;
  }
  .banner-3 ._child-banner .blocks .yeallow-block p:first-child {
    background-color: #CE9506;
    width: 9rem;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: -50px;
    margin-left: -11px;
    border-top-right-radius: 10px;
  }
  .banner-3 ._child-banner .blocks .yeallow-block .liner {
    display: none;
  }
  .banner-3 ._child-banner .blocks .yeallow-block .content-block {
    text-align: left;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner div.read-more {
  border: 1px solid #B6863E;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
}

.banner-3 ._child-banner div.read-more a {
  color: #B6863E;
}

.banner-4 {
  background-image: url(../images/banner-4.png);
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.banner-4 div.header h3 {
  color: white;
  font-weight: 500;
  padding-top: 3rem;
}

.banner-4 div.header span.liner {
  margin: 0 auto;
  width: 65px;
  background-color: #FFD166;
}

.banner-4 .body {
  margin-top: 2rem;
}

.banner-4 .body .start-review .img-zone {
  border-radius: 50%;
}

.banner-4 .body .start-review .img-zone img {
  width: 60%;
}

.banner-4 .body .start-review .text-zone {
  position: relative;
  margin-top: 2rem;
  border: 1px dotted #FFD166;
}

.banner-4 .body .start-review .text-zone .container {
  padding-left: 2.5rem;
}

.banner-4 .body .start-review .text-zone img {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  width: 20px;
}

.banner-4 .body .start-review .text-zone p.name {
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 10px;
}

.banner-4 .body .start-review .text-zone p.content {
  color: white;
  font-size: 14px;
}

.banner-4 .body .start-review .text-zone:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px dotted #FFD166;
  border-bottom: none;
  border-right: none;
  border-radius: 5px;
  left: 44%;
  top: 0;
  margin-top: -14px;
  z-index: 99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}

.banner-5 .header {
  margin-top: 3rem;
  height: 3px;
}

.banner-5 .header h3 {
  color: #428545;
  font-weight: 500;
}

.banner-5 .header span.liner {
  margin: 0 auto;
}

.banner-5 .body {
  padding-top: 4rem;
}

.banner-5 .body .list-news img {
  min-height: 355px;
}

@media screen and (max-width: 480px) {
  .banner-5 .body .list-news img {
    min-height: unset;
  }
}

.banner-5 .body .list-news .content {
  padding: 10px;
  font-weight: 500;
}

.banner-5 .body .list-news .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-5 .body .list-news .content a {
  color: black;
  font-size: 16px;
}

.banner-6 {
  background-image: url(../images/banner-2.png);
  width: 100%;
  height: 100%;
}

.banner-6 .form-contact {
  background-color: white;
  height: 100%;
}

.banner-6 .form-contact .header {
  background-color: #639650;
  color: white;
  padding: 25px;
}

.banner-6 .form-contact .header h3 {
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .banner-6 .form-contact .header h3 {
    font-size: 15px;
  }
}

.banner-6 .form-contact .body form {
  width: 90%;
  margin: 0 auto;
}

.banner-6 .form-contact .body form input {
  height: 60px;
}

.banner-6 .form-contact .body form input,
.banner-6 .form-contact .body form textarea {
  display: block;
  width: 100%;
  border: 1px solid #D3A638;
  border-radius: 5px;
  padding: 15px;
  margin-top: 1.75rem;
}

.banner-6 .form-contact .body form button {
  background: #aa823d;
  background: -webkit-gradient(linear, left top, right top, from(#aa823d), color-stop(51%, #d2c368), to(#aa823d));
  background: linear-gradient(90deg, #aa823d 0%, #d2c368 51%, #aa823d 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .banner-6 .form-contact .body form button {
    margin-bottom: 1rem;
  }
}

.banner-6 .form-contact .body form button i {
  margin-left: 1rem;
}

.banner-7 .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-7 .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .banner-7 .header h3 {
    font-size: 15px;
  }
}

.banner-7 .read-all {
  margin-top: -2rem;
  color: #408544;
}

.banner-7 .read-all a {
  color: #408544;
}

.banner-7 .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.banner-7 .body img {
  max-height: 255px;
}

.banner-7 .body .content {
  padding: 10px;
  font-weight: 500;
}

.banner-7 .body .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-7 .body .content a {
  color: black;
  font-size: 13px;
}

.banner-7 .blocks {
  margin-bottom: 1rem;
}

.banner-7 .blocks .header img {
  margin-top: -23px;
}

.banner-7 .blocks .header h3 {
  display: inline;
}

.banner-7 .blocks .body img {
  width: 100%;
}

.banner-7 .blocks .body .list-news li {
  list-style: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ccc;
}

.banner-7 .blocks .body .list-news li a {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.banner-7 .blocks .body .list-news li i {
  color: #feba01;
  font-size: 11px;
  margin-right: 5px;
}

.popup .row .popup-left {
  padding: unset;
}

@media screen and (max-width: 480px) {
  .popup .row .popup-left {
    display: none;
  }
}

.popup .row .popup-right {
  padding: unset;
}

.popup .row .popup-right .header {
  background: #457e55;
  background: -webkit-gradient(linear, left bottom, left top, from(#457e55), to(#345d3b));
  background: linear-gradient(0deg, #457e55 0%, #345d3b 100%);
}

.popup .row .popup-right .header img {
  width: 40%;
  padding-top: 15px;
}

.popup .row .popup-right .header h3 {
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 20px;
}

.popup .row .popup-right .body form {
  margin: 0 auto;
  width: 80%;
}

.popup .row .popup-right .body form input,
.popup .row .popup-right .body form textarea {
  margin-top: 7px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 9px;
}

.popup .row .popup-right .body form button {
  width: 100%;
  color: white;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .popup .row .popup-right .body form button {
    background: #b3812e;
    background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
    background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  }
}

@media screen and (max-width: 480px) {
  .popup .row .popup-right .body form button {
    background-color: #d4a637;
  }
}

.popup .row .popup-right .body form button i {
  margin-left: 5px;
}

.popup .row .popup-right .body .doctor {
  color: black;
  font-weight: 600;
  font-size: 13px;
  padding-top: 10px;
}

.popup .row .popup-right .body .doctor strong {
  color: red;
  font-size: 16px;
}

.btn-close-modal {
  position: absolute;
  right: -54px;
  color: white;
  z-index: 99;
  top: 10px;
}

@media screen and (max-width: 480px) {
  .btn-close-modal {
    right: 0;
  }
}

.btn-close-modal span {
  padding: 20px;
  padding-top: 7px !important;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .btn-close-modal span {
    background-color: unset;
  }
}

.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.product {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product .left-column .list-image .active {
  border: 1px solid #FF911E;
}

.product .left-column .list-image .image {
  margin-top: 2rem;
}

.product .left-column .list-image .image:first-child {
  margin-top: unset;
}

.product .left-column .list-image .image img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .product .left-column .list-image {
    display: none;
  }
}

.product .right-column h3 {
  color: #639650;
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .product .right-column h3 {
    font-size: 19px;
    margin-top: 1rem;
  }
}

.product .right-column p._price .price-sale {
  font-weight: 600;
}

.product .right-column p._price .price-sale strong {
  color: red;
  font-size: 25px;
}

.product .right-column p._price .price {
  font-weight: 500;
  margin-left: 2rem;
}

@media screen and (max-width: 480px) {
  .product .right-column p._price {
    font-size: 12px;
  }
}

.product .right-column .quantity .text {
  font-weight: 700;
  font-size: 15px;
}

.product .right-column .payment .action {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 3rem;
}

.product .right-column .payment .action i {
  padding-right: 10px;
}

.product .right-column .payment .action .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
}

.product .right-column .payment .action .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action .buy-area {
    font-size: 15px;
  }
}

.product .right-column .payment .action .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action .buy-now {
    font-size: 15px;
    margin-top: 1rem;
  }
}

.product .right-column .payment .action .buy-now a {
  color: white;
}

.product .right-column .payment .action p.info {
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action p.info {
    font-size: 10px;
    font-weight: 600;
  }
}

.product .right-column .payment .action p.info i {
  color: #d39735;
  padding-right: 5px;
}

.product .right-column .list-function {
  border: 1px dotted #D3A638;
  padding: 10px 20px 5px 20px;
  border-radius: 10px;
  margin-top: -4rem;
}

.product .right-column .list-function p._text {
  margin-bottom: unset;
  height: 3rem;
  line-height: 3rem;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .right-column .list-function p:not(:first-child) {
  margin-top: 1rem;
}

.product .right-column .list-function p:not(:first-child) img {
  width: 30px;
  margin: 9px;
}

.product .right-column .list-function .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #B6863E;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

.product .right-column .list-function .icon img {
  width: 40px;
  margin: 5px;
}

.product .right-column .list-function .text {
  padding-left: 4rem;
  color: #428545;
  font-weight: 600;
  font-size: 11px;
}

@media screen and (max-width: 480px) {
  .product .right-column .list-function .text {
    padding-left: 4rem;
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .product .right-column .list-function .text {
    font-size: 10px;
  }
}

.info-product .header .liner {
  margin: 0 auto;
  height: 2px;
  background-color: #D3A638;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .info-product .header h3 {
    text-align: left !important;
    font-size: 19px;
  }
}

@media screen and (max-width: 480px) {
  .info-product .header .liner {
    margin: unset !important;
  }
}

.info-product .header .description {
  padding: 20px 20px 0 20px;
  background-color: #fffdf8;
  border: 1px dotted #d3a638;
}

.info-product .header .description .text {
  font-weight: 600;
}

.info-product .body ._header .liner {
  background-color: #D3A638;
  margin: 0 auto;
  height: 2px;
}

@media screen and (max-width: 480px) {
  .info-product .body ._header h3 {
    text-align: left !important;
    font-size: 19px;
  }
}

@media screen and (max-width: 480px) {
  .info-product .body ._header .liner {
    margin: unset !important;
  }
}

.info-product .body .content {
  margin-top: 1.5rem;
}

.info-product .body .content .text {
  font-weight: 500;
}

.info-product .body .content .image {
  width: 60%;
  margin: 0 auto;
}

.info-product .body .content .element {
  border: 1px dotted #639650;
  margin-top: 3rem;
  background-color: #fffdf8;
}

.info-product .body .content .element .title {
  background-image: url(../images/product/1x/element.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin-top: -1px;
  margin: 0 auto;
}

.info-product .body .content .element .title h3 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 9px;
}

.info-product .body .content .element .text {
  padding: 20px;
}

.info-product .body .content .element .text .high-light {
  color: #639650;
  font-weight: 600;
}

.info-product .body .content .element .text p.line {
  color: black;
  font-weight: 600;
}

.info-product .body .content .element-2 {
  border: 1px dotted #639650;
  margin-top: 3rem;
  background-color: #fffdf8;
}

.info-product .body .content .element-2 .title {
  background-image: url(../images/product/ele2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin-top: -1px;
  margin: 0 auto;
}

.info-product .body .content .element-2 .title h3 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 9px;
}

@media screen and (max-width: 480px) {
  .info-product .body .content .element-2 .title h3 {
    font-size: 16px;
  }
}

.info-product .body .content .element-2 .text {
  padding: 20px;
}

.info-product .body .content .element-2 .text .high-light {
  color: #639650;
  font-weight: 600;
}

.info-product .body .content .element-2 .text p.line {
  color: black;
  font-weight: 600;
}

.info-product .body .content .master .header h3 {
  color: #639650;
  font-weight: 600;
  margin-top: 2rem;
}

.info-product .body .content .master .header .liner {
  background-color: #D3A638;
  margin: 0 auto;
  height: 2px;
  display: block;
  margin-bottom: 2rem;
}

.banner-3 .header .liner {
  margin: 0 auto;
  width: 65px;
}

.banner-3 .header h3 {
  color: #428545;
}

.banner-3 div.body {
  margin-top: 2rem;
}

.banner-3 div.body .img-border {
  border: 1px solid #FFD166;
  padding: 5px;
  height: 150px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media screen and (max-width: 480px) {
  .banner-3 div.body .img-border {
    max-height: 100px;
  }
}

.banner-3 div.body .img-border img {
  width: 84%;
  position: absolute;
  z-index: -99;
  margin-top: -10px;
  max-height: 150px;
}

.banner-3 div.body .content {
  font-weight: 500;
  font-size: 14px;
}

.banner-3 .liner-gradient {
  height: 2px;
  margin-top: 2rem;
  background: #eeedd7;
  background: -webkit-gradient(linear, left top, right top, from(#eeedd7), color-stop(52%, #d3a638), color-stop(98%, #eeedd7));
  background: linear-gradient(90deg, #eeedd7 0%, #d3a638 52%, #eeedd7 98%);
}

.banner-3 ._child-banner .header h3.first {
  font-size: 25px;
  font-weight: 400;
}

.banner-3 ._child-banner .header h3.second {
  font-size: 25px;
  color: #D3A638;
  font-weight: 600;
  margin-bottom: 2rem;
}

.banner-3 ._child-banner .blocks span.liner {
  margin: 0 auto;
  background-color: white;
  width: 50px;
}

.banner-3 ._child-banner .blocks .block {
  padding-top: 25px !important;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .banner-3 ._child-banner .blocks .block {
    min-height: 225px;
  }
}

.banner-3 ._child-banner .blocks .block .title-block {
  margin-top: 0rem;
  font-size: 14px;
}

.banner-3 ._child-banner .blocks .block .content-block {
  font-size: 13px;
  padding-top: 20px;
}

.banner-3 ._child-banner .blocks .green-block {
  background-color: #639650;
  border-radius: 5px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block:first-child {
    margin-top: unset;
  }
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner .blocks .yeallow-block {
  background-color: #D3A638;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner div.read-more {
  border: 1px solid #B6863E;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
}

.banner-3 ._child-banner div.read-more a {
  color: #B6863E;
}

.banner-4 {
  background-image: url(../images/banner-4.png);
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.banner-4 div.header h3 {
  color: white;
  font-weight: 500;
  padding-top: 3rem;
}

.banner-4 div.header span.liner {
  margin: 0 auto;
  width: 65px;
  background-color: #FFD166;
}

.banner-4 .body {
  margin-top: 2rem;
}

.banner-4 .body .start-review .img-zone {
  border-radius: 50%;
}

.banner-4 .body .start-review .img-zone img {
  width: 60%;
}

.banner-4 .body .start-review .text-zone {
  position: relative;
  margin-top: 2rem;
  border: 1px dotted #FFD166;
}

.banner-4 .body .start-review .text-zone .container {
  padding-left: 2.5rem;
}

.banner-4 .body .start-review .text-zone img {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  width: 20px;
}

.banner-4 .body .start-review .text-zone p.name {
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 10px;
}

.banner-4 .body .start-review .text-zone p.content {
  color: white;
  font-size: 14px;
}

.banner-4 .body .start-review .text-zone:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px dotted #FFD166;
  border-bottom: none;
  border-right: none;
  border-radius: 5px;
  left: 44%;
  top: 0;
  margin-top: -14px;
  z-index: 99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}

.banner-7 .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-7 .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .banner-7 .header h3 {
    font-size: 15px;
  }
}

.banner-7 .read-all {
  margin-top: -2rem;
  color: #408544;
}

.banner-7 .read-all a {
  color: #408544;
}

.banner-7 .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.banner-7 .body img {
  max-height: 255px;
}

.banner-7 .body .content {
  padding: 10px;
  font-weight: 500;
}

.banner-7 .body .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-7 .body .content a {
  color: black;
  font-size: 13px;
}

.news {
  margin-bottom: 3rem;
}

.news .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.news .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .news .header h3 {
    font-size: 15px;
  }
}

.news .read-all {
  margin-top: -2rem;
  color: #408544;
}

.news .read-all a {
  color: #408544;
}

.news .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.news .body2 img {
  width: 100%;
}

.news .body2 .list-news li {
  list-style: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ccc;
}

.news .body2 .list-news li a {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.news .body2 .list-news li i {
  color: #feba01;
  font-size: 11px;
  margin-right: 5px;
}

.news .body .w-100 {
  margin-top: -10px;
}

.news .body .right-column .title a {
  color: #639650;
  font-weight: 600;
}

h3 {
  color: #408544;
  font-weight: 600;
}

.f-white {
  color: white !important;
  cursor: pointer;
}

.f-white:hover {
  text-decoration: none;
}

.quantity input.ip-quantity {
  width: 60px;
  height: 40px;
}

.quantity .change {
  height: 10px;
  cursor: pointer;
  position: absolute;
  margin-left: -15px;
}

.quantity .change i {
  font-size: 13px;
}

.quantity .up {
  margin-top: -5px;
}

.quantity .up:hover {
  color: #519746;
}

.quantity .down {
  margin-top: 17px;
}

.quantity .down:hover {
  color: #519746;
}

@media screen and (max-width: 480px) {
  .navbar-brand {
    margin-left: 73px;
  }
}

@media screen and (max-width: 480px) {
  .navbar-brand img {
    width: 70%;
  }
}

.navbar-toggler {
  border-color: none !important;
  position: absolute;
  float: left;
}

@media screen and (max-width: 480px) {
  #navbar {
    position: fixed;
    top: 64px;
    background-color: #fff;
    z-index: 999;
    padding: 20px;
    left: 0;
    width: 13rem;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    left: -20rem;
  }
  #navbar .nav-item {
    border-bottom: 1px solid #ebebeb;
  }
  #navbar .nav-item .icon-menu {
    position: absolute;
    top: 17px;
    right: 0;
    font-size: 10px;
  }
  #navbar .icon-close {
    position: absolute;
    padding: 10px 15px 10px 15px;
    background-color: #e5e5e5;
    color: black;
    top: 0;
    right: -40px;
    border-bottom-right-radius: 10px;
  }
}

.iconn-menu {
  border-bottom: unset !important;
}

.iconn-menu img {
  width: 30px;
  margin: 5px;
}

.btn-show-menu {
  border-color: rgba(0, 0, 0, 0) !important;
  padding: unset;
}

.menu-fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .menu-fixed {
    top: 0;
  }
}

.fixed-bottom {
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  height: 60px;
  line-height: 60px;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .fixed-bottom {
    display: none;
  }
}

.fixed-bottom .sub {
  background-color: #27aae2;
  padding: 10px;
  opacity: unset;
}

.fixed-bottom .call-red {
  background-color: #ef4136;
  padding: 10px;
}

.fixed-bottom i {
  margin-right: 5px;
}

.banner .owl-stage-outer {
  width: 100%;
}

.regft {
  display: -webkit-flex;
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  bottom: 0;
  z-index: 10;
}

@media screen and (min-width: 480px) {
  .regft {
    display: none;
  }
}

.regft a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0 10px 10px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 20px;
  background: #f2ede3;
  cursor: pointer;
  font-weight: 600;
}

.regft a:nth-child(2) {
  margin-right: 10px;
  background-color: #ef4136;
}

.regft a:nth-child(1) {
  margin-right: 10px;
  background-color: #27aae2;
}

@media screen and (max-width: 480px) {
  .min-height-custom {
    min-height: 150px !important;
  }
}

@media screen and (max-width: 480px) {
  .d-none-mb {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background: #CE9506 !important;
}

.dot-cus {
  margin: 5px;
}

.swiper-pagination-bullet {
  background-color: white;
}

.banner-4 .swiper-pagination {
  position: unset !important;
  display: block;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.banner-in .header-1 {
  background: -webkit-gradient(linear, left top, right top, from(#006801), color-stop(50%, #23834c), to(#006801));
  background: linear-gradient(90deg, #006801 0%, #23834c 50%, #006801 100%);
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 0;
}

.banner-in .header-1 .high {
  color: #fed523;
  font-size: 19px;
  margin-bottom: 5px;
}

.banner-in .f2 .header-2 {
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 10px 0;
  background-color: #529746 !important;
}

.banner-in .f2 .header-2 p {
  margin-bottom: unset;
}

.banner-in .f2 .header-2 .high {
  color: #fed523;
  font-size: 19px;
  margin-bottom: 5px;
}

.banner-in .f2 .body {
  background-color: #fbf5e9;
  padding-top: 15px;
  padding-bottom: 1px;
}

.banner-in .f2 .body .fj-3 {
  color: red;
  background-color: white;
  font-weight: 600;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.banner-in .f2 .body form input,
.banner-in .f2 .body form textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fbd17f;
  padding: 10px;
  margin: 10px 0;
  color: black;
}

.banner-in .f2 .body form .row a {
  height: 100%;
  line-height: 38px;
  color: white;
  border-radius: 5px;
  background-color: #529746;
}

.banner-in .f2 .body form .row button {
  background-color: #daa501;
  width: 100%;
  color: white;
}

.banner-in .f2 .body form .sm-t {
  color: black;
  font-weight: 600;
  font-size: 11px;
}
/*# sourceMappingURL=all.css.map */