* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
span.liner {
    margin: 0 auto;
    width: 65px;
    background-color: #FFD166;
}
$mobile : 480px;
$table: 768px;
$desktop :1024px;
.contact {
    color: white;
    font-weight: 400;
    background: rgb(177, 128, 45);
    background: linear-gradient(90deg, rgba(177, 128, 45, 1) 0%, rgba(203, 163, 67, 1) 39%, rgba(200, 159, 65, 1) 78%);
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    @media screen and (max-width : $mobile){
        display: none;
    }
    .phone {
        i {
            color: white;
        }
    }
}
.menu {
    .navbar-toggler {
        position: absolute;
        @media screen and (max-width : $mobile){
          right: -1rem;
        }
        .navbar-toggler-icon{
            background-image: url(../images/list-menu.svg) !important;
        }
    }
    button.bth-show-menu{
       
    }
    background: rgb(0, 104, 1);
    background: linear-gradient(90deg, rgba(0, 104, 1, 1) 0%, rgba(35, 131, 76, 1) 50%, rgba(0, 104, 1, 1) 100%);

    ._megamenu {
        width: 50rem;
        padding: 2rem;
        border: 5px solid #FFD166;

        .item {
            border-bottom: 1px solid #ccc;
            padding: 15px;
            margin: 0 auto;
            width: 70%;
            font-weight: 600;
            font-size: 13px;

            i {
                color: #f0be43;
                font-size: 12px;
                margin-right: 1rem;
            }
        }
    }

    .buy {
        border: 1px solid #FFD166;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        i{
            margin-right : 8px;
        }
    }

    .__title {
        color: white !important;
        font-size: 14px;
        font-weight: 600;
        @media screen and (max-width : $desktop){
            font-size: 11px;
        }
    }

}



// Footer
footer {
    background-image: url(../images/footer-backround.png);
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .address {
        margin-top: 2rem;

        h3 {
            font-weight: 500;
            font-size: 20px;
        }

        p {
            font-size: 12px;

            i {
                color: #f9d066;
                margin-right: 5px;

            }
        }
    }

    .list {
        color: white;
        font-size: 12px;

        a {
            color: white;
        }

        li {
            margin-top: 5px;
        }

    }

    button {
        background-color: #75a75e;
        color: white;
        border: none;
        padding: 10px 0 10px 0;
        width: 100%;
        border-radius: 5px;
        // margin-top : 10px;
    }

    .list-ico {
        span {
            margin: 0 15px 0 15px;
        }
        @media screen and(max-width : $mobile) {
            margin-top : 2rem;
        }
    }

    .subcribe {
        padding-top: 2rem;

        p {
            margin-bottom: 1rem;
        }

        .input-group {
            button {
                background-color: #d0a437;
                color: white;
                font-weight: 500;
                border: unset;
                border-color: unset;
                font-size: 15px;
                margin-top: unset;
            }

            input {
                border-radius: 5px;
                border: none;
                border-color: unset;
                font-size: 15px;
            }
        }
    }

    .after {
        margin-top: 18px;
        position: absolute;
        width: 100%;
        background-color: #29472b;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        @media screen and (max-width : $mobile){
            display: none;
        }
        .sdk {
            text-align: left;
        }

        .note {
            text-align: right;
        }
    }
}