.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.banner h3 {
  color: #DAA401;
}

.area .header h3 {
  color: #519746;
}

.area .body ul li {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.area .body ul li i {
  color: #519746;
  font-size: 12px;
}
/*# sourceMappingURL=hethongdiemban.css.map */