.banner p.breadcumb {
  font-size: 12px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

.banner p.breadcumb a {
  color: black;
}

.banner p.breadcumb i {
  font-size: 11px;
}

.product {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product .left-column .list-image .image {
  border: 1px solid #FF911E;
  margin-top: 2rem;
}

.product .left-column .list-image .image:first-child {
  margin-top: unset;
}

.product .left-column .list-image .image img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .product .left-column .list-image {
    display: none;
  }
}

.product .right-column h3 {
  color: #639650;
  font-weight: 600;
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .product .right-column h3 {
    font-size: 19px;
    margin-top: 1rem;
  }
}

.product .right-column p._price .price-sale {
  font-weight: 600;
}

.product .right-column p._price .price-sale strong {
  color: red;
  font-size: 25px;
}

.product .right-column p._price .price {
  font-weight: 500;
  margin-left: 2rem;
}

@media screen and (max-width: 480px) {
  .product .right-column p._price {
    font-size: 12px;
  }
}

.product .right-column .quantity .text {
  font-weight: 700;
  font-size: 15px;
}

.product .right-column .payment .action {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 3rem;
}

.product .right-column .payment .action i {
  padding-right: 10px;
}

.product .right-column .payment .action .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
}

.product .right-column .payment .action .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action .buy-area {
    font-size: 15px;
  }
}

.product .right-column .payment .action .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action .buy-now {
    font-size: 15px;
  }
}

.product .right-column .payment .action .buy-now a {
  color: white;
}

.product .right-column .payment .action p.info {
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .product .right-column .payment .action p.info {
    font-size: 10px;
    font-weight: 600;
  }
}

.product .right-column .payment .action p.info i {
  color: #d39735;
  padding-right: 5px;
}

.product .right-column .list-function {
  border: 1px dotted #D3A638;
  padding: 10px 20px 5px 20px;
  border-radius: 10px;
  margin-top: -4rem;
}

.product .right-column .list-function p._text {
  margin-bottom: unset;
  height: 3rem;
  line-height: 3rem;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .right-column .list-function p:not(:first-child) {
  margin-top: 1rem;
}

.product .right-column .list-function p:not(:first-child) img {
  width: 30px;
  margin: 9px;
}

.product .right-column .list-function .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #B6863E;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

.product .right-column .list-function .icon img {
  width: 40px;
  margin: 5px;
}

.product .right-column .list-function .text {
  padding-left: 4rem;
  color: #428545;
  font-weight: 600;
  font-size: 11px;
}

@media screen and (max-width: 480px) {
  .product .right-column .list-function .text {
    padding-left: 4rem;
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .product .right-column .list-function .text {
    font-size: 10px;
  }
}

.info-product .header .liner {
  margin: 0 auto;
  height: 2px;
  background-color: #D3A638;
  margin-top: 1rem;
}

.info-product .header .description {
  padding: 20px 20px 0 20px;
  background-color: #fffdf8;
  border: 1px dotted #d3a638;
}

.info-product .header .description .text {
  font-weight: 600;
}

.info-product .body ._header .liner {
  background-color: #D3A638;
  margin: 0 auto;
  height: 2px;
}

.info-product .body .content {
  margin-top: 1.5rem;
}

.info-product .body .content .text {
  font-weight: 500;
}

.info-product .body .content .image {
  width: 60%;
  margin: 0 auto;
}

.info-product .body .content .element {
  border: 1px dotted #639650;
  margin-top: 3rem;
  background-color: #fffdf8;
}

.info-product .body .content .element .title {
  background-image: url(../images/product/1x/element.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin-top: -1px;
  margin: 0 auto;
}

.info-product .body .content .element .title h3 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 9px;
}

.info-product .body .content .element .text {
  padding: 20px;
}

.info-product .body .content .element .text .high-light {
  color: #639650;
  font-weight: 600;
}

.info-product .body .content .element .text p.line {
  color: black;
  font-weight: 600;
}

.info-product .body .content .element-2 {
  border: 1px dotted #639650;
  margin-top: 3rem;
  background-color: #fffdf8;
}

.info-product .body .content .element-2 .title {
  background-image: url(../images/product/ele2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin-top: -1px;
  margin: 0 auto;
}

.info-product .body .content .element-2 .title h3 {
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding-top: 9px;
}

@media screen and (max-width: 480px) {
  .info-product .body .content .element-2 .title h3 {
    font-size: 16px;
  }
}

.info-product .body .content .element-2 .text {
  padding: 20px;
}

.info-product .body .content .element-2 .text .high-light {
  color: #639650;
  font-weight: 600;
}

.info-product .body .content .element-2 .text p.line {
  color: black;
  font-weight: 600;
}

.info-product .body .content .master .header h3 {
  color: #639650;
  font-weight: 600;
  margin-top: 2rem;
}

.info-product .body .content .master .header .liner {
  background-color: #D3A638;
  margin: 0 auto;
  height: 2px;
  display: block;
  margin-bottom: 2rem;
}

.banner-3 .header .liner {
  margin: 0 auto;
  width: 65px;
}

.banner-3 .header h3 {
  color: #428545;
}

.banner-3 div.body {
  margin-top: 2rem;
}

.banner-3 div.body .img-border {
  border: 1px solid #FFD166;
  padding: 5px;
  height: 150px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.banner-3 div.body .img-border img {
  width: 84%;
  position: absolute;
  z-index: -99;
  margin-top: -10px;
  max-height: 150px;
}

.banner-3 div.body .content {
  font-weight: 500;
  font-size: 14px;
}

.banner-3 .liner-gradient {
  height: 2px;
  margin-top: 2rem;
  background: #eeedd7;
  background: -webkit-gradient(linear, left top, right top, from(#eeedd7), color-stop(52%, #d3a638), color-stop(98%, #eeedd7));
  background: linear-gradient(90deg, #eeedd7 0%, #d3a638 52%, #eeedd7 98%);
}

.banner-3 ._child-banner .header h3.first {
  font-size: 25px;
  font-weight: 400;
}

.banner-3 ._child-banner .header h3.second {
  font-size: 25px;
  color: #D3A638;
  font-weight: 600;
  margin-bottom: 2rem;
}

.banner-3 ._child-banner .blocks span.liner {
  margin: 0 auto;
  background-color: white;
  width: 50px;
}

.banner-3 ._child-banner .blocks .block {
  padding-top: 25px !important;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .banner-3 ._child-banner .blocks .block {
    min-height: 225px;
  }
}

.banner-3 ._child-banner .blocks .block .title-block {
  margin-top: 0rem;
  font-size: 14px;
}

.banner-3 ._child-banner .blocks .block .content-block {
  font-size: 13px;
  padding-top: 20px;
}

.banner-3 ._child-banner .blocks .green-block {
  background-color: #639650;
  border-radius: 5px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block:first-child {
    margin-top: unset;
  }
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner .blocks .yeallow-block {
  background-color: #D3A638;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner div.read-more {
  border: 1px solid #B6863E;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
}

.banner-3 ._child-banner div.read-more a {
  color: #B6863E;
}

.banner-4 {
  background-image: url(../images/banner-4.png);
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.banner-4 div.header h3 {
  color: white;
  font-weight: 500;
  padding-top: 3rem;
}

.banner-4 div.header span.liner {
  margin: 0 auto;
  width: 65px;
  background-color: #FFD166;
}

.banner-4 .body {
  margin-top: 2rem;
}

.banner-4 .body .start-review .img-zone {
  border-radius: 50%;
}

.banner-4 .body .start-review .img-zone img {
  width: 60%;
}

.banner-4 .body .start-review .text-zone {
  position: relative;
  margin-top: 2rem;
  border: 1px dotted #FFD166;
}

.banner-4 .body .start-review .text-zone .container {
  padding-left: 2.5rem;
}

.banner-4 .body .start-review .text-zone img {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  width: 20px;
}

.banner-4 .body .start-review .text-zone p.name {
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 10px;
}

.banner-4 .body .start-review .text-zone p.content {
  color: white;
  font-size: 14px;
}

.banner-4 .body .start-review .text-zone:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px dotted #FFD166;
  border-bottom: none;
  border-right: none;
  border-radius: 5px;
  left: 44%;
  top: 0;
  margin-top: -14px;
  z-index: 99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}

.banner-7 .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-7 .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .banner-7 .header h3 {
    font-size: 15px;
  }
}

.banner-7 .read-all {
  margin-top: -2rem;
  color: #408544;
}

.banner-7 .read-all a {
  color: #408544;
}

.banner-7 .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.banner-7 .body img {
  max-height: 255px;
}

.banner-7 .body .content {
  padding: 10px;
  font-weight: 500;
}

.banner-7 .body .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-7 .body .content a {
  color: black;
  font-size: 13px;
}

.news {
  margin-bottom: 3rem;
}

.news .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.news .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .news .header h3 {
    font-size: 15px;
  }
}

.news .read-all {
  margin-top: -2rem;
  color: #408544;
}

.news .read-all a {
  color: #408544;
}

.news .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.news .body .w-100 {
  margin-top: -10px;
}

.news .body .right-column .title a {
  color: #639650;
  font-weight: 600;
}

h3 {
  color: #408544;
  font-weight: 600;
}
/*# sourceMappingURL=product.css.map */