$mobile : 480px;
$table: 768px;
$desktop :1024px;

.banner {
    p.breadcumb {
        font-size: 12px;
        margin-bottom: unset;
        height: 40px;
        line-height: 40px;

        a {
            color: black;
        }

        i {
            font-size: 11px;
        }
    }
}

.product {
    margin-top: 2rem;
    margin-bottom: 3rem;

    .left-column {
        .list-image {
            .image {
                border: 1px solid #FF911E;
                margin-top: 2rem;

                &:first-child {
                    margin-top: unset;
                }

                img {
                    width: 100%;
                }
            }
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
        
    }

    .right-column {
        h3 {
            color: #639650;
            font-weight: 600;
            font-size: 25px;
            @media screen and (max-width: $mobile) {
               font-size: 19px;
               margin-top: 1rem;
            }
        }

        p._price {
            .price-sale {
                font-weight: 600;

                strong {
                    color: red;
                    font-size: 25px;
                }
            }

            .price {
                font-weight: 500;
                margin-left: 2rem;
            }
            @media screen and (max-width: $mobile) {
                font-size: 12px;
            }
        }

        .quantity {
            .text {
                font-weight: 700;
                font-size: 15px;
            }
        }

        .payment {
            .action {
                font-size: 18px;
                text-align: center;
                color: white;
                font-weight: 400;
                line-height: 52px;
                margin-bottom: 3rem;

                i {
                    padding-right: 10px;
                }

                .buy-area {
                    background: rgb(0, 135, 83);
                    background: linear-gradient(0deg, rgba(0, 135, 83, 1) 0%, rgba(43, 153, 71, 1) 100%);
                    height: 52px;
                    border-radius: 5px;

                    // margin-right: 20px;
                    a {
                        color: white;
                    }

                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                    }
                }

                .buy-now {
                    background: rgb(179, 129, 46);
                    background: linear-gradient(0deg, rgba(179, 129, 46, 1) 0%, rgba(207, 157, 58, 1) 81%);
                    border-radius: 5px;
                    height: 52px;

                    // margin-left: 20px;
                    @media screen and (max-width : $mobile) {
                        font-size: 15px;
                    }

                    a {
                        color: white;
                    }
                }

                p.info {
                    color: black;
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: none;
                    @media screen and (max-width: $mobile) {
                        font-size: 10px;
                        font-weight: 600;
                    }
                    i {
                        color: #d39735;
                        padding-right: 5px;

                    }
                }
            }
        }

        .list-function {
            border: 1px dotted #D3A638;
            padding: 10px 20px 5px 20px;

            border-radius: 10px;
            margin-top: -4rem;

            p._text {
                margin-bottom: unset;
                height: 3rem;
                line-height: 3rem;
                font-size: 15px;
                display: flex;
            }

            p:not(:first-child) {
                margin-top: 1rem;

                img {
                    width: 30px;
                    margin: 9px;
                }
            }

            .icon {
                width: 50px;
                height: 50px;
                border: 1px solid #B6863E;
                border-radius: 50%;
                position: absolute;
                background-color: white;

                img {
                    width: 40px;
                    margin: 5px;
                }
            }

            .text {
                padding-left: 4rem;
                color: #428545;
                font-weight: 600;
                font-size: 11px;

                @media screen and (max-width : $mobile) {
                    padding-left: 4rem;
                    font-size: 8px;
                }

                @media screen and (min-width : $mobile) and (max-width : $table) {

                    font-size: 10px;
                }
            }
        }
    }
}

.info-product {
    .header {
        .liner {
            margin: 0 auto;
            height: 2px;
            background-color: #D3A638;
            margin-top: 1rem;
        }

        .description {
            padding: 20px 20px 0 20px;
            background-color: #fffdf8;
            border: 1px dotted #d3a638;

            .text {
                font-weight: 600;
            }
        }
    }

    .body {
        ._header {
            .liner {
                background-color: #D3A638;
                margin: 0 auto;
                height: 2px;
            }
        }

        .content {
            margin-top: 1.5rem;

            .text {
                font-weight: 500;
            }

            .image {
                width: 60%;
                margin: 0 auto;

            }

            .element {
                border: 1px dotted #639650;
                margin-top: 3rem;
                background-color: #fffdf8;

                .title {
                    background-image: url(../images/product/1x/element.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60%;
                    margin-top: -1px;
                    margin: 0 auto;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        padding-top: 9px;
                    }
                }

                .text {
                    .high-light {
                        color: #639650;
                        font-weight: 600;
                    }

                    padding : 20px;

                    p.line {
                        color: black;
                        font-weight: 600;
                    }
                }
            }

            .element-2 {
                border: 1px dotted #639650;
                margin-top: 3rem;
                background-color: #fffdf8;

                .title {
                    background-image: url(../images/product/ele2.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 60%;
                    margin-top: -1px;
                    margin: 0 auto;

                    h3 {
                        color: white;
                        font-weight: 600;
                        font-size: 20px;
                        padding-top: 9px;
                        @media screen and (max-width : $mobile) {
                            font-size: 16px;
                        }
                    }
                }

                .text {
                    .high-light {
                        color: #639650;
                        font-weight: 600;
                    }

                    padding : 20px;

                    p.line {
                        color: black;
                        font-weight: 600;
                    }
                }
            }

            .master {
                .header {
                    h3 {
                        color: #639650;
                        font-weight: 600;
                        margin-top: 2rem;

                    }

                    .liner {
                        background-color: #D3A638;
                        margin: 0 auto;
                        height: 2px;
                        display: block;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.banner-3 {
    .header {
        .liner {
            margin: 0 auto;
            width: 65px;
        }

        h3 {
            color: #428545;
        }
    }


    div.body {
        margin-top: 2rem;

        .img-border {
            border: 1px solid #FFD166;
            padding: 5px;
            height: 150px;
            -webkit-border-top-right-radius: 25px;
            -webkit-border-bottom-left-radius: 25px;
            -moz-border-radius-topright: 25px;
            -moz-border-radius-bottomleft: 25px;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;

            img {
                width: 84%;
                position: absolute;
                z-index: -99;
                margin-top: -10px;
                max-height: 150px;
            }
        }

        .content {
            font-weight: 500;
            font-size: 14px;
        }
    }

    .liner-gradient {
        height: 2px;
        margin-top: 2rem;
        background: rgb(238, 237, 215);
        background: linear-gradient(90deg, rgba(238, 237, 215, 1) 0%, rgba(211, 166, 56, 1) 52%, rgba(238, 237, 215, 1) 98%);
    }

    ._child-banner {
        .header {
            h3.first {
                font-size: 25px;
                font-weight: 400;
            }

            h3.second {
                font-size: 25px;
                color: #D3A638;
                font-weight: 600;
                margin-bottom: 2rem;
            }

        }

        .blocks {
            span.liner {
                margin: 0 auto;
                background-color: white;
                width: 50px;
            }

            .block {
                padding-top: 25px !important;
                border-radius: 5px;
                border: none;
                color: white;
                padding: 10px;

                @media screen and(min-width : $desktop) {
                    min-height: 225px;
                }

                .title-block {
                    margin-top: 0rem;
                    font-size: 14px;
                }

                .content-block {
                    font-size: 13px;
                    padding-top: 20px;
                }
            }

            .green-block {
                background-color: #639650;
                // border: 1px solid red;
                border-radius: 5px;

                &:first-child {

                    // @media screen and (max-width: $mobile) {
                    //     margin-top : unset;
                    //   }
                    @media screen and (min-width: $mobile) and (max-width : $table) {
                        margin-top: unset;
                    }
                }

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    // margin-top : unset;
                    margin-top: 2rem;
                }

            }

            .yeallow-block {
                background-color: #D3A638;
                border-radius: 5px;

                @media screen and (max-width: $mobile) {
                    margin-top: 2rem;
                }

                @media screen and (min-width: $mobile) and (max-width : $table) {
                    // margin-top : unset;
                    margin-top: 2rem;
                }
            }
        }

        div.read-more {
            border: 1px solid #B6863E;
            border-radius: 5px;
            width: 200px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            // margin-bottom: 2rem;
            margin: 0 auto;

            a {
                color: #B6863E;
            }

        }
    }

}

.banner-4 {
    background-image: url(../images/banner-4.png);
    width: 100%;
    height: 100%;
    margin-top: 2rem;

    div.header {
        h3 {
            color: white;
            font-weight: 500;
            padding-top: 3rem;
        }

        span.liner {
            margin: 0 auto;
            width: 65px;
            background-color: #FFD166;
        }
    }

    .body {
        margin-top: 2rem;

        .start-review {
            .img-zone {
                border-radius: 50%;

                img {
                    width: 60%;
                }
            }

            .text-zone {
                position: relative;
                margin-top: 2rem;
                border: 1px dotted #FFD166;

                .container {
                    padding-left: 2.5rem;
                }

                img {
                    position: absolute;
                    margin-top: 15px;
                    left: 10px;
                    width: 20px;
                }

                p.name {
                    color: white;
                    padding-top: 1.5rem;
                    margin-bottom: 10px;
                }

                p.content {
                    color: white;
                    font-size: 14px;
                }

                &:after {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border: 1px dotted #FFD166;
                    border-bottom: none;
                    border-right: none;
                    border-radius: 5px;
                    left: 44%;
                    top: 0;
                    margin-top: -14px;
                    z-index: 99;
                    transform: rotate(45deg);
                    content: '';
                    // background: #33784C;
                }
            }
        }
    }
}

.banner-7 {
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }

    .body {
        img {
            max-height: 255px;
        }

        .content {
            padding: 10px;
            font-weight: 500;

            i {
                color: #D3A638;
                font-size: 12px;
                margin-right: 5px;
            }

            a {
                color: black;
                font-size: 13px;
            }
        }
    }

}

.news {
    margin-bottom: 3rem;
    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            color: #408544;
            padding: 5px 0 0 10px;
            font-weight: 700;

            @media screen and (max-width : $mobile) {
                font-size: 15px;
            }
        }
    }

    .read-all {
        margin-top: -2rem;
        color: #408544;

        a {
            color: #408544;
        }

        i {
            color: #D3A638;
            margin-left: 5px;
        }
    }
    .body{
        .w-100{
            margin-top: -10px;
        }
        .right-column{
            .title {
                a{
                    color  :#639650;
                    font-weight: 600;
                }
            }
        }
    }
}
h3{
    color: #408544;
    font-weight: 600;
}