span.liner {
  background-color: #D39735;
  height: 2px;
  width: 65px;
  display: block;
}

.banner-2 {
  background-image: url(../images/banner-2.png);
  width: 100%;
  height: 100%;
}

.banner-2 .left-column .iso {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 32%;
}

@media screen and (max-width: 480px) {
  .banner-2 .left-column .iso {
    right: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .banner-2 .left-column .iso {
    right: 0rem;
  }
}

.banner-2 .right-column {
  padding-left: 2rem;
}

.banner-2 .right-column p.title {
  color: #D3A23E;
  font-size: 19pt;
  margin-bottom: unset;
  font-weight: 600;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column p.title {
    text-align: center;
  }
}

.banner-2 .right-column p.bf-title {
  color: #428545;
  font-size: 11pt;
  font-weight: 500;
}

.banner-2 .right-column p.detail {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
}

.banner-2 .right-column p.read-more {
  color: #D3A638;
  font-weight: 500;
}

.banner-2 .right-column .list-function p {
  margin-bottom: unset;
  height: 3rem;
  line-height: 3rem;
}

.banner-2 .right-column .list-function p:not(:first-child) {
  margin-top: 1rem;
}

.banner-2 .right-column .list-function p:not(:first-child) img {
  width: 30px;
  margin: 9px;
}

.banner-2 .right-column .list-function .icon {
  width: 50px;
  height: 50px;
  border: 1px solid #B6863E;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

.banner-2 .right-column .list-function .icon img {
  width: 40px;
  margin: 5px;
}

.banner-2 .right-column .list-function .text {
  padding-left: 5rem;
  color: #428545;
  font-weight: 600;
  font-size: 10pt;
  padding-top: 1rem;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .text {
    padding-left: 4rem;
    font-size: 8px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-2 .right-column .list-function .text {
    font-size: 10px;
  }
}

.banner-2 .right-column .list-function .action {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 3rem;
}

.banner-2 .right-column .list-function .action i {
  padding-right: 10px;
}

.banner-2 .right-column .list-function .action .buy-area {
  background: #008753;
  background: -webkit-gradient(linear, left bottom, left top, from(#008753), to(#2b9947));
  background: linear-gradient(0deg, #008753 0%, #2b9947 100%);
  height: 52px;
  border-radius: 5px;
  margin-right: 20px;
}

.banner-2 .right-column .list-function .action .buy-area a {
  color: white;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .action .buy-area {
    font-size: 15px;
  }
}

.banner-2 .right-column .list-function .action .buy-now {
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  border-radius: 5px;
  height: 52px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .banner-2 .right-column .list-function .action .buy-now {
    font-size: 15px;
  }
}

.banner-2 .right-column .list-function .action .buy-now a {
  color: white;
}

.banner-3 .header .liner {
  margin: 0 auto;
  width: 65px;
}

.banner-3 .header h3 {
  color: #428545;
}

.banner-3 div.body {
  margin-top: 2rem;
}

.banner-3 div.body .img-border {
  border: 1px solid #FFD166;
  padding: 5px;
  height: 150px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.banner-3 div.body .img-border img {
  width: 84%;
  position: absolute;
  z-index: -99;
  margin-top: -10px;
  max-height: 150px;
}

.banner-3 div.body .content {
  font-weight: 500;
  font-size: 14px;
}

.banner-3 .liner-gradient {
  height: 2px;
  margin-top: 2rem;
  background: #eeedd7;
  background: -webkit-gradient(linear, left top, right top, from(#eeedd7), color-stop(52%, #d3a638), color-stop(98%, #eeedd7));
  background: linear-gradient(90deg, #eeedd7 0%, #d3a638 52%, #eeedd7 98%);
}

.banner-3 ._child-banner .header h3.first {
  font-size: 25px;
  font-weight: 400;
}

.banner-3 ._child-banner .header h3.second {
  font-size: 25px;
  color: #D3A638;
  font-weight: 600;
  margin-bottom: 2rem;
}

.banner-3 ._child-banner .blocks span.liner {
  margin: 0 auto;
  background-color: white;
  width: 50px;
}

.banner-3 ._child-banner .blocks .block {
  padding-top: 25px !important;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .banner-3 ._child-banner .blocks .block {
    min-height: 225px;
  }
}

.banner-3 ._child-banner .blocks .block .title-block {
  margin-top: 0rem;
  font-size: 14px;
}

.banner-3 ._child-banner .blocks .block .content-block {
  font-size: 13px;
  padding-top: 20px;
}

.banner-3 ._child-banner .blocks .green-block {
  background-color: #639650;
  border-radius: 5px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block:first-child {
    margin-top: unset;
  }
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .green-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner .blocks .yeallow-block {
  background-color: #D3A638;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .banner-3 ._child-banner .blocks .yeallow-block {
    margin-top: 2rem;
  }
}

.banner-3 ._child-banner div.read-more {
  border: 1px solid #B6863E;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin: 0 auto;
}

.banner-3 ._child-banner div.read-more a {
  color: #B6863E;
}

.banner-4 {
  background-image: url(../images/banner-4.png);
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.banner-4 div.header h3 {
  color: white;
  font-weight: 500;
  padding-top: 3rem;
}

.banner-4 div.header span.liner {
  margin: 0 auto;
  width: 65px;
  background-color: #FFD166;
}

.banner-4 .body {
  margin-top: 2rem;
}

.banner-4 .body .start-review .img-zone {
  border-radius: 50%;
}

.banner-4 .body .start-review .img-zone img {
  width: 60%;
}

.banner-4 .body .start-review .text-zone {
  position: relative;
  margin-top: 2rem;
  border: 1px dotted #FFD166;
}

.banner-4 .body .start-review .text-zone .container {
  padding-left: 2.5rem;
}

.banner-4 .body .start-review .text-zone img {
  position: absolute;
  margin-top: 15px;
  left: 10px;
  width: 20px;
}

.banner-4 .body .start-review .text-zone p.name {
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 10px;
}

.banner-4 .body .start-review .text-zone p.content {
  color: white;
  font-size: 14px;
}

.banner-4 .body .start-review .text-zone:after {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px dotted #FFD166;
  border-bottom: none;
  border-right: none;
  border-radius: 5px;
  left: 44%;
  top: 0;
  margin-top: -14px;
  z-index: 99;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
}

.banner-5 .header {
  margin-top: 3rem;
  height: 3px;
}

.banner-5 .header h3 {
  color: #428545;
  font-weight: 500;
}

.banner-5 .header span.liner {
  margin: 0 auto;
}

.banner-5 .body {
  padding-top: 4rem;
}

.banner-5 .body .list-news img {
  min-height: 355px;
}

@media screen and (max-width: 480px) {
  .banner-5 .body .list-news img {
    min-height: unset;
  }
}

.banner-5 .body .list-news .content {
  padding: 10px;
  font-weight: 500;
}

.banner-5 .body .list-news .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-5 .body .list-news .content a {
  color: black;
  font-size: 16px;
}

.banner-6 {
  background-image: url(../images/banner-2.png);
  width: 100%;
  height: 100%;
}

.banner-6 .form-contact {
  background-color: white;
  height: 100%;
}

.banner-6 .form-contact .header {
  background-color: #639650;
  color: white;
  padding: 25px;
}

.banner-6 .form-contact .header h3 {
  font-weight: 600;
}

.banner-6 .form-contact .body form {
  width: 90%;
  margin: 0 auto;
}

.banner-6 .form-contact .body form input {
  height: 60px;
}

.banner-6 .form-contact .body form input,
.banner-6 .form-contact .body form textarea {
  display: block;
  width: 100%;
  border: 1px solid #D3A638;
  border-radius: 5px;
  padding: 15px;
  margin-top: 1.75rem;
}

.banner-6 .form-contact .body form button {
  background: #aa823d;
  background: -webkit-gradient(linear, left top, right top, from(#aa823d), color-stop(51%, #d2c368), to(#aa823d));
  background: linear-gradient(90deg, #aa823d 0%, #d2c368 51%, #aa823d 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  .banner-6 .form-contact .body form button {
    margin-bottom: 1rem;
  }
}

.banner-6 .form-contact .body form button i {
  margin-left: 1rem;
}

.banner-7 .header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner-7 .header h3 {
  color: #408544;
  padding: 5px 0 0 10px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .banner-7 .header h3 {
    font-size: 15px;
  }
}

.banner-7 .read-all {
  margin-top: -2rem;
  color: #408544;
}

.banner-7 .read-all a {
  color: #408544;
}

.banner-7 .read-all i {
  color: #D3A638;
  margin-left: 5px;
}

.banner-7 .body img {
  max-height: 255px;
}

.banner-7 .body .content {
  padding: 10px;
  font-weight: 500;
}

.banner-7 .body .content i {
  color: #D3A638;
  font-size: 12px;
  margin-right: 5px;
}

.banner-7 .body .content a {
  color: black;
  font-size: 13px;
}

.banner-7 .blocks {
  margin-bottom: 1rem;
}

.banner-7 .blocks .header img {
  margin-top: -23px;
}

.banner-7 .blocks .header h3 {
  display: inline;
}

.banner-7 .blocks .body img {
  width: 100%;
}

.banner-7 .blocks .body .list-news li {
  list-style: none;
  padding: 10px 15px 10px 15px;
  border: 1px solid #ccc;
}

.banner-7 .blocks .body .list-news li a {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.banner-7 .blocks .body .list-news li i {
  color: #feba01;
  font-size: 11px;
  margin-right: 5px;
}

.popup .row .popup-left {
  padding: unset;
}

@media screen and (max-width: 480px) {
  .popup .row .popup-left {
    display: none;
  }
}

.popup .row .popup-right {
  padding: unset;
}

.popup .row .popup-right .header {
  background: #639650;
  background: -webkit-gradient(linear, left bottom, left top, from(#639650), color-stop(89%, #79a668));
  background: linear-gradient(0deg, #639650 0%, #79a668 89%);
}

.popup .row .popup-right .header h3 {
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
}

.popup .row .popup-right .body form {
  margin: 0 auto;
  width: 80%;
}

.popup .row .popup-right .body form input,
.popup .row .popup-right .body form textarea {
  margin-top: 7px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 9px;
}

.popup .row .popup-right .body form button {
  width: 100%;
  background: #b3812e;
  background: -webkit-gradient(linear, left bottom, left top, from(#b3812e), color-stop(81%, #cf9d3a));
  background: linear-gradient(0deg, #b3812e 0%, #cf9d3a 81%);
  color: white;
  font-weight: 600;
}

.popup .row .popup-right .body form button i {
  margin-left: 5px;
}

.popup .row .popup-right .body .doctor {
  color: black;
  font-weight: 600;
  font-size: 13px;
  padding-top: 10px;
}

.popup .row .popup-right .body .doctor strong {
  color: red;
  font-size: 16px;
}

.btn-close-modal {
  position: absolute;
  right: -54px;
  color: white;
  z-index: 99;
  top: 10px;
}

@media screen and (max-width: 480px) {
  .btn-close-modal {
    display: none;
  }
}

.btn-close-modal span {
  padding: 20px;
  padding-top: 7px !important;
  background-color: black;
}
/*# sourceMappingURL=style.css.map */