@font-face {
    font-family: beautyFont_cus;
    src: url('../fonts/HLT\ Hummingbird.ttf');
}

@font-face {
    font-family: beautyFont;
    src: url('../fonts/HLT\ PFChampionScriptPro-Regular.ttf');
}

@font-face {
    font-family: Helve;
    src: url('../fonts/UTM\ Helve.ttf');
}

@font-face {
    font-family: BryantLG;
    src: url('../fonts/UTM\ BryantLG.ttf');
}

* {
    padding: 0;
    margin: 0;
    // font-family: Helve;
}

// Variable
$colorBackgroundMenu : #00465a;
$mobile : 480px;
$table: 768px;
$desktop :1024px;
$large-desktop : 1400px;
$background-yealow : #fff6cd;
$text-yealow : #f7c961;

@mixin mobile {
    @media (max-width: #{$mobile - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$table}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

.f-white {
    color: white !important;
}

.c-bold-6 {
    font-weight: 600;
}

.c-bold-7 {
    font-weight: 700;
}

.c-bold-5 {
    font-weight: 500;
}

.y-liner {
    background-color: #f7c961;
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 260px;

    @include mobile() {
        width: 120px;
    }
}

.opacity-black {
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -99;
    opacity: 0;
    transition: 0.4s;
    // overflow: hidden;
}

.mt-3-mb {
    @include mobile() {
        margin-top: 1rem;
    }
}

.disable-dnone {
    display: unset !important;
}

.d-none-mb {
    @include mobile() {
        display: none !important;
    }
}

.mt-0-mb {
    @include mobile() {
        margin-top: 0 !important
    }
}

.pr-0-pc {
    @include desktop() {
        padding-right: 0 !important
    }
}

.fixed-menu {
    position: fixed;
    background-image: unset;
    background-color: $colorBackgroundMenu;
    height: 73px;
    padding-top: 0;
    border-bottom: 3px solid $text-yealow;
}

header {
    background-image: url(../images/elip.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 190px;
    padding-top: 2rem;
    background-position: center;
    position: absolute;
    z-index: 999;
    transition: 0.4;

    .image-logo {
        width: 100%;
    }

    @include mobile {
        background-image: unset;
        background-color: $colorBackgroundMenu;
        height: 80px;
        padding-top: 10px;

        .show {
            a.dropdown-toggle::after {
                transform: rotate(0deg);
            }
        }

        #menu-ds {
            display: unset;
            background-color: $colorBackgroundMenu;
            left: -22rem;
            position: absolute;
            height: 95vh;
            top: 20%;
            width: 90%;
            transition: 0.4s;
            z-index: 9999;

            ul {
                // padding-left : 20px;
                text-transform: unset !important;

                li.nav-item {
                    border-bottom: 1px solid rgba(85, 132, 145, 0.3);

                    a {
                        text-align: left;
                        padding-left: 20px;
                        font-size: 16px;
                        color: $text-yealow;

                        br {
                            display: none;
                        }
                    }

                    &:last-child {
                        border-bottom: unset;
                        margin-top: 1rem;
                    }
                }

                .li-logo {
                    img {
                        padding: 0 0 10px 20px;
                        width: 70%;
                        float: left;
                    }
                }
            }

            .close-menu-mb {
                position: absolute;
                right: 10px;

                i {
                    color: $text-yealow;
                    font-size: 16px;
                }
            }

            span.call {
                background-color: #e23d3b;
                color: white;
                display: block;
                width: 50%;
                margin: 0 auto;
                height: 30px;
                line-height: 30px;
                font-weight: 700;
                border-radius: 5px;

                .call-i {
                    border-right: 1px solid white;
                    margin-right: 20px;

                    a {
                        padding-left: unset !important;
                    }

                    i {
                        font-size: 20px;
                        transform: rotate(-45deg);
                        margin-right: 10px;
                    }
                }
            }

            @include mobile() {
                .href-call-mb {
                    text-align: center !important;
                    padding-left: unset !important;
                }
            }
        }

        .callRed {
            position: absolute;
            right: 0;
            top: 10px;

            img {
                width: 40px;
            }
        }

        .image-logo {
            width: 70%;
        }

        .navbar-brand {
            display: block;
            margin: 0 auto;
        }

        .navbar-toggler {
            position: absolute;
            border-right: 1px solid white !important;
            border: none;
            border-radius: unset;
            left: 0;
            top: 10px;

            &:focus {
                border: none;
                outline: unset;
            }

            img {
                width: 35px;
            }
        }
    }

    .navbar {
        box-shadow: none;
    }

    .nav-item {
        a {
            @include desktop() {
                color: white !important;
                font-size: 12px;
            }

        }

        .x-liner {
            background-color: white;
            height: 50px;
            width: 1px;
            display: block;
            position: absolute;
            top: 1%;
            right: -14px;
            opacity: 0.5;

            @include mobile() {
                display: none;
            }
        }

        .sub-now,
        .href-call-mb {
            text-decoration: none;
            cursor: pointer;
        }

        .sub {
            padding: 0 0.5rem 0.5rem 0.5rem;
            height: 25px;
            background-color: #f7c961;
            font-size: 13px;
            line-height: 25px;
            color: $colorBackgroundMenu;
            font-weight: bold;
            border-radius: 10px;
        }

        .call {
            background-color: red;
            height: 25px;
            font-size: 13px;
            line-height: 25px;
            border-radius: 10px;
            font-weight: bold;
            margin-top: 7px;
        }
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 8px;
        content: "";
        border-top: .3em solid;
        position: absolute;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;

        @include mobile() {
            transform: rotate(-90deg);
            right: 10px;
            top: 15px;
            transition: 0.4s;

            &:active {
                transform: rotate(0deg);
            }
        }
    }
}

// Menu
#intro-menu-content {
    background-image: url('../images/bgMenugioithieu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    left: -185px;
    width: 500px;
    box-sizing: border-box;
    border-top: 3px solid $text-yealow;
    border-radius: unset;

    @include mobile() {
        height: 100%;
        width: 100%;
        background-image: unset;

    }

    .row {
        padding: 5px 10px 0 10px;
    }

    .liner-m {
        display: block;
        height: 2px;
        background-color: #ffebbd;
        width: 190px;

        @include mobile() {
            height: 1px;
            width: 100%;
        }
    }

    a {
        display: block;
        color: $colorBackgroundMenu !important;
        font-size: 16px;
        text-transform: none;
        font-weight: 500;
        padding-bottom: 5px;

        @include mobile() {
            color: #c27f00 !important;
        }

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

#nktm-menu-content {
    background-image: url('../images/bg2mn.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 310px;
    box-sizing: border-box;
    border-top: 3px solid $text-yealow;
    border-radius: unset;
    left: -110px;

    @include mobile() {
        height: 100%;
        width: 100%;
        background-image: unset;

    }

    .title {
        &:not(:first-child) {
            margin-top: 5px;
        }

        img {
            margin-right: 5px;
            width: 25px;

            @include mobile() {
                display: none;
            }
        }

        span.h {
            color: $colorBackgroundMenu;
            font-weight: 500;
            font-size: 16px;

            @include mobile() {
                color: #c27f00;
                text-transform: unset !important;
            }
        }
    }

    .body {
        padding-left: 35px;
        margin-top: 8px;

        @include mobile() {
            padding-left: unset;
        }

        a {
            color: #d8a022 !important;
            display: block;
            padding-left: 13px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
            text-transform: none;
            cursor: pointer;

            i {
                color: #d8a022;
                font-size: 7px;
                margin-right: 10px;
            }
        }

        .liner-menu {
            height: 1px;
            display: block;
            width: 100%;
            background-color: #ffebbd;

        }
    }
}

#nkbl-menu-content {
    background-image: url(../images/bgMenu3.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 579px;
    height: 295px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 3px solid #f7c961;
    border-radius: unset;
    left: -195px;

    @include mobile() {
        width: unset;
        background-color: white;
        background-image: unset;
        height: 100%;

    }

    .list-item {
        width: 40%;
        margin: 15px 10px;

        @include mobile() {
            width: 100%;
            margin: unset;
        }

        a {
            display: block;
            color: $colorBackgroundMenu !important;
            font-weight: 500;
            text-transform: none;
            font-size: 16px;
            border-bottom: 1px solid #ffebbd;
            padding: 6px 0;

            @include mobile() {
                color: #c27f00 !important;
            }
        }
    }
}

#videoImage-menu-content {
    background-image: url(../images/backgroundService.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 517px;
    height: 350px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 3px solid #f7c961;
    border-radius: unset;
    left: -427px;

    @include mobile() {
        height: 100%;
        width: 100%;
        background-image: unset;
    }

    .title {
        &:not(:first-child) {
            margin-top: 5px;
        }

        img {
            margin-right: 5px;
            width: 25px;

            @include mobile() {
                display: none;
            }
        }

        span.h {
            color: $colorBackgroundMenu;
            font-weight: 500;
            font-size: 16px;

            @include mobile() {
                color: #c27f00;
                text-transform: unset !important;
            }
        }
    }

    .body {
        padding-left: 35px;

        @include mobile() {
            padding-left: unset;
        }

        margin-top: 8px;

        a {
            color: #d8a022 !important;
            display: block;
            padding-left: 13px;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 12px;
            text-transform: none;
            cursor: pointer;

            i {
                color: #d8a022;
                font-size: 7px;
                margin-right: 10px;
            }
        }

        .liner-menu {
            height: 1px;
            display: block;
            width: 100%;
            background-color: #ffebbd;

        }
    }

    .img-col {
        img {
            margin-top: 10px;

            &:first-child {
                margin-top: 20px;
            }
        }
    }
}

// End
.banner {
    @media screen and (min-width : $desktop) {
        padding-top: 120px;
    }

    @media screen and (min-width: $large-desktop) {
        padding-top: 80px;
    }

    @include mobile() {
        padding-top: 80px;
        border-top: 1px solid #557379;
    }

    .swiper-slide {
        img {
            height: 100%;
        }
    }

    .swiper-pagination-bullet-active {
        background: $text-yealow !important;
    }

    .swiper-pagination-bullet {
        background-color: white;
        opacity: 1;
    }
}

.intro-services {
    background-image: url('../images/backgroundService.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;

    @include mobile() {
        padding-bottom: 2rem;
    }

    .active {
        background-color: #ffe2a2 !important;
    }

    .header {
        padding-top: 3rem;

        @include mobile() {
            padding-top: 2rem;
        }

        h3 {
            font-size: 25px;
            font-weight: bold;
            color: $colorBackgroundMenu;

            @include mobile() {
                img {
                    width: 35px;
                    margin-left: 5px;
                    position: absolute;
                }
            }
        }
    }

    .body {
        .effect {
            @include mobile() {
                margin-top: 10px;
            }
        }

        .b-white {
            background-color: white;
            padding: 15px;
            min-height: 348px;
            cursor: pointer;

            .arrow-right {
                height: 100%;
                display: block;
                background-color: $colorBackgroundMenu;
                width: 4px;
                position: absolute;
                right: 11px;

                &::before {
                    width: 5px;
                    content: '';
                    top: 45%;
                    margin-left: 1px;
                    height: 5px;
                    position: absolute;
                    background-color: $colorBackgroundMenu;
                    transform: rotate(45deg);
                }
            }

            @include mobile() {
                display: flex;
                min-height: unset;
                padding: unset;
                width: 100%;
            }
        }

        ._header {
            padding-top: 15px;
            padding-bottom: 10px;

            @include mobile() {
                width: 50%;
                padding: 3px 0 3px 3px;
            }

            img {
                width: 100%;
            }
        }

        ._body {
            padding: 5px;

            @include mobile() {
                width: 50%;

            }

            &::before {
                content: "";
                height: 100%;
                width: 4px;
                background-color: #cccccc;
                display: block;
                position: absolute;
                right: 11px;
                margin-top: -4px;

                @include desktop() {
                    display: none;
                }
            }

            p {
                color: $colorBackgroundMenu;
                font-size: 17px;
                font-weight: 600;

                @include mobile() {
                    font-size: 7px;
                    text-align: center;
                    margin-bottom: unset;
                    font-weight: 700;
                }
            }
        }

        .arrow-down {
            display: block;
            background-color: $colorBackgroundMenu;
            height: 8px;
            width: 100%;
            position: relative;
            bottom: 0;

            @include mobile() {
                display: none;
            }

            &::before {
                position: absolute;
                transform: rotate(45deg);
                content: "";
                top: 3px;
                width: 10px;
                height: 10px;
                left: 7.5rem;
                background-color: $colorBackgroundMenu;
            }
        }

        .slider-intro {
            margin-top: 3rem;

            h4 {
                color: $colorBackgroundMenu;
                font-size: 12px;
            }

            @include mobile() {
                margin-top: 30px;

            }

            @include desktop() {

                .row .col-md-7 {
                    img {
                        height: 100%;
                    }
                }
            }

            .slider {
                @include mobile() {
                    .row {
                        &:last-child {
                            min-height: 77px;

                            .col-md-12 {

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .mt-mb {
                    @include mobile() {
                        margin-top: 10px;
                    }
                }

                display: none;
            }
        }
    }
}

h3 {
    font-size: 25px !important;

    @include mobile() {
        font-size: 19px !important;
    }
}

.liner-dinamond {
    .liner {
        position: absolute;
        height: 2px;
        width: 180px;
        display: block;
        margin: 0 auto;
        background: rgb(203, 160, 57);
        background: linear-gradient(90deg, rgba(203, 160, 57, 1) 0%, rgba(255, 237, 150, 1) 51%, rgba(203, 160, 57, 1) 100%);
        margin-top: 13px;
    }

    .left {
        left: 35%;
        // margin-right: 10px;
    }

    .right {
        right: 35%;
    }

    @include mobile() {
        .left {
            left: 25%;
            // margin-right: 10px;
        }

        .right {
            right: 25%;
        }

        .liner {
            width: 75px;
            height: 1px;
        }
    }
}

.high-services {
    background-color: $background-yealow;
    height: 100%;
    width: 100%;
    margin-top: -20px;

    .header {
        padding-top: 3rem;

        @include mobile() {
            padding-top: 2rem;

            .liner-dinamond {
                .liner {
                    margin-top: 8px !important;
                }

                img {
                    width: 30px;
                }
            }
        }

        h3 {
            color: $colorBackgroundMenu;
            font-size: 25px;
            font-weight: bold;
        }
    }

    .body {
        padding-bottom: 5rem;

        .row {
            margin-top: 3rem;

            @include mobile() {
                margin-top: 1rem;
            }
        }

        @include mobile() {
            padding-bottom: 2rem;

            .element {
                margin-top: 3rem;
            }

        }

        ._header {
            background-color: #004c63;
            padding: 7px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .icon {
                position: absolute;
                margin-top: -2rem;
                z-index: 99;
                left: 20px;

                @include mobile() {
                    left: 25px;

                    img {
                        width: 80%;
                    }
                }

            }

            p {
                color: #ffe779;
                font-weight: 600;
                font-size: 20px;
                margin-bottom: unset;
                height: 40px;
                line-height: 40px;

                @include mobile() {
                    font-size: 15px;
                }
            }
        }

        ._body {
            background-color: white;
            padding: 5px 10px 0 10px;
            margin-top: -6px;

            @include mobile() {
                padding: 5px 10px 25px 10px;
            }

            p {
                text-align: left;
                font-size: 12px;
                font-weight: 600;
                height: 5.5rem;
                margin-bottom: unset;
            }
        }

        .liner-gradient {
            height: 4px;
            display: block;
            width: 100%;
            background: rgb(1, 79, 101);
            background: linear-gradient(90deg, rgba(1, 79, 101, 1) 0%, rgba(46, 198, 209, 1) 100%);
            margin-top: -15px;

        }
    }
}

.doctors {
    background-image: url(../images/doctorsbackground.png);
    width: 100%;
    height: 100%;

    @include mobile() {
        padding-bottom: 2rem;
    }

    .header {
        h3 {
            color: $text-yealow;
            font-size: 25px;

        }

        .liner-gradient {
            display: block;
            height: 2px;
            width: 325px;
            margin: 0 auto;
            background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);

            @include mobile() {
                width: 120px;
            }
        }
    }

    .body {
        position: relative;

        .text {
            color: white;
            font-style: italic;
            font-size: 18px;
            font-weight: 400;
            padding-top: 2rem;

            @include mobile() {
                font-size: 16px;
            }
        }

        .list-doctors {
            .swiper-button-next {}

            position: relative;
            width: 95%;
            margin: 0 auto;

            .image {
                background-color: white;

                border-radius: 50%;
                margin: 0 auto;
                width: 60%;
                height: auto;

                @include mobile() {
                    width: 80%;
                }

                img {
                    width: 100%;
                }
            }

            .swiper-slide-thumb-active {
                .image {
                    border: 3px solid $text-yealow;
                }
            }

        }

        .navi {
            position: absolute;
            top: 11rem;

            @include mobile() {
                top: 10rem;

                i {
                    font-size: 20px !important;
                }
            }

            i {
                color: white;
                font-size: 40px;
            }
        }

        .d-left {
            left: 0;

            @include mobile() {
                left: -5px;
            }
        }




        .d-right {
            right: 0;

            @include mobile() {
                right: -5px;
            }
        }


        .detail-doctor {
            .bi-do {
                @include mobile() {
                    margin-top: 1rem;
                }
            }

            .read-more {
                display: block;
                margin: 0 auto;
                width: 8.5rem;
                padding: 1px 10px;
                color: $colorBackgroundMenu;
                background-color: white;
                border-radius: 5px;
                font-weight: 700;
                background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
            }

            img {
                @include mobile() {
                    width: 120% !important;
                }
            }

            .content {
                border: 2px solid white;
                border-radius: 10px;
                padding: 20px 20px 0 35px;
                margin-top: 5rem;
                padding-bottom: 2rem;

                @include mobile() {
                    border: unset;
                    margin-top: 20px;
                    padding: unset;
                }

                ._header {
                    h4 {
                        color: $text-yealow;
                        font-weight: 400;

                        @include mobile() {
                            font-size: 15px;
                        }
                    }

                    .y-liner {
                        width: 150px;
                        opacity: 0.5;
                        height: 1px;
                    }
                }

                ._body {
                    ul {
                        margin-top: 2rem;

                        @include mobile() {
                            margin-top: 0;
                        }

                        li {
                            color: white;
                            margin-top: 20px;
                            font-size: 18px;

                            @include mobile() {
                                font-size: 12px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.padding-star {
    @include mobile() {
        width: 90%;
        margin: 0 auto;
        position: relative;

        .navi {
            position: absolute;
            top: 25%;

            i {
                color: #d99616;
                font-size: 40px;
            }
        }

        .s-left {
            left: -28px;
        }

        .s-right {
            right: -28px;
        }
    }
}

.star-main {
    background-image: url("../images/backgroundStar.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;

    @include mobile() {
        padding-bottom: 1rem;
    }

    .header {
        padding-top: 3.5rem;

        @include mobile() {
            padding-top: 1rem;
        }

        .title {
            font-family: beautyFont;
            font-size: 100px;
            color: #d99616;
            padding-left: 16rem;

            @include mobile {
                padding: 0 0 0 20px;
                font-size: 50px;
            }

            span {
                font-family: beautyFont_cus;
                font-size: 80px;

                @include mobile() {
                    font-size: 50px;
                }
            }
        }

        .liner-gradient {
            background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
            display: block;
            width: 200px;
            height: 3px;
            margin: 0 auto;

            @include mobile() {
                width: 5rem;
                height: 1px;
            }
        }

        h3 {
            color: $colorBackgroundMenu;
            font-size: 25px;
            font-weight: bold;
            margin-top: -5rem;

            @include mobile() {
                font-size: 16px !important;
                margin-top: -50px;
            }
        }
    }

    .body {
        margin-top: 3rem;

        @include mobile() {
            margin-top: 1rem;
        }

        .left-column {
            @include mobile() {
                border: 2px solid #d88626;
            }

            border: 5px solid #d88626;
        }

        ._header {
            text-align: center;

            h3 {
                color: #d88626;
                font-size: 30px;

                @include mobile() {
                    display: inline;
                    font-size: 16px !important;
                }
            }

            p {
                color: #d88626;
                font-style: italic;
                margin-bottom: unset;
                font-weight: 400;
                font-size: 18px;

                @include mobile() {
                    display: inline;
                    font-size: 13px;
                }
            }

            .thin-liner {
                width: 109px;
                height: 1px;
                border: 1px solid #f7c961;
                display: block;
                margin: 0 auto;
                opacity: .5;
                margin-top: 15px;

                // margin-bottom: 15px;
                @include mobile() {
                    display: none;
                }
            }
        }

        ._body {
            padding: 15px;

            @include mobile() {
                padding: 0;
            }

            .text {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 3rem;

                @include mobile() {
                    font-size: 12px;
                    display: block;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-style: italic;

                }
            }

            .view-detail {
                color: #d88626;
                text-transform: uppercase;
                border: 1px solid #d88626;
                border-radius: 20px;
                padding: 5px 10px 5px 10px;
                margin-top: 3rem;

                @include mobile() {
                    display: none;
                }

                a {
                    color: #d88626;
                }
            }
        }

        .list-stars {
            .swiper-slide-thumb-active {
                @include mobile() {
                    .unactive {
                        border: 1px solid #d88626 !important;
                    }
                }

            }

            margin-top: 3rem;

            @include mobile() {
                margin-top: -30px;
            }

            .swiper-slide-thumb-active {
                .image {
                    .unactive {
                        @include desktop() {
                            border: none !important;
                        }
                    }
                }
            }

            .image {
                .small-name {
                    font-style: italic;
                    font-size: 16px;
                    padding-top: 5px;

                    @include mobile() {
                        display: none;
                    }
                }


                .unactive {
                    border: 3px solid white;
                    border-radius: 5px;

                    @include mobile() {
                        border: 1px solid white;
                    }
                }
            }

            .view-all {
                color: white;
                background-color: #d88626;
                margin: 0 auto;
                width: 8.3rem;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                border-radius: 20px;
                padding: 5px 10px;
                text-transform: uppercase;

                @include mobile() {
                    background-color: #ee4d4b;
                    border-radius: 5px;
                    font-size: 14px;
                    padding: 2px 5px;
                    margin-top: 1rem;
                }
            }
        }
    }
}

.video-services {
    background-image: url(../images/doctorsbackground.png);
    height: 100%;
    width: 100%;
    padding-bottom: 2.5rem;

    .header {
        @include mobile() {
            padding-top: 1rem !important;
        }

        h3 {
            color: $text-yealow;
            font-size: 25px;
        }

        .dinamond {
            position: relative;
            margin-right: 15px;

            @include mobile() {
                display: block;
                margin-right: unset;
                margin-bottom: 15px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }

            img {
                width: 65px;

                @include mobile() {
                    width: 40px;
                }
            }

            .liner-gradient {
                position: absolute;
                height: 2px;
                width: 65px;
                margin: 0 auto;
                background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
                bottom: -19px;
                left: 1px;

                @include mobile() {
                    bottom: -5px;
                    left: 43%;
                    width: 50px;
                    height: 1px;
                }
            }
        }
    }

    .body {
        .view-all {
            margin: 0 auto;
            width: 8rem;
            border: 1px solid $text-yealow;
            border-radius: 15px;
            font-size: 18px;
            margin-top: 3rem;
            padding: 3px 0;

            @include mobile() {}

            a {
                color: $text-yealow;
                transition: 0.4s;

                &:hover {
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }
    }
}


.customer {
    background-image: url(../images/background-customer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 2rem;

    @include mobile() {
        padding-bottom: 0;
    }

    .header {
        color: $colorBackgroundMenu;

        @include mobile() {
            padding-top: 1rem !important;

            h3 {
                font-size: 16px !important;
            }

            .liner-dinamond {
                img {
                    width: 30px;
                }

                .liner {
                    margin-top: 8px;
                }
            }
        }
    }

    .body {
        ._header {
            .line2 {
                margin-top: 20px;
            }

            .item {
                background-color: #f6d68d;
                color: $colorBackgroundMenu;
                text-transform: uppercase;
                text-align: center;
                height: auto;
                padding: 5px 15px;
                font-size: 19px;
                border-radius: 10px;
                font-weight: 500;
                margin: 0 10px;
                cursor: pointer;

                @include mobile {
                    font-size: 8px;
                    padding: 5px 4px;
                    margin: 0px 3px;
                    font-weight: 700;
                }
            }

            .active {
                background-color: $text-yealow !important;
            }
        }

        .slider-cus {
            margin-top: 2rem;
            position: relative;

            // display: none;
            @include mobile() {
                width: 90%;
                margin: 0 auto;
                padding-top: 2rem;
            }

            .swiper-slide-active {
                .text {
                    display: block !important;
                }
            }

            .swiper-slide {
                -webkit-box-shadow: 0px 28px 33px -17px rgba(246, 221, 168, 0.96);
                -moz-box-shadow: 0px 28px 33px -17px rgba(246, 221, 168, 0.96);
                box-shadow: 0px 28px 33px -17px rgba(246, 221, 168, 0.96);

                .text {
                    display: none;
                    transition: 1s;

                    .rs {
                        @include mobile() {
                            font-size: 9px;
                        }
                    }

                    p.name {
                        color: $colorBackgroundMenu;
                        font-weight: bold;
                        margin-top: 10px;
                        margin-bottom: unset;
                        font-size: 22px;

                        @include mobile() {
                            font-size: 11px;
                        }
                    }
                }
            }

            img {
                width: 100%;
            }

            .navi {
                position: absolute;
                z-index: 90;
                top: 30%;
                font-size: 70px;
                font-weight: 500;

                &:focus {
                    outline-color: unset;
                    outline: none;
                }

                i {
                    color: #db8d31;
                }

                @include mobile() {
                    font-size: 35px;
                    top: 35%;
                }
            }

            .c-next {
                right: -35px;

                @include mobile {
                    right: -26px;
                }
            }

            .c-prev {
                left: -35px;

                @include mobile {
                    left: -26px;
                }
            }
        }
    }
}

.news {
    background-image: url(../images/backgroundNew.png);
    height: 100%;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;

    @include mobile() {
        padding-top: 1rem;
        padding-bottom: 1rem;

        .disable-col {
            display: none;
        }
    }

    .tab {
        border: 1px solid $colorBackgroundMenu;
        font-weight: 700;
        color: $colorBackgroundMenu;
        font-size: 15px;
        text-align: center;
        text-transform: uppercase;
        line-height: 35px;
        background-color: white;
        height: 35px;

        .active {
            background-color: $colorBackgroundMenu !important;
            color: $text-yealow !important;
        }

        .event-col-tab {
            //  padding : 5px 10px;
            width: 50%;
            border-right: 1px solid $colorBackgroundMenu;
        }

        .news-col-tab {
            width: 50%;
        }
    }

    .header {
        h3 {
            color: $colorBackgroundMenu;
            font-weight: 600;
            display: inline;
            border-bottom: 2px solid $text-yealow;
        }
    }

    .body {
        @include mobile() {
            margin-top: 1rem;
            overflow: auto;
            height: 28rem;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $colorBackgroundMenu;
                outline: 1px solid slategrey;
            }
        }

        .item {
            width: 100%;
            display: flex;
            margin-top: 1rem;

            .image {
                width: 40%;

                @include mobile() {
                    width: 100%;
                }
            }

            .content {
                margin-left: 10px;
                max-width: 68%;

                @include mobile() {
                    max-width: 50%;
                }

                .title {
                    font-size: 17px;
                    color: $colorBackgroundMenu;
                    font-weight: 600;
                    margin-bottom: unset;

                    @include mobile() {
                        font-size: 11px;
                        font-weight: 700;
                    }
                }

                .des {
                    font-size: 14px;
                    font-weight: 600;
                    color: #3b3b3b;
                    margin-bottom: 5px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @include mobile() {
                        font-size: 12px;
                        -webkit-line-clamp: 3;
                    }

                }

                .read-more {
                    border: 1px solid $colorBackgroundMenu;
                    border-radius: 5px;
                    padding: 2px 10px;

                    @include mobile() {
                        border: none;
                        font-size: 12px;
                        padding: 0;

                        i {
                            font-size: 10px !important;
                        }
                    }

                    a {
                        color: $colorBackgroundMenu;
                        font-weight: 600;
                        font-style: italic;

                        i {
                            font-size: 13px;
                            color: $colorBackgroundMenu;
                        }
                    }
                }
            }
        }

    }

    .ls-new {
        ul {
            list-style-type: none;

            li {
                font-size: 13px;
                margin: 5px 0;

                i {
                    @include mobile() {
                        color: #3c3c3c;
                        font-size: 6px;
                    }

                    font-size: 8px;
                    color: #636363;
                    margin-right: 5px;
                }

                a {
                    color: #006cb1;
                    font-weight: 500;

                    @include mobile() {
                        color: $colorBackgroundMenu;
                    }

                }
            }
        }
    }
}

.recomment {
    background-color: #003544;
    font-style: italic;
    font-size: 12px;
    padding: 5px 0;
}

footer {
    background-image: url('../images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -8rem;
    z-index: 99;
    padding-top: 5rem;

    @include mobile() {
        background-image: url('../images/bgFooterMb.png');
        margin-top: 0;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .one-col {
        @include mobile() {
            display: flex;

            .bkt-img {
                position: absolute;
                right: 15px;
                top: 35px;
                width: 35% !important;
                margin-top: 10px !important;
            }
        }

        img {
            @include mobile() {
                width: 40%;
                margin-left: unset !important;
            }

            width: 65%;

            &:last-child {
                width: 50%;
                margin-top: 5px;
            }
        }

        .list-icon {
            margin-top: 3rem;

            @include mobile() {
                margin-top: 0;
                // padding-top: 25px;
            }

            span {
                @include mobile() {
                    width: 40px;
                    margin: 0 5px;
                }

                img {
                    width: 85%;

                    @include mobile() {
                        width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .title {
        color: $text-yealow;
        font-weight: 600;
        font-size: 20px;

        @include mobile() {
            font-size: 17px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }

    .local {
        .city {
            font-weight: 400;
            color: $text-yealow;
            border-bottom: 1px solid #779ba5;
            // display: inline;
            width: 11rem;
            margin-bottom: unset;

            @include mobile() {
                border-bottom: 1px dotted #779ba5;
            }
        }

        .item {
            display: flex;
            color: white;
            margin-top: 5px;

            i {
                color: #d98d14;
                font-size: 12px;
                margin-top: 7px;
            }

            p {
                margin-left: 7px;
                margin-bottom: unset;

                @include mobile() {
                    font-size: 13px;
                }
            }
        }
    }

    .three-col {
        .text {
            a {
                display: block;
                color: white;
                font-size: 16px;
                cursor: pointer;

                @include mobile() {
                    font-size: 12px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .care {
            font-weight: 400;
            color: $text-yealow;
            // display: inline;
            width: 11rem;
            margin-bottom: unset;
            margin-top: 1rem;
            margin-bottom: 10px;

            @include mobile() {
                text-align: center;

                width: unset;
            }
        }

        .hotline-number {
            color: #004559;
            font-size: 23px;
            padding: 0px 25px;
            background-color: $text-yealow;
            border: none;
            border-radius: 20px;
            height: 34px;
            line-height: 34px;
            font-weight: 700;

            @include mobile() {
                margin-left: 8px;
                border-radius: 10px;
                font-size: 19px;
            }
        }

        .form-contact {
            margin-top: 25px;

            p.tit {
                color: white;
                font-weight: 400;

                img {
                    margin-top: -20px;

                    @include mobile() {
                        width: 25px;
                    }
                }
            }

            input::placeholder {
                font-style: italic;
                font-size: 16px;
                color: black;
            }

            input:focus {
                border-color: unset;
                box-shadow: unset;
            }

            button {
                color: $colorBackgroundMenu;
                font-weight: 600;
                background-color: $text-yealow;
                border: none;

                &:active {
                    color: $colorBackgroundMenu !important;
                    background-color: $text-yealow !important;
                    border-color: unset !important;
                }
            }
        }
    }

    .rq {
        background-color: #003544;
        color: white;
        margin-top: 3rem;

        @include mobile() {
            margin-top: 1.5rem;

        }

        p {
            margin-bottom: unset;
            font-size: 15px;
            padding: 15px 0;

            @include mobile() {
                padding: 0 0 15px 0;
                font-size: 13px;
            }
        }
    }

    .right-bar {
        position: fixed;
        right: 0;
        width: auto;
        height: auto;
        padding: 0 5px;
        background-color: white;
        bottom: 10rem;
        box-sizing: border-box;
        border-top: 2px solid $text-yealow;

        a {
            display: block;
            width: 60px;
            margin: 0 auto;

            &:first-child {
                img {
                    width: 65%;
                }
            }

            &:last-child {
                img {
                    width: 70%;
                }
            }

            img {

                width: 50%;
                margin: 15px 0;
            }
        }

        .center {
            border-top: 1px solid #b2b2b2;
            border-bottom: 1px solid #b2b2b2;
        }
    }

    .bottom-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        // background-color: #002b38;
        // opacity: 0.8;
        text-align: center;
        text-transform: uppercase;
        z-index: 999;
        background-color: rgba(0, 43, 56, 0.3);

        .col-6 {
            //    padding : 10px 0;
        }

        .call-btn-mb {
            background-color: #e23d3b;
            color: white;
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: 700;
            border-radius: 5px;

            .call-i {
                border-right: 1px solid white;
                margin-right: 20px;

                i {
                    font-size: 20px;
                    transform: rotate(-45deg);
                    margin-right: 10px;
                }
            }
        }

        .register-btn-mb {
            color: white;
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-weight: 700;
            background-color: $text-yealow;
            color: $colorBackgroundMenu;
            border-radius: 5px;
        }
    }
}

#subscribe {
    .header {
        background-color: $colorBackgroundMenu;
        padding: 15px 0px;

        @include mobile() {
            height: 15rem;

            .logo-form-mb {
                img {
                    width: 60%;
                    margin-bottom: 1rem;
                }

                .liner {
                    display: block;
                    margin: 0 auto;
                    width: 50%;
                    height: 1px;
                    background-color: $text-yealow;

                }
            }
        }

        h3 {
            color: $text-yealow;

            @include mobile() {
                font-size: 25px !important;
                margin-top: 13px;
            }
        }

        button {
            margin-top: -5rem;
            margin-right: 15px;

            @include mobile() {
                margin-top: -8.5rem;
                margin-right: 7px;
            }

            span {
                color: white;
            }
        }

        img {
            @include desktop() {
                margin-left: -5rem;
                width: 30%;
                margin-top: -4rem;
            }
        }
    }

    .body {
        padding-bottom: 1rem;
        background-image: url(../images/backgroundService.png);
        background-repeat: no-repeat;

        form {
            margin-top: -5.5rem;
            padding-top: 1rem;
            position: relative;
            width: 65%;
            background-color: $text-yealow;

            @include mobile() {
                width: 85%;
            }

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                top: -10px;
                left: 50%;
                background-color: $colorBackgroundMenu;
                transform: rotate(45deg);

                @include mobile() {
                    left: 49%;
                }
            }

            input,
            textarea {
                display: block;
                margin: 0 auto;
                width: 85%;
                border: 0;
                border-radius: 5px;
                margin-top: 5px;
                padding: 10px;
                resize: none;

                @include mobile() {
                    padding: 5px;
                }
            }

            button {
                margin: 0 auto;
                border: none;
                background-color: #e66100;
                color: white;
                padding: 3px 15px;
                display: block;
                width: 85%;
                border-radius: 5px;
            }

            p {
                color: $colorBackgroundMenu;
                font-style: italic;
                font-weight: 600;

                @include mobile() {
                    font-size: 13px;
                    margin-top: 5px;
                }

                span {
                    color: #e66100;
                }
            }
        }
    }
}

// Chuyên mục 
.header-sub-page {
    background-image: unset !important;
    background-color: $colorBackgroundMenu;
    padding: 20px 0 15px 0;
    height: unset;
    box-sizing: border-box;
    border-bottom: 4px solid $text-yealow;
}

body#chuyen-muc {
    .breadcumd {
        margin-top: 1.5rem;
        .text{
            background-color: #ebebeb;
            height: 50px;
            line-height: 50px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 10px;
            a {
                font-size: 16px;
                color: $colorBackgroundMenu;
                font-weight: 600;
            }
        }
    }

    .banner {
        margin-top: 1rem;
        padding-top: unset;
        @include mobile(){
            border-top :unset;
        }
    }

    .main {
        .c-row {
            margin-top: 25px;
        }

        .left-column {
            .header {
                img {
                    margin-top: -10px;
                    margin-right: 5px;
                    @include mobile(){
                        width: 25px;
                    }
                }

                h5 {
                    display: inline;
                    color: $colorBackgroundMenu;
                }
            }

            .body {
                margin-top: 1rem;

                p.desc {
                    font-style: italic;
                    color: black;
                    font-size: 15px;
                    border-bottom: 1px solid #b3b3b3;
                    padding-bottom: 1rem;
                    @include mobile(){
                        // font-weight: 500;
                    }
                }
            }

            .list-news {
                .item {
                    margin: 2.5rem 0;

                    .border-i {
                        img {
                            width: 100%;

                        }
                    }
                    @include mobile(){
                        .cus-mb{
                            padding-right: 0;
                        }
                    }
                    .content-col {
                        padding-left: 0;
                        @include mobile(){
                            padding-left: 15px;
                        }
                        .title-news {
                            a {
                                font-size: 21px !important;
                                color: $colorBackgroundMenu;
                                text-transform: uppercase;
                                display: block;
                                @include mobile(){
                                    font-size: 10px !important;
                                    // font-weight: 700;
                                }
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }

                        .desc {
                            font-size: 12px;
                            font-weight: 600;
                            color: #3b3b3b;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 10px;
                            @include mobile(){
                                display: none;
                            }
                        }

                        .read-more {
                            background-color: $text-yealow;
                            color: $colorBackgroundMenu;
                            border: 0;
                            border-radius: 20px;
                            height: 30px;
                            line-height: 30px;
                            padding: 3px 20px 5px 20px;
                            font-style: italic;
                            margin-top: 20px;
                            @include mobile(){
                                border-radius: 10px;
                                padding: 0px 10px 1px 10px;
                            }
                        }

                        .liner-dotted {
                            border-bottom: 1px dotted #959595;
                            display: block;
                            height: 0.5px;
                            margin-top: 53px;
                            @include mobile(){
                                margin-top: 10px;
                            }
                        }
                    }

                }

                .page-navi {
                    float: right;
                    height: 100%;

                    .active {
                        background-color: $colorBackgroundMenu;

                        // border: none;
                        a {
                            color: white !important;
                        }
                    }

                    .dotdotdot {
                        border: unset;

                    }

                    span {
                        a {
                            color: unset;
                            font-weight: 500;
                        }

                        height: 40px;
                        width: 40px;
                        padding: 5px 12px;
                        border: 1px solid #d7d7d7;
                        font-weight: 600;

                    }

                    .next-page {
                        i {
                            font-size: 10px;
                        }
                    }
                }

                .list-news-sm {
                    margin-top: 6rem;

                    ul {
                        list-style-type: none;

                        li {
                            font-size: 13px;
                            margin: 5px 0;

                            i {
                                @include mobile() {
                                    color: #3c3c3c;
                                    font-size: 6px;
                                }

                                font-size: 8px;
                                color: #636363;
                                margin-right: 5px;
                            }

                            a {
                                color: #006cb1;
                                font-weight: 500;

                                @include mobile() {
                                    color: $colorBackgroundMenu;
                                }

                            }
                        }
                    }
                }
            }
        }

        .right-column {
            .doctor {
                .header {
                    background-color: $colorBackgroundMenu;
                    color: $text-yealow;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 15px;
                    padding: 10px 10px 20px 10px;

                    p {
                        margin-bottom: 10px;
                    }

                    .liner-gradient {
                        width: 95px;
                        height: 2px;
                        background-color: #000000;
                        background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
                        display: block;
                        margin: 0 auto;
                    }
                }

                .body {
                    border: 1px solid #ffd982;
                    background-color: #fffcef;

                    .item {

                        // margin-bottom: 10px;                    
                        .image {
                            background-color: white;
                            border: 2px solid #f7c961;
                            border-top-left-radius: 15px;
                            border-bottom-right-radius: 15px;
                            height: 212px;
                            width: 212px;
                            margin: 10px 0 0 25px;

                            img {
                                margin: 4px;
                            }
                        }

                        .desc {
                            margin-top: 8px;
                            text-align: center;
                            margin-bottom: 25px;

                            ._header {
                                .name {
                                    color: #00465a;
                                    font-weight: 500;
                                    font-size: 20px;
                                    text-transform: uppercase;
                                    margin-bottom: 0;
                                }

                                .local {
                                    display: block;
                                    margin: 0 auto;
                                    width: 50%;
                                    font-size: 12px;
                                    font-weight: 500;
                                    padding-bottom: 5px;
                                }

                                .line {
                                    display: block;
                                    margin: 0 auto;
                                    height: 3px;
                                    background-color: $colorBackgroundMenu;
                                    width: 60px;
                                }
                            }

                            ._body {
                                padding-top: 5px;
                                font-size: 12px;
                                width: 90%;
                                margin: 0 auto;
                                font-weight: 500;

                                li {
                                    list-style-type: none;
                                    text-align: left;
                                    position: relative;
                                    padding-left: 10px;

                                    &::before {
                                        font-family: "Font Awesome 5 Pro";
                                        content: '\f111';
                                        font-weight: 900 !important;
                                        position: absolute;
                                        height: 10px;
                                        width: 10px;
                                        font-size: 4px;
                                        margin-left: -11px;
                                        margin-top: 9px;
                                    }
                                }
                            }
                        }

                    }

                    .swiper-pagination-bullet {
                        background-color: white;
                        border: 1px solid $colorBackgroundMenu;
                        opacity: unset;
                    }

                    .swiper-pagination-bullet-active {
                        background-color: $colorBackgroundMenu !important;
                    }
                }
            }

            .pr {
                background-color: $colorBackgroundMenu;
                padding: 1px 0;
                margin-top: 2rem;

                .boder-y {
                    margin: 10px;
                    border: 1px solid $text-yealow;

                    ._header {
                        p {
                            color: $text-yealow;
                            font-weight: 600;
                            font-size: 16px;
                            padding: 15px;
                            margin-bottom: 0;
                        }

                        .liner {
                            display: block;
                            margin: 0 auto;
                            height: 1px;
                            width: 5rem;
                            background-color: $text-yealow;
                            margin-top: -5px;
                        }
                    }

                    ._body {
                        margin-top: 15px;

                        .item {
                            display: flex;
                            padding: 0 10px;

                            img {
                                width: 45px;
                                height: 20px;
                                margin-top: 12px;
                                margin-right: 5px;
                            }

                            p {
                                text-transform: uppercase;
                                color: white;
                                font-size: 14px;
                                // font-weight: 500;
                            }
                        }
                    }
                }
            }

            .cm-image {
                margin-top: 2rem;
                position: relative;

                .navi {
                    position: absolute;
                    top: 44%;
                    z-index: 999;
                    color: #f7c961;

                    i {
                        font-size: 30px;
                    }
                }

                .cm-next {
                    right: 5px;
                }

                .cm-prev {
                    left: 5px;
                }
            }

            .video-service-cm {
                margin-top: 2rem;

                .header {
                    margin-bottom: 1rem;

                    img {
                        margin-top: -10px;
                        margin-right: 5px;
                    }

                    h5 {
                        display: inline;
                        color: $colorBackgroundMenu;
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                }
            }

            .success-image {
                margin-top: 2rem;

                .header {
                    margin-bottom: 1rem;

                    img {
                        margin-top: -10px;
                        margin-right: 5px;
                    }

                    h5 {
                        display: inline;
                        color: $colorBackgroundMenu;
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                }

                .body {
                    .navi {
                        margin: -10px 0 10px 0;

                        span {
                            background-color: #ebebeb;
                            width: 25px;
                            text-align: center;
                            margin: 5px;
                        }
                    }

                    .slide-success-image {
                        .desc {
                            background-image: url(../images/bg-name-cm.png);
                            background-size: cover;
                            text-align: center;
                            padding-top: 10px;

                            .name {
                                margin-bottom: 0;
                                color: $colorBackgroundMenu;
                                font-weight: 600;
                                font-size: 13px;
                            }

                            .no {
                                font-size: 13px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .qna {
                background-color: #ebebeb;
                width: 100%;
                height: auto;
                padding-top: 1rem;
                padding-bottom: 10px;

                .header {
                    text-align: center;
                    text-transform: uppercase;
                    color: $colorBackgroundMenu;

                    .liner {
                        display: block;
                        margin: 0 auto;
                        height: 1px;
                        width: 5rem;
                        background-color: $text-yealow;
                    }
                }

                .body {
                    padding: 10px;

                    .item {
                        border-bottom: 1px solid #b7b7b7;
                        padding-bottom: 5px;

                        &:last-child {
                            border: 0;
                        }

                        i {
                            color: #d88626;
                            font-size: 8px;
                            margin-right: 8px;
                        }

                        .text {
                            font-size: 12px;
                            color: black;
                            font-weight: 500;
                        }
                    }
                }
            }

            .make-b {
                margin-top: 2rem;

                .header {
                    margin-bottom: 1rem;

                    img {
                        margin-top: -10px;
                        margin-right: 5px;
                    }

                    h5 {
                        display: inline;
                        color: $colorBackgroundMenu;
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                }

                .body {
                    .image {
                        // padding: 5px;
                        // background-color: white;
                        // -webkit-box-shadow: -1px 8px 32px -6px rgba(0, 0, 0, 0.46);
                        // -moz-box-shadow: -1px 8px 32px -6px rgba(0, 0, 0, 0.46);
                        // box-shadow: -1px 8px 32px -6px rgba(0, 0, 0, 0.46);
                    }

                    .desc {
                        .border-b{
                            border-bottom: 1px solid #eaeaea;
                            &:last-child{
                                border : 0;
                            }
                        }
                        .title {
                            margin-bottom: 0;
                            a {
                                color: $colorBackgroundMenu;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                        .content {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 12px;
                            font-weight: 600;
                        }
                        .sm-item{
                            display: flex;
                            padding: 10px 0 ;
                            i{
                                font-size: 8px;
                                padding-top: 7px;
                                margin-left: 5px;
                            }
                            a{
                                color : black;
                                font-size: 12px;
                                margin-left: 5px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

// End chuyên mục