@font-face {
  font-family: beautyFont_cus;
  src: url("../fonts/HLT Hummingbird.ttf");
}

@font-face {
  font-family: beautyFont;
  src: url("../fonts/HLT PFChampionScriptPro-Regular.ttf");
}

@font-face {
  font-family: Helve;
  src: url("../fonts/UTM Helve.ttf");
}

@font-face {
  font-family: BryantLG;
  src: url("../fonts/UTM BryantLG.ttf");
}

* {
  padding: 0;
  margin: 0;
}

.f-white {
  color: white !important;
}

.c-bold-6 {
  font-weight: 600;
}

.c-bold-7 {
  font-weight: 700;
}

.c-bold-5 {
  font-weight: 500;
}

.y-liner {
  background-color: #f7c961;
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 260px;
}

@media (max-width: 479px) {
  .y-liner {
    width: 120px;
  }
}

.opacity-black {
  background-color: black;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -99;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 479px) {
  .mt-3-mb {
    margin-top: 1rem;
  }
}

.disable-dnone {
  display: unset !important;
}

@media (max-width: 479px) {
  .d-none-mb {
    display: none !important;
  }
}

@media (max-width: 479px) {
  .mt-0-mb {
    margin-top: 0 !important;
  }
}

@media (min-width: 1024px) {
  .pr-0-pc {
    padding-right: 0 !important;
  }
}

.fixed-menu {
  position: fixed;
  background-image: unset;
  background-color: #00465a;
  height: 73px;
  padding-top: 0;
  border-bottom: 3px solid #f7c961;
}

header {
  background-image: url(../images/elip.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 190px;
  padding-top: 2rem;
  background-position: center;
  position: absolute;
  z-index: 999;
  -webkit-transition: 0.4;
  transition: 0.4;
}

header .image-logo {
  width: 100%;
}

@media (max-width: 479px) {
  header {
    background-image: unset;
    background-color: #00465a;
    height: 80px;
    padding-top: 10px;
  }
  header .show a.dropdown-toggle::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  header #menu-ds {
    display: unset;
    background-color: #00465a;
    left: -22rem;
    position: absolute;
    height: 95vh;
    top: 20%;
    width: 90%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 9999;
  }
  header #menu-ds ul {
    text-transform: unset !important;
  }
  header #menu-ds ul li.nav-item {
    border-bottom: 1px solid rgba(85, 132, 145, 0.3);
  }
  header #menu-ds ul li.nav-item a {
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    color: #f7c961;
  }
  header #menu-ds ul li.nav-item a br {
    display: none;
  }
  header #menu-ds ul li.nav-item:last-child {
    border-bottom: unset;
    margin-top: 1rem;
  }
  header #menu-ds ul .li-logo img {
    padding: 0 0 10px 20px;
    width: 70%;
    float: left;
  }
  header #menu-ds .close-menu-mb {
    position: absolute;
    right: 10px;
  }
  header #menu-ds .close-menu-mb i {
    color: #f7c961;
    font-size: 16px;
  }
  header #menu-ds span.call {
    background-color: #e23d3b;
    color: white;
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 5px;
  }
  header #menu-ds span.call .call-i {
    border-right: 1px solid white;
    margin-right: 20px;
  }
  header #menu-ds span.call .call-i a {
    padding-left: unset !important;
  }
  header #menu-ds span.call .call-i i {
    font-size: 20px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-right: 10px;
  }
}

@media (max-width: 479px) and (max-width: 479px) {
  header #menu-ds .href-call-mb {
    text-align: center !important;
    padding-left: unset !important;
  }
}

@media (max-width: 479px) {
  header .callRed {
    position: absolute;
    right: 0;
    top: 10px;
  }
  header .callRed img {
    width: 40px;
  }
  header .image-logo {
    width: 70%;
  }
  header .navbar-brand {
    display: block;
    margin: 0 auto;
  }
  header .navbar-toggler {
    position: absolute;
    border-right: 1px solid white !important;
    border: none;
    border-radius: unset;
    left: 0;
    top: 10px;
  }
  header .navbar-toggler:focus {
    border: none;
    outline: unset;
  }
  header .navbar-toggler img {
    width: 35px;
  }
}

header .navbar {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1024px) {
  header .nav-item a {
    color: white !important;
    font-size: 12px;
  }
}

header .nav-item .x-liner {
  background-color: white;
  height: 50px;
  width: 1px;
  display: block;
  position: absolute;
  top: 1%;
  right: -14px;
  opacity: 0.5;
}

@media (max-width: 479px) {
  header .nav-item .x-liner {
    display: none;
  }
}

header .nav-item .sub-now,
header .nav-item .href-call-mb {
  text-decoration: none;
  cursor: pointer;
}

header .nav-item .sub {
  padding: 0 0.5rem 0.5rem 0.5rem;
  height: 25px;
  background-color: #f7c961;
  font-size: 13px;
  line-height: 25px;
  color: #00465a;
  font-weight: bold;
  border-radius: 10px;
}

header .nav-item .call {
  background-color: red;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 7px;
}

header .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  content: "";
  border-top: .3em solid;
  position: absolute;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

@media (max-width: 479px) {
  header .dropdown-toggle::after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    right: 10px;
    top: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .dropdown-toggle::after:active {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#intro-menu-content {
  background-image: url("../images/bgMenugioithieu.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 310px;
  left: -185px;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3px solid #f7c961;
  border-radius: unset;
}

@media (max-width: 479px) {
  #intro-menu-content {
    height: 100%;
    width: 100%;
    background-image: unset;
  }
}

#intro-menu-content .row {
  padding: 5px 10px 0 10px;
}

#intro-menu-content .liner-m {
  display: block;
  height: 2px;
  background-color: #ffebbd;
  width: 190px;
}

@media (max-width: 479px) {
  #intro-menu-content .liner-m {
    height: 1px;
    width: 100%;
  }
}

#intro-menu-content a {
  display: block;
  color: #00465a !important;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
  padding-bottom: 5px;
}

@media (max-width: 479px) {
  #intro-menu-content a {
    color: #c27f00 !important;
  }
}

#intro-menu-content a:hover {
  text-decoration: none;
  cursor: pointer;
}

#nktm-menu-content {
  background-image: url("../images/bg2mn.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 3px solid #f7c961;
  border-radius: unset;
  left: -110px;
}

@media (max-width: 479px) {
  #nktm-menu-content {
    height: 100%;
    width: 100%;
    background-image: unset;
  }
}

#nktm-menu-content .title:not(:first-child) {
  margin-top: 5px;
}

#nktm-menu-content .title img {
  margin-right: 5px;
  width: 25px;
}

@media (max-width: 479px) {
  #nktm-menu-content .title img {
    display: none;
  }
}

#nktm-menu-content .title span.h {
  color: #00465a;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 479px) {
  #nktm-menu-content .title span.h {
    color: #c27f00;
    text-transform: unset !important;
  }
}

#nktm-menu-content .body {
  padding-left: 35px;
  margin-top: 8px;
}

@media (max-width: 479px) {
  #nktm-menu-content .body {
    padding-left: unset;
  }
}

#nktm-menu-content .body a {
  color: #d8a022 !important;
  display: block;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: none;
  cursor: pointer;
}

#nktm-menu-content .body a i {
  color: #d8a022;
  font-size: 7px;
  margin-right: 10px;
}

#nktm-menu-content .body .liner-menu {
  height: 1px;
  display: block;
  width: 100%;
  background-color: #ffebbd;
}

#nkbl-menu-content {
  background-image: url(../images/bgMenu3.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 579px;
  height: 295px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid #f7c961;
  border-radius: unset;
  left: -195px;
}

@media (max-width: 479px) {
  #nkbl-menu-content {
    width: unset;
    background-color: white;
    background-image: unset;
    height: 100%;
  }
}

#nkbl-menu-content .list-item {
  width: 40%;
  margin: 15px 10px;
}

@media (max-width: 479px) {
  #nkbl-menu-content .list-item {
    width: 100%;
    margin: unset;
  }
}

#nkbl-menu-content .list-item a {
  display: block;
  color: #00465a !important;
  font-weight: 500;
  text-transform: none;
  font-size: 16px;
  border-bottom: 1px solid #ffebbd;
  padding: 6px 0;
}

@media (max-width: 479px) {
  #nkbl-menu-content .list-item a {
    color: #c27f00 !important;
  }
}

#videoImage-menu-content {
  background-image: url(../images/backgroundService.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 517px;
  height: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid #f7c961;
  border-radius: unset;
  left: -427px;
}

@media (max-width: 479px) {
  #videoImage-menu-content {
    height: 100%;
    width: 100%;
    background-image: unset;
  }
}

#videoImage-menu-content .title:not(:first-child) {
  margin-top: 5px;
}

#videoImage-menu-content .title img {
  margin-right: 5px;
  width: 25px;
}

@media (max-width: 479px) {
  #videoImage-menu-content .title img {
    display: none;
  }
}

#videoImage-menu-content .title span.h {
  color: #00465a;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 479px) {
  #videoImage-menu-content .title span.h {
    color: #c27f00;
    text-transform: unset !important;
  }
}

#videoImage-menu-content .body {
  padding-left: 35px;
  margin-top: 8px;
}

@media (max-width: 479px) {
  #videoImage-menu-content .body {
    padding-left: unset;
  }
}

#videoImage-menu-content .body a {
  color: #d8a022 !important;
  display: block;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: none;
  cursor: pointer;
}

#videoImage-menu-content .body a i {
  color: #d8a022;
  font-size: 7px;
  margin-right: 10px;
}

#videoImage-menu-content .body .liner-menu {
  height: 1px;
  display: block;
  width: 100%;
  background-color: #ffebbd;
}

#videoImage-menu-content .img-col img {
  margin-top: 10px;
}

#videoImage-menu-content .img-col img:first-child {
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding-top: 120px;
  }
}

@media screen and (min-width: 1400px) {
  .banner {
    padding-top: 80px;
  }
}

@media (max-width: 479px) {
  .banner {
    padding-top: 80px;
    border-top: 1px solid #557379;
  }
}

.banner .swiper-slide img {
  height: 100%;
}

.banner .swiper-pagination-bullet-active {
  background: #f7c961 !important;
}

.banner .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.intro-services {
  background-image: url("../images/backgroundService.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

@media (max-width: 479px) {
  .intro-services {
    padding-bottom: 2rem;
  }
}

.intro-services .active {
  background-color: #ffe2a2 !important;
}

.intro-services .header {
  padding-top: 3rem;
}

@media (max-width: 479px) {
  .intro-services .header {
    padding-top: 2rem;
  }
}

.intro-services .header h3 {
  font-size: 25px;
  font-weight: bold;
  color: #00465a;
}

@media (max-width: 479px) {
  .intro-services .header h3 img {
    width: 35px;
    margin-left: 5px;
    position: absolute;
  }
}

@media (max-width: 479px) {
  .intro-services .body .effect {
    margin-top: 10px;
  }
}

.intro-services .body .b-white {
  background-color: white;
  padding: 15px;
  min-height: 348px;
  cursor: pointer;
}

.intro-services .body .b-white .arrow-right {
  height: 100%;
  display: block;
  background-color: #00465a;
  width: 4px;
  position: absolute;
  right: 11px;
}

.intro-services .body .b-white .arrow-right::before {
  width: 5px;
  content: '';
  top: 45%;
  margin-left: 1px;
  height: 5px;
  position: absolute;
  background-color: #00465a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 479px) {
  .intro-services .body .b-white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: unset;
    padding: unset;
    width: 100%;
  }
}

.intro-services .body ._header {
  padding-top: 15px;
  padding-bottom: 10px;
}

@media (max-width: 479px) {
  .intro-services .body ._header {
    width: 50%;
    padding: 3px 0 3px 3px;
  }
}

.intro-services .body ._header img {
  width: 100%;
}

.intro-services .body ._body {
  padding: 5px;
}

@media (max-width: 479px) {
  .intro-services .body ._body {
    width: 50%;
  }
}

.intro-services .body ._body::before {
  content: "";
  height: 100%;
  width: 4px;
  background-color: #cccccc;
  display: block;
  position: absolute;
  right: 11px;
  margin-top: -4px;
}

@media (min-width: 1024px) {
  .intro-services .body ._body::before {
    display: none;
  }
}

.intro-services .body ._body p {
  color: #00465a;
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 479px) {
  .intro-services .body ._body p {
    font-size: 7px;
    text-align: center;
    margin-bottom: unset;
    font-weight: 700;
  }
}

.intro-services .body .arrow-down {
  display: block;
  background-color: #00465a;
  height: 8px;
  width: 100%;
  position: relative;
  bottom: 0;
}

@media (max-width: 479px) {
  .intro-services .body .arrow-down {
    display: none;
  }
}

.intro-services .body .arrow-down::before {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  top: 3px;
  width: 10px;
  height: 10px;
  left: 7.5rem;
  background-color: #00465a;
}

.intro-services .body .slider-intro {
  margin-top: 3rem;
}

.intro-services .body .slider-intro h4 {
  color: #00465a;
  font-size: 12px;
}

@media (max-width: 479px) {
  .intro-services .body .slider-intro {
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .intro-services .body .slider-intro .row .col-md-7 img {
    height: 100%;
  }
}

.intro-services .body .slider-intro .slider {
  display: none;
}

@media (max-width: 479px) {
  .intro-services .body .slider-intro .slider .row:last-child {
    min-height: 77px;
  }
  .intro-services .body .slider-intro .slider .row:last-child .col-md-12 img {
    height: 100%;
  }
}

@media (max-width: 479px) {
  .intro-services .body .slider-intro .slider .mt-mb {
    margin-top: 10px;
  }
}

h3 {
  font-size: 25px !important;
}

@media (max-width: 479px) {
  h3 {
    font-size: 19px !important;
  }
}

.liner-dinamond .liner {
  position: absolute;
  height: 2px;
  width: 180px;
  display: block;
  margin: 0 auto;
  background: #cba039;
  background: -webkit-gradient(linear, left top, right top, from(#cba039), color-stop(51%, #ffed96), to(#cba039));
  background: linear-gradient(90deg, #cba039 0%, #ffed96 51%, #cba039 100%);
  margin-top: 13px;
}

.liner-dinamond .left {
  left: 35%;
}

.liner-dinamond .right {
  right: 35%;
}

@media (max-width: 479px) {
  .liner-dinamond .left {
    left: 25%;
  }
  .liner-dinamond .right {
    right: 25%;
  }
  .liner-dinamond .liner {
    width: 75px;
    height: 1px;
  }
}

.high-services {
  background-color: #fff6cd;
  height: 100%;
  width: 100%;
  margin-top: -20px;
}

.high-services .header {
  padding-top: 3rem;
}

@media (max-width: 479px) {
  .high-services .header {
    padding-top: 2rem;
  }
  .high-services .header .liner-dinamond .liner {
    margin-top: 8px !important;
  }
  .high-services .header .liner-dinamond img {
    width: 30px;
  }
}

.high-services .header h3 {
  color: #00465a;
  font-size: 25px;
  font-weight: bold;
}

.high-services .body {
  padding-bottom: 5rem;
}

.high-services .body .row {
  margin-top: 3rem;
}

@media (max-width: 479px) {
  .high-services .body .row {
    margin-top: 1rem;
  }
}

@media (max-width: 479px) {
  .high-services .body {
    padding-bottom: 2rem;
  }
  .high-services .body .element {
    margin-top: 3rem;
  }
}

.high-services .body ._header {
  background-color: #004c63;
  padding: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.high-services .body ._header .icon {
  position: absolute;
  margin-top: -2rem;
  z-index: 99;
  left: 20px;
}

@media (max-width: 479px) {
  .high-services .body ._header .icon {
    left: 25px;
  }
  .high-services .body ._header .icon img {
    width: 80%;
  }
}

.high-services .body ._header p {
  color: #ffe779;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: unset;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 479px) {
  .high-services .body ._header p {
    font-size: 15px;
  }
}

.high-services .body ._body {
  background-color: white;
  padding: 5px 10px 0 10px;
  margin-top: -6px;
}

@media (max-width: 479px) {
  .high-services .body ._body {
    padding: 5px 10px 25px 10px;
  }
}

.high-services .body ._body p {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  height: 5.5rem;
  margin-bottom: unset;
}

.high-services .body .liner-gradient {
  height: 4px;
  display: block;
  width: 100%;
  background: #014f65;
  background: -webkit-gradient(linear, left top, right top, from(#014f65), to(#2ec6d1));
  background: linear-gradient(90deg, #014f65 0%, #2ec6d1 100%);
  margin-top: -15px;
}

.doctors {
  background-image: url(../images/doctorsbackground.png);
  width: 100%;
  height: 100%;
}

@media (max-width: 479px) {
  .doctors {
    padding-bottom: 2rem;
  }
}

.doctors .header h3 {
  color: #f7c961;
  font-size: 25px;
}

.doctors .header .liner-gradient {
  display: block;
  height: 2px;
  width: 325px;
  margin: 0 auto;
  background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
}

@media (max-width: 479px) {
  .doctors .header .liner-gradient {
    width: 120px;
  }
}

.doctors .body {
  position: relative;
}

.doctors .body .text {
  color: white;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  padding-top: 2rem;
}

@media (max-width: 479px) {
  .doctors .body .text {
    font-size: 16px;
  }
}

.doctors .body .list-doctors {
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.doctors .body .list-doctors .image {
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

@media (max-width: 479px) {
  .doctors .body .list-doctors .image {
    width: 80%;
  }
}

.doctors .body .list-doctors .image img {
  width: 100%;
}

.doctors .body .list-doctors .swiper-slide-thumb-active .image {
  border: 3px solid #f7c961;
}

.doctors .body .navi {
  position: absolute;
  top: 11rem;
}

@media (max-width: 479px) {
  .doctors .body .navi {
    top: 10rem;
  }
  .doctors .body .navi i {
    font-size: 20px !important;
  }
}

.doctors .body .navi i {
  color: white;
  font-size: 40px;
}

.doctors .body .d-left {
  left: 0;
}

@media (max-width: 479px) {
  .doctors .body .d-left {
    left: -5px;
  }
}

.doctors .body .d-right {
  right: 0;
}

@media (max-width: 479px) {
  .doctors .body .d-right {
    right: -5px;
  }
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor .bi-do {
    margin-top: 1rem;
  }
}

.doctors .body .detail-doctor .read-more {
  display: block;
  margin: 0 auto;
  width: 8.5rem;
  padding: 1px 10px;
  color: #00465a;
  background-color: white;
  border-radius: 5px;
  font-weight: 700;
  background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor img {
    width: 120% !important;
  }
}

.doctors .body .detail-doctor .content {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 20px 0 35px;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor .content {
    border: unset;
    margin-top: 20px;
    padding: unset;
  }
}

.doctors .body .detail-doctor .content ._header h4 {
  color: #f7c961;
  font-weight: 400;
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor .content ._header h4 {
    font-size: 15px;
  }
}

.doctors .body .detail-doctor .content ._header .y-liner {
  width: 150px;
  opacity: 0.5;
  height: 1px;
}

.doctors .body .detail-doctor .content ._body ul {
  margin-top: 2rem;
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor .content ._body ul {
    margin-top: 0;
  }
}

.doctors .body .detail-doctor .content ._body ul li {
  color: white;
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 479px) {
  .doctors .body .detail-doctor .content ._body ul li {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (max-width: 479px) {
  .padding-star {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .padding-star .navi {
    position: absolute;
    top: 25%;
  }
  .padding-star .navi i {
    color: #d99616;
    font-size: 40px;
  }
  .padding-star .s-left {
    left: -28px;
  }
  .padding-star .s-right {
    right: -28px;
  }
}

.star-main {
  background-image: url("../images/backgroundStar.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
}

@media (max-width: 479px) {
  .star-main {
    padding-bottom: 1rem;
  }
}

.star-main .header {
  padding-top: 3.5rem;
}

@media (max-width: 479px) {
  .star-main .header {
    padding-top: 1rem;
  }
}

.star-main .header .title {
  font-family: beautyFont;
  font-size: 100px;
  color: #d99616;
  padding-left: 16rem;
}

@media (max-width: 479px) {
  .star-main .header .title {
    padding: 0 0 0 20px;
    font-size: 50px;
  }
}

.star-main .header .title span {
  font-family: beautyFont_cus;
  font-size: 80px;
}

@media (max-width: 479px) {
  .star-main .header .title span {
    font-size: 50px;
  }
}

.star-main .header .liner-gradient {
  background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
  display: block;
  width: 200px;
  height: 3px;
  margin: 0 auto;
}

@media (max-width: 479px) {
  .star-main .header .liner-gradient {
    width: 5rem;
    height: 1px;
  }
}

.star-main .header h3 {
  color: #00465a;
  font-size: 25px;
  font-weight: bold;
  margin-top: -5rem;
}

@media (max-width: 479px) {
  .star-main .header h3 {
    font-size: 16px !important;
    margin-top: -50px;
  }
}

.star-main .body {
  margin-top: 3rem;
}

@media (max-width: 479px) {
  .star-main .body {
    margin-top: 1rem;
  }
}

.star-main .body .left-column {
  border: 5px solid #d88626;
}

@media (max-width: 479px) {
  .star-main .body .left-column {
    border: 2px solid #d88626;
  }
}

.star-main .body ._header {
  text-align: center;
}

.star-main .body ._header h3 {
  color: #d88626;
  font-size: 30px;
}

@media (max-width: 479px) {
  .star-main .body ._header h3 {
    display: inline;
    font-size: 16px !important;
  }
}

.star-main .body ._header p {
  color: #d88626;
  font-style: italic;
  margin-bottom: unset;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 479px) {
  .star-main .body ._header p {
    display: inline;
    font-size: 13px;
  }
}

.star-main .body ._header .thin-liner {
  width: 109px;
  height: 1px;
  border: 1px solid #f7c961;
  display: block;
  margin: 0 auto;
  opacity: .5;
  margin-top: 15px;
}

@media (max-width: 479px) {
  .star-main .body ._header .thin-liner {
    display: none;
  }
}

.star-main .body ._body {
  padding: 15px;
}

@media (max-width: 479px) {
  .star-main .body ._body {
    padding: 0;
  }
}

.star-main .body ._body .text {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 3rem;
}

@media (max-width: 479px) {
  .star-main .body ._body .text {
    font-size: 12px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
  }
}

.star-main .body ._body .view-detail {
  color: #d88626;
  text-transform: uppercase;
  border: 1px solid #d88626;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin-top: 3rem;
}

@media (max-width: 479px) {
  .star-main .body ._body .view-detail {
    display: none;
  }
}

.star-main .body ._body .view-detail a {
  color: #d88626;
}

.star-main .body .list-stars {
  margin-top: 3rem;
}

@media (max-width: 479px) {
  .star-main .body .list-stars .swiper-slide-thumb-active .unactive {
    border: 1px solid #d88626 !important;
  }
}

@media (max-width: 479px) {
  .star-main .body .list-stars {
    margin-top: -30px;
  }
}

@media (min-width: 1024px) {
  .star-main .body .list-stars .swiper-slide-thumb-active .image .unactive {
    border: none !important;
  }
}

.star-main .body .list-stars .image .small-name {
  font-style: italic;
  font-size: 16px;
  padding-top: 5px;
}

@media (max-width: 479px) {
  .star-main .body .list-stars .image .small-name {
    display: none;
  }
}

.star-main .body .list-stars .image .unactive {
  border: 3px solid white;
  border-radius: 5px;
}

@media (max-width: 479px) {
  .star-main .body .list-stars .image .unactive {
    border: 1px solid white;
  }
}

.star-main .body .list-stars .view-all {
  color: white;
  background-color: #d88626;
  margin: 0 auto;
  width: 8.3rem;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .star-main .body .list-stars .view-all {
    background-color: #ee4d4b;
    border-radius: 5px;
    font-size: 14px;
    padding: 2px 5px;
    margin-top: 1rem;
  }
}

.video-services {
  background-image: url(../images/doctorsbackground.png);
  height: 100%;
  width: 100%;
  padding-bottom: 2.5rem;
}

@media (max-width: 479px) {
  .video-services .header {
    padding-top: 1rem !important;
  }
}

.video-services .header h3 {
  color: #f7c961;
  font-size: 25px;
}

.video-services .header .dinamond {
  position: relative;
  margin-right: 15px;
}

@media (max-width: 479px) {
  .video-services .header .dinamond {
    display: block;
    margin-right: unset;
    margin-bottom: 15px;
  }
  .video-services .header .dinamond img {
    display: block;
    margin: 0 auto;
  }
}

.video-services .header .dinamond img {
  width: 65px;
}

@media (max-width: 479px) {
  .video-services .header .dinamond img {
    width: 40px;
  }
}

.video-services .header .dinamond .liner-gradient {
  position: absolute;
  height: 2px;
  width: 65px;
  margin: 0 auto;
  background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
  bottom: -19px;
  left: 1px;
}

@media (max-width: 479px) {
  .video-services .header .dinamond .liner-gradient {
    bottom: -5px;
    left: 43%;
    width: 50px;
    height: 1px;
  }
}

.video-services .body .view-all {
  margin: 0 auto;
  width: 8rem;
  border: 1px solid #f7c961;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 3rem;
  padding: 3px 0;
}

.video-services .body .view-all a {
  color: #f7c961;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.video-services .body .view-all a:hover {
  text-decoration: none;
  font-size: 16px;
}

.customer {
  background-image: url(../images/background-customer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
}

@media (max-width: 479px) {
  .customer {
    padding-bottom: 0;
  }
}

.customer .header {
  color: #00465a;
}

@media (max-width: 479px) {
  .customer .header {
    padding-top: 1rem !important;
  }
  .customer .header h3 {
    font-size: 16px !important;
  }
  .customer .header .liner-dinamond img {
    width: 30px;
  }
  .customer .header .liner-dinamond .liner {
    margin-top: 8px;
  }
}

.customer .body ._header .line2 {
  margin-top: 20px;
}

.customer .body ._header .item {
  background-color: #f6d68d;
  color: #00465a;
  text-transform: uppercase;
  text-align: center;
  height: auto;
  padding: 5px 15px;
  font-size: 19px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 479px) {
  .customer .body ._header .item {
    font-size: 8px;
    padding: 5px 4px;
    margin: 0px 3px;
    font-weight: 700;
  }
}

.customer .body ._header .active {
  background-color: #f7c961 !important;
}

.customer .body .slider-cus {
  margin-top: 2rem;
  position: relative;
}

@media (max-width: 479px) {
  .customer .body .slider-cus {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
  }
}

.customer .body .slider-cus .swiper-slide-active .text {
  display: block !important;
}

.customer .body .slider-cus .swiper-slide {
  -webkit-box-shadow: 0px 28px 33px -17px rgba(246, 221, 168, 0.96);
  box-shadow: 0px 28px 33px -17px rgba(246, 221, 168, 0.96);
}

.customer .body .slider-cus .swiper-slide .text {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 479px) {
  .customer .body .slider-cus .swiper-slide .text .rs {
    font-size: 9px;
  }
}

.customer .body .slider-cus .swiper-slide .text p.name {
  color: #00465a;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: unset;
  font-size: 22px;
}

@media (max-width: 479px) {
  .customer .body .slider-cus .swiper-slide .text p.name {
    font-size: 11px;
  }
}

.customer .body .slider-cus img {
  width: 100%;
}

.customer .body .slider-cus .navi {
  position: absolute;
  z-index: 90;
  top: 30%;
  font-size: 70px;
  font-weight: 500;
}

.customer .body .slider-cus .navi:focus {
  outline-color: unset;
  outline: none;
}

.customer .body .slider-cus .navi i {
  color: #db8d31;
}

@media (max-width: 479px) {
  .customer .body .slider-cus .navi {
    font-size: 35px;
    top: 35%;
  }
}

.customer .body .slider-cus .c-next {
  right: -35px;
}

@media (max-width: 479px) {
  .customer .body .slider-cus .c-next {
    right: -26px;
  }
}

.customer .body .slider-cus .c-prev {
  left: -35px;
}

@media (max-width: 479px) {
  .customer .body .slider-cus .c-prev {
    left: -26px;
  }
}

.news {
  background-image: url(../images/backgroundNew.png);
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

@media (max-width: 479px) {
  .news {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .news .disable-col {
    display: none;
  }
}

.news .tab {
  border: 1px solid #00465a;
  font-weight: 700;
  color: #00465a;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 35px;
  background-color: white;
  height: 35px;
}

.news .tab .active {
  background-color: #00465a !important;
  color: #f7c961 !important;
}

.news .tab .event-col-tab {
  width: 50%;
  border-right: 1px solid #00465a;
}

.news .tab .news-col-tab {
  width: 50%;
}

.news .header h3 {
  color: #00465a;
  font-weight: 600;
  display: inline;
  border-bottom: 2px solid #f7c961;
}

@media (max-width: 479px) {
  .news .body {
    margin-top: 1rem;
    overflow: auto;
    height: 28rem;
  }
  .news .body::-webkit-scrollbar {
    width: 5px;
  }
  .news .body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .news .body::-webkit-scrollbar-thumb {
    background-color: #00465a;
    outline: 1px solid slategrey;
  }
}

.news .body .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.news .body .item .image {
  width: 40%;
}

@media (max-width: 479px) {
  .news .body .item .image {
    width: 100%;
  }
}

.news .body .item .content {
  margin-left: 10px;
  max-width: 68%;
}

@media (max-width: 479px) {
  .news .body .item .content {
    max-width: 50%;
  }
}

.news .body .item .content .title {
  font-size: 17px;
  color: #00465a;
  font-weight: 600;
  margin-bottom: unset;
}

@media (max-width: 479px) {
  .news .body .item .content .title {
    font-size: 11px;
    font-weight: 700;
  }
}

.news .body .item .content .des {
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 479px) {
  .news .body .item .content .des {
    font-size: 12px;
    -webkit-line-clamp: 3;
  }
}

.news .body .item .content .read-more {
  border: 1px solid #00465a;
  border-radius: 5px;
  padding: 2px 10px;
}

@media (max-width: 479px) {
  .news .body .item .content .read-more {
    border: none;
    font-size: 12px;
    padding: 0;
  }
  .news .body .item .content .read-more i {
    font-size: 10px !important;
  }
}

.news .body .item .content .read-more a {
  color: #00465a;
  font-weight: 600;
  font-style: italic;
}

.news .body .item .content .read-more a i {
  font-size: 13px;
  color: #00465a;
}

.news .ls-new ul {
  list-style-type: none;
}

.news .ls-new ul li {
  font-size: 13px;
  margin: 5px 0;
}

.news .ls-new ul li i {
  font-size: 8px;
  color: #636363;
  margin-right: 5px;
}

@media (max-width: 479px) {
  .news .ls-new ul li i {
    color: #3c3c3c;
    font-size: 6px;
  }
}

.news .ls-new ul li a {
  color: #006cb1;
  font-weight: 500;
}

@media (max-width: 479px) {
  .news .ls-new ul li a {
    color: #00465a;
  }
}

.recomment {
  background-color: #003544;
  font-style: italic;
  font-size: 12px;
  padding: 5px 0;
}

footer {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: -8rem;
  z-index: 99;
  padding-top: 5rem;
}

@media (max-width: 479px) {
  footer {
    background-image: url("../images/bgFooterMb.png");
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 479px) {
  footer .one-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .one-col .bkt-img {
    position: absolute;
    right: 15px;
    top: 35px;
    width: 35% !important;
    margin-top: 10px !important;
  }
}

footer .one-col img {
  width: 65%;
}

@media (max-width: 479px) {
  footer .one-col img {
    width: 40%;
    margin-left: unset !important;
  }
}

footer .one-col img:last-child {
  width: 50%;
  margin-top: 5px;
}

footer .one-col .list-icon {
  margin-top: 3rem;
}

@media (max-width: 479px) {
  footer .one-col .list-icon {
    margin-top: 0;
  }
}

@media (max-width: 479px) {
  footer .one-col .list-icon span {
    width: 40px;
    margin: 0 5px;
  }
}

footer .one-col .list-icon span img {
  width: 85%;
}

@media (max-width: 479px) {
  footer .one-col .list-icon span img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

footer .title {
  color: #f7c961;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 479px) {
  footer .title {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

footer .local .city {
  font-weight: 400;
  color: #f7c961;
  border-bottom: 1px solid #779ba5;
  width: 11rem;
  margin-bottom: unset;
}

@media (max-width: 479px) {
  footer .local .city {
    border-bottom: 1px dotted #779ba5;
  }
}

footer .local .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 5px;
}

footer .local .item i {
  color: #d98d14;
  font-size: 12px;
  margin-top: 7px;
}

footer .local .item p {
  margin-left: 7px;
  margin-bottom: unset;
}

@media (max-width: 479px) {
  footer .local .item p {
    font-size: 13px;
  }
}

footer .three-col .text a {
  display: block;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 479px) {
  footer .three-col .text a {
    font-size: 12px;
  }
}

footer .three-col .text a:hover {
  text-decoration: none;
}

footer .three-col .care {
  font-weight: 400;
  color: #f7c961;
  width: 11rem;
  margin-bottom: unset;
  margin-top: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  footer .three-col .care {
    text-align: center;
    width: unset;
  }
}

footer .three-col .hotline-number {
  color: #004559;
  font-size: 23px;
  padding: 0px 25px;
  background-color: #f7c961;
  border: none;
  border-radius: 20px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
}

@media (max-width: 479px) {
  footer .three-col .hotline-number {
    margin-left: 8px;
    border-radius: 10px;
    font-size: 19px;
  }
}

footer .three-col .form-contact {
  margin-top: 25px;
}

footer .three-col .form-contact p.tit {
  color: white;
  font-weight: 400;
}

footer .three-col .form-contact p.tit img {
  margin-top: -20px;
}

@media (max-width: 479px) {
  footer .three-col .form-contact p.tit img {
    width: 25px;
  }
}

footer .three-col .form-contact input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 16px;
  color: black;
}

footer .three-col .form-contact input:-ms-input-placeholder {
  font-style: italic;
  font-size: 16px;
  color: black;
}

footer .three-col .form-contact input::-ms-input-placeholder {
  font-style: italic;
  font-size: 16px;
  color: black;
}

footer .three-col .form-contact input::placeholder {
  font-style: italic;
  font-size: 16px;
  color: black;
}

footer .three-col .form-contact input:focus {
  border-color: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

footer .three-col .form-contact button {
  color: #00465a;
  font-weight: 600;
  background-color: #f7c961;
  border: none;
}

footer .three-col .form-contact button:active {
  color: #00465a !important;
  background-color: #f7c961 !important;
  border-color: unset !important;
}

footer .rq {
  background-color: #003544;
  color: white;
  margin-top: 3rem;
}

@media (max-width: 479px) {
  footer .rq {
    margin-top: 1.5rem;
  }
}

footer .rq p {
  margin-bottom: unset;
  font-size: 15px;
  padding: 15px 0;
}

@media (max-width: 479px) {
  footer .rq p {
    padding: 0 0 15px 0;
    font-size: 13px;
  }
}

footer .right-bar {
  position: fixed;
  right: 0;
  width: auto;
  height: auto;
  padding: 0 5px;
  background-color: white;
  bottom: 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #f7c961;
}

footer .right-bar a {
  display: block;
  width: 60px;
  margin: 0 auto;
}

footer .right-bar a:first-child img {
  width: 65%;
}

footer .right-bar a:last-child img {
  width: 70%;
}

footer .right-bar a img {
  width: 50%;
  margin: 15px 0;
}

footer .right-bar .center {
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}

footer .bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  background-color: rgba(0, 43, 56, 0.3);
}

footer .bottom-bar .call-btn-mb {
  background-color: #e23d3b;
  color: white;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 5px;
}

footer .bottom-bar .call-btn-mb .call-i {
  border-right: 1px solid white;
  margin-right: 20px;
}

footer .bottom-bar .call-btn-mb .call-i i {
  font-size: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: 10px;
}

footer .bottom-bar .register-btn-mb {
  color: white;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  background-color: #f7c961;
  color: #00465a;
  border-radius: 5px;
}

#subscribe .header {
  background-color: #00465a;
  padding: 15px 0px;
}

@media (max-width: 479px) {
  #subscribe .header {
    height: 15rem;
  }
  #subscribe .header .logo-form-mb img {
    width: 60%;
    margin-bottom: 1rem;
  }
  #subscribe .header .logo-form-mb .liner {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: #f7c961;
  }
}

#subscribe .header h3 {
  color: #f7c961;
}

@media (max-width: 479px) {
  #subscribe .header h3 {
    font-size: 25px !important;
    margin-top: 13px;
  }
}

#subscribe .header button {
  margin-top: -5rem;
  margin-right: 15px;
}

@media (max-width: 479px) {
  #subscribe .header button {
    margin-top: -8.5rem;
    margin-right: 7px;
  }
}

#subscribe .header button span {
  color: white;
}

@media (min-width: 1024px) {
  #subscribe .header img {
    margin-left: -5rem;
    width: 30%;
    margin-top: -4rem;
  }
}

#subscribe .body {
  padding-bottom: 1rem;
  background-image: url(../images/backgroundService.png);
  background-repeat: no-repeat;
}

#subscribe .body form {
  margin-top: -5.5rem;
  padding-top: 1rem;
  position: relative;
  width: 65%;
  background-color: #f7c961;
}

@media (max-width: 479px) {
  #subscribe .body form {
    width: 85%;
  }
}

#subscribe .body form::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  background-color: #00465a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 479px) {
  #subscribe .body form::after {
    left: 49%;
  }
}

#subscribe .body form input,
#subscribe .body form textarea {
  display: block;
  margin: 0 auto;
  width: 85%;
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  resize: none;
}

@media (max-width: 479px) {
  #subscribe .body form input,
  #subscribe .body form textarea {
    padding: 5px;
  }
}

#subscribe .body form button {
  margin: 0 auto;
  border: none;
  background-color: #e66100;
  color: white;
  padding: 3px 15px;
  display: block;
  width: 85%;
  border-radius: 5px;
}

#subscribe .body form p {
  color: #00465a;
  font-style: italic;
  font-weight: 600;
}

@media (max-width: 479px) {
  #subscribe .body form p {
    font-size: 13px;
    margin-top: 5px;
  }
}

#subscribe .body form p span {
  color: #e66100;
}

.header-sub-page {
  background-image: unset !important;
  background-color: #00465a;
  padding: 20px 0 15px 0;
  height: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 4px solid #f7c961;
}

body#chuyen-muc .breadcumd {
  margin-top: 1.5rem;
}

body#chuyen-muc .breadcumd .text {
  background-color: #ebebeb;
  height: 50px;
  line-height: 50px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 10px;
}

body#chuyen-muc .breadcumd .text a {
  font-size: 16px;
  color: #00465a;
  font-weight: 600;
}

body#chuyen-muc .banner {
  margin-top: 1rem;
  padding-top: unset;
}

@media (max-width: 479px) {
  body#chuyen-muc .banner {
    border-top: unset;
  }
}

body#chuyen-muc .main .c-row {
  margin-top: 25px;
}

body#chuyen-muc .main .left-column .header img {
  margin-top: -10px;
  margin-right: 5px;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .header img {
    width: 25px;
  }
}

body#chuyen-muc .main .left-column .header h5 {
  display: inline;
  color: #00465a;
}

body#chuyen-muc .main .left-column .body {
  margin-top: 1rem;
}

body#chuyen-muc .main .left-column .body p.desc {
  font-style: italic;
  color: black;
  font-size: 15px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 1rem;
}

body#chuyen-muc .main .left-column .list-news .item {
  margin: 2.5rem 0;
}

body#chuyen-muc .main .left-column .list-news .item .border-i img {
  width: 100%;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .cus-mb {
    padding-right: 0;
  }
}

body#chuyen-muc .main .left-column .list-news .item .content-col {
  padding-left: 0;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .content-col {
    padding-left: 15px;
  }
}

body#chuyen-muc .main .left-column .list-news .item .content-col .title-news a {
  font-size: 21px !important;
  color: #00465a;
  text-transform: uppercase;
  display: block;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .content-col .title-news a {
    font-size: 10px !important;
  }
}

body#chuyen-muc .main .left-column .list-news .item .content-col .title-news a:hover {
  text-decoration: none;
}

body#chuyen-muc .main .left-column .list-news .item .content-col .desc {
  font-size: 12px;
  font-weight: 600;
  color: #3b3b3b;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .content-col .desc {
    display: none;
  }
}

body#chuyen-muc .main .left-column .list-news .item .content-col .read-more {
  background-color: #f7c961;
  color: #00465a;
  border: 0;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  padding: 3px 20px 5px 20px;
  font-style: italic;
  margin-top: 20px;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .content-col .read-more {
    border-radius: 10px;
    padding: 0px 10px 1px 10px;
  }
}

body#chuyen-muc .main .left-column .list-news .item .content-col .liner-dotted {
  border-bottom: 1px dotted #959595;
  display: block;
  height: 0.5px;
  margin-top: 53px;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .item .content-col .liner-dotted {
    margin-top: 10px;
  }
}

body#chuyen-muc .main .left-column .list-news .page-navi {
  float: right;
  height: 100%;
}

body#chuyen-muc .main .left-column .list-news .page-navi .active {
  background-color: #00465a;
}

body#chuyen-muc .main .left-column .list-news .page-navi .active a {
  color: white !important;
}

body#chuyen-muc .main .left-column .list-news .page-navi .dotdotdot {
  border: unset;
}

body#chuyen-muc .main .left-column .list-news .page-navi span {
  height: 40px;
  width: 40px;
  padding: 5px 12px;
  border: 1px solid #d7d7d7;
  font-weight: 600;
}

body#chuyen-muc .main .left-column .list-news .page-navi span a {
  color: unset;
  font-weight: 500;
}

body#chuyen-muc .main .left-column .list-news .page-navi .next-page i {
  font-size: 10px;
}

body#chuyen-muc .main .left-column .list-news .list-news-sm {
  margin-top: 6rem;
}

body#chuyen-muc .main .left-column .list-news .list-news-sm ul {
  list-style-type: none;
}

body#chuyen-muc .main .left-column .list-news .list-news-sm ul li {
  font-size: 13px;
  margin: 5px 0;
}

body#chuyen-muc .main .left-column .list-news .list-news-sm ul li i {
  font-size: 8px;
  color: #636363;
  margin-right: 5px;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .list-news-sm ul li i {
    color: #3c3c3c;
    font-size: 6px;
  }
}

body#chuyen-muc .main .left-column .list-news .list-news-sm ul li a {
  color: #006cb1;
  font-weight: 500;
}

@media (max-width: 479px) {
  body#chuyen-muc .main .left-column .list-news .list-news-sm ul li a {
    color: #00465a;
  }
}

body#chuyen-muc .main .right-column .doctor .header {
  background-color: #00465a;
  color: #f7c961;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 10px 20px 10px;
}

body#chuyen-muc .main .right-column .doctor .header p {
  margin-bottom: 10px;
}

body#chuyen-muc .main .right-column .doctor .header .liner-gradient {
  width: 95px;
  height: 2px;
  background-color: #000000;
  background-image: linear-gradient(87deg, #cba039 0%, #ffed96 54%, #b2893e 100%);
  display: block;
  margin: 0 auto;
}

body#chuyen-muc .main .right-column .doctor .body {
  border: 1px solid #ffd982;
  background-color: #fffcef;
}

body#chuyen-muc .main .right-column .doctor .body .item .image {
  background-color: white;
  border: 2px solid #f7c961;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 212px;
  width: 212px;
  margin: 10px 0 0 25px;
}

body#chuyen-muc .main .right-column .doctor .body .item .image img {
  margin: 4px;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 25px;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._header .name {
  color: #00465a;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._header .local {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 5px;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._header .line {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: #00465a;
  width: 60px;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._body {
  padding-top: 5px;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
  font-weight: 500;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._body li {
  list-style-type: none;
  text-align: left;
  position: relative;
  padding-left: 10px;
}

body#chuyen-muc .main .right-column .doctor .body .item .desc ._body li::before {
  font-family: "Font Awesome 5 Pro";
  content: '\f111';
  font-weight: 900 !important;
  position: absolute;
  height: 10px;
  width: 10px;
  font-size: 4px;
  margin-left: -11px;
  margin-top: 9px;
}

body#chuyen-muc .main .right-column .doctor .body .swiper-pagination-bullet {
  background-color: white;
  border: 1px solid #00465a;
  opacity: unset;
}

body#chuyen-muc .main .right-column .doctor .body .swiper-pagination-bullet-active {
  background-color: #00465a !important;
}

body#chuyen-muc .main .right-column .pr {
  background-color: #00465a;
  padding: 1px 0;
  margin-top: 2rem;
}

body#chuyen-muc .main .right-column .pr .boder-y {
  margin: 10px;
  border: 1px solid #f7c961;
}

body#chuyen-muc .main .right-column .pr .boder-y ._header p {
  color: #f7c961;
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 0;
}

body#chuyen-muc .main .right-column .pr .boder-y ._header .liner {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 5rem;
  background-color: #f7c961;
  margin-top: -5px;
}

body#chuyen-muc .main .right-column .pr .boder-y ._body {
  margin-top: 15px;
}

body#chuyen-muc .main .right-column .pr .boder-y ._body .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

body#chuyen-muc .main .right-column .pr .boder-y ._body .item img {
  width: 45px;
  height: 20px;
  margin-top: 12px;
  margin-right: 5px;
}

body#chuyen-muc .main .right-column .pr .boder-y ._body .item p {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

body#chuyen-muc .main .right-column .cm-image {
  margin-top: 2rem;
  position: relative;
}

body#chuyen-muc .main .right-column .cm-image .navi {
  position: absolute;
  top: 44%;
  z-index: 999;
  color: #f7c961;
}

body#chuyen-muc .main .right-column .cm-image .navi i {
  font-size: 30px;
}

body#chuyen-muc .main .right-column .cm-image .cm-next {
  right: 5px;
}

body#chuyen-muc .main .right-column .cm-image .cm-prev {
  left: 5px;
}

body#chuyen-muc .main .right-column .video-service-cm {
  margin-top: 2rem;
}

body#chuyen-muc .main .right-column .video-service-cm .header {
  margin-bottom: 1rem;
}

body#chuyen-muc .main .right-column .video-service-cm .header img {
  margin-top: -10px;
  margin-right: 5px;
}

body#chuyen-muc .main .right-column .video-service-cm .header h5 {
  display: inline;
  color: #00465a;
  text-transform: uppercase;
  font-size: 18px;
}

body#chuyen-muc .main .right-column .success-image {
  margin-top: 2rem;
}

body#chuyen-muc .main .right-column .success-image .header {
  margin-bottom: 1rem;
}

body#chuyen-muc .main .right-column .success-image .header img {
  margin-top: -10px;
  margin-right: 5px;
}

body#chuyen-muc .main .right-column .success-image .header h5 {
  display: inline;
  color: #00465a;
  text-transform: uppercase;
  font-size: 18px;
}

body#chuyen-muc .main .right-column .success-image .body .navi {
  margin: -10px 0 10px 0;
}

body#chuyen-muc .main .right-column .success-image .body .navi span {
  background-color: #ebebeb;
  width: 25px;
  text-align: center;
  margin: 5px;
}

body#chuyen-muc .main .right-column .success-image .body .slide-success-image .desc {
  background-image: url(../images/bg-name-cm.png);
  background-size: cover;
  text-align: center;
  padding-top: 10px;
}

body#chuyen-muc .main .right-column .success-image .body .slide-success-image .desc .name {
  margin-bottom: 0;
  color: #00465a;
  font-weight: 600;
  font-size: 13px;
}

body#chuyen-muc .main .right-column .success-image .body .slide-success-image .desc .no {
  font-size: 13px;
  font-weight: 500;
}

body#chuyen-muc .main .right-column .qna {
  background-color: #ebebeb;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 10px;
}

body#chuyen-muc .main .right-column .qna .header {
  text-align: center;
  text-transform: uppercase;
  color: #00465a;
}

body#chuyen-muc .main .right-column .qna .header .liner {
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 5rem;
  background-color: #f7c961;
}

body#chuyen-muc .main .right-column .qna .body {
  padding: 10px;
}

body#chuyen-muc .main .right-column .qna .body .item {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 5px;
}

body#chuyen-muc .main .right-column .qna .body .item:last-child {
  border: 0;
}

body#chuyen-muc .main .right-column .qna .body .item i {
  color: #d88626;
  font-size: 8px;
  margin-right: 8px;
}

body#chuyen-muc .main .right-column .qna .body .item .text {
  font-size: 12px;
  color: black;
  font-weight: 500;
}

body#chuyen-muc .main .right-column .make-b {
  margin-top: 2rem;
}

body#chuyen-muc .main .right-column .make-b .header {
  margin-bottom: 1rem;
}

body#chuyen-muc .main .right-column .make-b .header img {
  margin-top: -10px;
  margin-right: 5px;
}

body#chuyen-muc .main .right-column .make-b .header h5 {
  display: inline;
  color: #00465a;
  text-transform: uppercase;
  font-size: 18px;
}

body#chuyen-muc .main .right-column .make-b .body .desc .border-b {
  border-bottom: 1px solid #eaeaea;
}

body#chuyen-muc .main .right-column .make-b .body .desc .border-b:last-child {
  border: 0;
}

body#chuyen-muc .main .right-column .make-b .body .desc .title {
  margin-bottom: 0;
}

body#chuyen-muc .main .right-column .make-b .body .desc .title a {
  color: #00465a;
  font-size: 14px;
  font-weight: 600;
}

body#chuyen-muc .main .right-column .make-b .body .desc .content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 600;
}

body#chuyen-muc .main .right-column .make-b .body .desc .sm-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

body#chuyen-muc .main .right-column .make-b .body .desc .sm-item i {
  font-size: 8px;
  padding-top: 7px;
  margin-left: 5px;
}

body#chuyen-muc .main .right-column .make-b .body .desc .sm-item a {
  color: black;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 500;
}
/*# sourceMappingURL=all.css.map */